<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<br><br><br>
<div class="row">
  <div class="col-md-3">
<table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>tersebut</td>
      <td>88</td>
      <td>-5.808814</td>
    </tr>
    <tr>
      <th>2</th>
      <td>buat</td>
      <td>64</td>
      <td>-6.099746</td>
    </tr>
    <tr>
      <th>3</th>
      <td>membuat</td>
      <td>43</td>
      <td>-6.085605</td>
    </tr>
    <tr>
      <th>4</th>
      <td>bikin</td>
      <td>40</td>
      <td>-5.299334</td>
    </tr>
    <tr>
      <th>5</th>
      <td>punya</td>
      <td>35</td>
      <td>-5.970204</td>
    </tr>
    <tr>
      <th>6</th>
      <td>menjadi</td>
      <td>35</td>
      <td>-6.696213</td>
    </tr>
    <tr>
      <th>7</th>
      <td>mulai</td>
      <td>33</td>
      <td>-6.251896</td>
    </tr>
    <tr>
      <th>8</th>
      <td>nanti</td>
      <td>31</td>
      <td>-5.874370</td>
    </tr>
    <tr>
      <th>9</th>
      <td>diri</td>
      <td>31</td>
      <td>-6.435035</td>
    </tr>
    <tr>
      <th>10</th>
      <td>suka</td>
      <td>28</td>
      <td>-5.879710</td>
    </tr>
    <tr>
      <th>11</th>
      <td>mendapatkan</td>
      <td>24</td>
      <td>-6.072500</td>
    </tr>
    <tr>
      <th>12</th>
      <td>memiliki</td>
      <td>24</td>
      <td>-6.732288</td>
    </tr>
    <tr>
      <th>13</th>
      <td>dapat</td>
      <td>22</td>
      <td>-6.745782</td>
    </tr>
    <tr>
      <th>14</th>
      <td>mengatakan</td>
      <td>22</td>
      <td>-6.593722</td>
    </tr>
    <tr>
      <th>15</th>
      <td>jalan</td>
      <td>21</td>
      <td>-6.255711</td>
    </tr>
    
  </tbody>
</table>
</div>
</div>