<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>menjadi</td>
      <td>137</td>
      <td>-5.658672</td>
    </tr>
    <tr>
      <th>2</th>
      <td>tersebut</td>
      <td>106</td>
      <td>-5.923092</td>
    </tr>
    <tr>
      <th>3</th>
      <td>memiliki</td>
      <td>100</td>
      <td>-5.634006</td>
    </tr>
    <tr>
      <th>4</th>
      <td>membuat</td>
      <td>98</td>
      <td>-5.571436</td>
    </tr>
    <tr>
      <th>5</th>
      <td>terjadi</td>
      <td>85</td>
      <td>-5.447509</td>
    </tr>
    <tr>
      <th>6</th>
      <td>merupakan</td>
      <td>84</td>
      <td>-5.724022</td>
    </tr>
    <tr>
      <th>7</th>
      <td>digunakan</td>
      <td>82</td>
      <td>-5.334593</td>
    </tr>
    <tr>
      <th>8</th>
      <td>menggunakan</td>
      <td>77</td>
      <td>-5.578317</td>
    </tr>
    <tr>
      <th>9</th>
      <td>disebut</td>
      <td>65</td>
      <td>-5.904876</td>
    </tr>
    <tr>
      <th>10</th>
      <td>tahu</td>
      <td>64</td>
      <td>-6.249769</td>
    </tr>
    <tr>
      <th>11</th>
      <td>makan</td>
      <td>58</td>
      <td>-5.500081</td>
    </tr>
    <tr>
      <th>12</th>
      <td>berada</td>
      <td>57</td>
      <td>-5.583784</td>
    </tr>
    <tr>
      <th>13</th>
      <td>melakukan</td>
      <td>56</td>
      <td>-5.968093</td>
    </tr>
    <tr>
      <th>14</th>
      <td>melihat</td>
      <td>55</td>
      <td>-5.706403</td>
    </tr>
    <tr>
      <th>15</th>
      <td>berbeda</td>
      <td>54</td>
      <td>-5.687876</td>
    </tr>
  </tbody>
</table>
  </div>
</div>