<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<br><br>
<div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>mengatakan</td>
      <td>94</td>
      <td>-5.326096</td>
    </tr>
    <tr>
      <th>2</th>
      <td>tersebut</td>
      <td>79</td>
      <td>-6.072196</td>
    </tr>
    <tr>
      <th>3</th>
      <td>menjadi</td>
      <td>57</td>
      <td>-6.380982</td>
    </tr>
    <tr>
      <th>4</th>
      <td>diri</td>
      <td>54</td>
      <td>-6.050220</td>
    </tr>
    <tr>
      <th>5</th>
      <td>memiliki</td>
      <td>52</td>
      <td>-6.138409</td>
    </tr>
    <tr>
      <th>6</th>
      <td>menyatakan</td>
      <td>50</td>
      <td>-5.492981</td>
    </tr>
    <tr>
      <th>7</th>
      <td>menyebut</td>
      <td>50</td>
      <td>-5.635983</td>
    </tr>
    <tr>
      <th>8</th>
      <td>dilansir</td>
      <td>43</td>
      <td>-5.722209</td>
    </tr>
    <tr>
      <th>9</th>
      <td>merupakan</td>
      <td>43</td>
      <td>-6.242924</td>
    </tr>
    <tr>
      <th>10</th>
      <td>diketahui</td>
      <td>38</td>
      <td>-5.869593</td>
    </tr>
    <tr>
      <th>11</th>
      <td>terjadi</td>
      <td>34</td>
      <td>-6.211092</td>
    </tr>
    <tr>
      <th>12</th>
      <td>melakukan</td>
      <td>33</td>
      <td>-6.346914</td>
    </tr>
    <tr>
      <th>13</th>
      <td>bagi</td>
      <td>33</td>
      <td>-6.283461</td>
    </tr>
    <tr>
      <th>14</th>
      <td>kembali</td>
      <td>31</td>
      <td>-6.094738</td>
    </tr>
    <tr>
      <th>15</th>
      <td>disebut</td>
      <td>29</td>
      <td>-6.555485</td>
    </tr>
  </tbody>
</table>
</div>
</div>