<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Precision</th>
      <th>Recall</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.957912</td>
      <td>0.952963</td>
      <td>0.953103</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.959816</td>
      <td>0.952963</td>
      <td>0.952989</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.958620</td>
      <td>0.953333</td>
      <td>0.953333</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.950707</td>
      <td>0.946667</td>
      <td>0.950000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.961904</td>
      <td>0.956667</td>
      <td>0.956552</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.959226</td>
      <td>0.956296</td>
      <td>0.956437</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.956035</td>
      <td>0.952593</td>
      <td>0.952989</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.945758</td>
      <td>0.935556</td>
      <td>0.937989</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.958402</td>
      <td>0.952963</td>
      <td>0.953103</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.953890</td>
      <td>0.946667</td>
      <td>0.948218</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.950262</td>
      <td>0.939259</td>
      <td>0.941207</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.951904</td>
      <td>0.946667</td>
      <td>0.946667</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.955675</td>
      <td>0.946296</td>
      <td>0.948218</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.960034</td>
      <td>0.950000</td>
      <td>0.953218</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.955084</td>
      <td>0.949630</td>
      <td>0.949885</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.958335</td>
      <td>0.952593</td>
      <td>0.953103</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.963670</td>
      <td>0.960000</td>
      <td>0.961667</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.951878</td>
      <td>0.946667</td>
      <td>0.946552</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.963207</td>
      <td>0.959630</td>
      <td>0.959885</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.954781</td>
      <td>0.946296</td>
      <td>0.947989</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.953077</td>
      <td>0.942593</td>
      <td>0.944770</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.958420</td>
      <td>0.953333</td>
      <td>0.953333</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.957242</td>
      <td>0.946667</td>
      <td>0.950000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.955152</td>
      <td>0.950000</td>
      <td>0.950000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.956742</td>
      <td>0.952593</td>
      <td>0.952989</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.952686</td>
      <td>0.946667</td>
      <td>0.948333</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.957138</td>
      <td>0.952963</td>
      <td>0.953218</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0.957737</td>
      <td>0.949259</td>
      <td>0.951207</td>
    </tr>
    <tr>
      <th>28</th>
      <td>0.951466</td>
      <td>0.946667</td>
      <td>0.946552</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0.941089</td>
      <td>0.926667</td>
      <td>0.931667</td>
    </tr>
  </tbody>
</table>