<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<br><br>
<div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>bisa</td>
      <td>76</td>
      <td>-6.172024</td>
    </tr>
    <tr>
      <th>2</th>
      <td>lagu</td>
      <td>68</td>
      <td>-5.667392</td>
    </tr>
    <tr>
      <th>3</th>
      <td>orang</td>
      <td>62</td>
      <td>-6.991153</td>
    </tr>
    <tr>
      <th>4</th>
      <td>film</td>
      <td>62</td>
      <td>-5.714698</td>
    </tr>
    <tr>
      <th>5</th>
      <td>baru</td>
      <td>56</td>
      <td>-6.812874</td>
    </tr>
    <tr>
      <th>6</th>
      <td>hal</td>
      <td>52</td>
      <td>-6.895919</td>
    </tr>
    <tr>
      <th>7</th>
      <td>waktu</td>
      <td>51</td>
      <td>-6.955851</td>
    </tr>
    <tr>
      <th>8</th>
      <td>album</td>
      <td>45</td>
      <td>-5.958393</td>
    </tr>
    <tr>
      <th>9</th>
      <td>tahun</td>
      <td>44</td>
      <td>-7.663445</td>
    </tr>
    <tr>
      <th>10</th>
      <td>tempat</td>
      <td>43</td>
      <td>-6.595518</td>
    </tr>
    <tr>
      <th>11</th>
      <td>mata</td>
      <td>41</td>
      <td>-6.605602</td>
    </tr>
    <tr>
      <th>12</th>
      <td>game</td>
      <td>39</td>
      <td>-6.151309</td>
    </tr>
    <tr>
      <th>13</th>
      <td>nah</td>
      <td>39</td>
      <td>-7.228307</td>
    </tr>
    <tr>
      <th>14</th>
      <td>musik</td>
      <td>39</td>
      <td>-6.240314</td>
    </tr>
    <tr>
      <th>15</th>
      <td>mau</td>
      <td>38</td>
      <td>-6.589969</td>
    </tr>
  
  </tbody>
</table>
</div>
</div>