<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<br><br>
<div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>tahun</td>
      <td>128</td>
      <td>-6.827929</td>
    </tr>
    <tr>
      <th>2</th>
      <td>orang</td>
      <td>84</td>
      <td>-6.898873</td>
    </tr>
    <tr>
      <th>3</th>
      <td>pesawat</td>
      <td>81</td>
      <td>-5.779573</td>
    </tr>
    <tr>
      <th>4</th>
      <td>israel</td>
      <td>73</td>
      <td>-5.655725</td>
    </tr>
    <tr>
      <th>5</th>
      <td>kata</td>
      <td>71</td>
      <td>-6.713015</td>
    </tr>
    <tr>
      <th>6</th>
      <td>militer</td>
      <td>63</td>
      <td>-6.010438</td>
    </tr>
    <tr>
      <th>7</th>
      <td>rp</td>
      <td>59</td>
      <td>-6.513138</td>
    </tr>
    <tr>
      <th>8</th>
      <td>china</td>
      <td>57</td>
      <td>-5.955815</td>
    </tr>
    <tr>
      <th>9</th>
      <td>baru</td>
      <td>55</td>
      <td>-7.036703</td>
    </tr>
    <tr>
      <th>10</th>
      <td>presiden</td>
      <td>55</td>
      <td>-6.235552</td>
    </tr>
    <tr>
      <th>11</th>
      <td>hari</td>
      <td>54</td>
      <td>-7.023974</td>
    </tr>
    <tr>
      <th>12</th>
      <td>partai</td>
      <td>53</td>
      <td>-6.052994</td>
    </tr>
    <tr>
      <th>13</th>
      <td>serangan</td>
      <td>51</td>
      <td>-6.239333</td>
    </tr>
    <tr>
      <th>14</th>
      <td>australia</td>
      <td>51</td>
      <td>-6.159408</td>
    </tr>
    <tr>
      <th>15</th>
      <td>negara</td>
      <td>50</td>
      <td>-6.781035</td>
    </tr>
    
  </tbody>
</table>
</div>
</div>