<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<br><br>
<div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>teman</td>
      <td>853</td>
      <td>-4.534470</td>
    </tr>
    <tr>
      <th>2</th>
      <td>tahun</td>
      <td>261</td>
      <td>-6.272744</td>
    </tr>
    <tr>
      <th>3</th>
      <td>bulan</td>
      <td>218</td>
      <td>-5.411362</td>
    </tr>
    <tr>
      <th>4</th>
      <td>orang</td>
      <td>211</td>
      <td>-6.137052</td>
    </tr>
    <tr>
      <th>5</th>
      <td>bumi</td>
      <td>159</td>
      <td>-5.425136</td>
    </tr>
    <tr>
      <th>6</th>
      <td>warna</td>
      <td>148</td>
      <td>-5.417525</td>
    </tr>
    <tr>
      <th>7</th>
      <td>nama</td>
      <td>124</td>
      <td>-6.248147</td>
    </tr>
    <tr>
      <th>8</th>
      <td>hari</td>
      <td>117</td>
      <td>-6.410131</td>
    </tr>
    <tr>
      <th>9</th>
      <td>indonesia</td>
      <td>109</td>
      <td>-6.170410</td>
    </tr>
    <tr>
      <th>10</th>
      <td>baru</td>
      <td>109</td>
      <td>-6.511409</td>
    </tr>
    <tr>
      <th>11</th>
      <td>makanan</td>
      <td>105</td>
      <td>-5.924862</td>
    </tr>
    <tr>
      <th>12</th>
      <td>air</td>
      <td>100</td>
      <td>-6.078422</td>
    </tr>
    <tr>
      <th>13</th>
      <td>nah</td>
      <td>98</td>
      <td>-6.678689</td>
    </tr>
    <tr>
      <th>14</th>
      <td>matahari</td>
      <td>94</td>
      <td>-5.800149</td>
    </tr>
    <tr>
      <th>15</th>
      <td>jepang</td>
      <td>89</td>
      <td>-5.872619</td>
    </tr>
    
  </tbody>
</table>
</div>
</div>