<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Precision</th>
      <th>Recall</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.916743</td>
      <td>0.900000</td>
      <td>0.906552</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.912542</td>
      <td>0.895556</td>
      <td>0.897644</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.925458</td>
      <td>0.909630</td>
      <td>0.914655</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.916971</td>
      <td>0.906296</td>
      <td>0.909770</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.932678</td>
      <td>0.922593</td>
      <td>0.922989</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.921422</td>
      <td>0.908889</td>
      <td>0.914655</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.903391</td>
      <td>0.895185</td>
      <td>0.897644</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.918174</td>
      <td>0.899630</td>
      <td>0.901552</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.914787</td>
      <td>0.909259</td>
      <td>0.907989</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.921298</td>
      <td>0.912963</td>
      <td>0.913218</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.924961</td>
      <td>0.909630</td>
      <td>0.912874</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.925602</td>
      <td>0.918889</td>
      <td>0.919425</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.912171</td>
      <td>0.899259</td>
      <td>0.902874</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.918636</td>
      <td>0.906296</td>
      <td>0.911437</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.914618</td>
      <td>0.896667</td>
      <td>0.898218</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.916982</td>
      <td>0.909630</td>
      <td>0.909770</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.923037</td>
      <td>0.908889</td>
      <td>0.912874</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.911983</td>
      <td>0.898889</td>
      <td>0.901092</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.918715</td>
      <td>0.909630</td>
      <td>0.906322</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.908094</td>
      <td>0.896296</td>
      <td>0.899770</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.920069</td>
      <td>0.906296</td>
      <td>0.909770</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.921764</td>
      <td>0.908519</td>
      <td>0.912874</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.916304</td>
      <td>0.902593</td>
      <td>0.904770</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.916872</td>
      <td>0.906296</td>
      <td>0.906437</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.929874</td>
      <td>0.922593</td>
      <td>0.922874</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.914599</td>
      <td>0.902222</td>
      <td>0.911207</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.920973</td>
      <td>0.909630</td>
      <td>0.909885</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0.930052</td>
      <td>0.916296</td>
      <td>0.918103</td>
    </tr>
    <tr>
      <th>28</th>
      <td>0.924602</td>
      <td>0.912222</td>
      <td>0.914655</td>
    </tr>
  </tbody>
</table>