<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    * {
      font-size: 9px;
    },
    table {
      transform:rotate(90deg);
    }

  </style>
</head>
<div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Precision</th>
      <th>Recall</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.862820</td>
      <td>0.828889</td>
      <td>0.829310</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.866577</td>
      <td>0.828519</td>
      <td>0.829195</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.860512</td>
      <td>0.827778</td>
      <td>0.828966</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.864699</td>
      <td>0.825185</td>
      <td>0.829310</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.857658</td>
      <td>0.818519</td>
      <td>0.822759</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.854173</td>
      <td>0.815185</td>
      <td>0.815977</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.860208</td>
      <td>0.822593</td>
      <td>0.827759</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.855483</td>
      <td>0.804444</td>
      <td>0.808966</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.862599</td>
      <td>0.819630</td>
      <td>0.822874</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.870669</td>
      <td>0.819259</td>
      <td>0.824655</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.867011</td>
      <td>0.815185</td>
      <td>0.819425</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.846616</td>
      <td>0.814074</td>
      <td>0.819080</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.862816</td>
      <td>0.811852</td>
      <td>0.815862</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.849148</td>
      <td>0.802593</td>
      <td>0.811322</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.863933</td>
      <td>0.832222</td>
      <td>0.832759</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.864155</td>
      <td>0.821852</td>
      <td>0.827759</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.863072</td>
      <td>0.828519</td>
      <td>0.832644</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.866994</td>
      <td>0.825556</td>
      <td>0.829310</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.850521</td>
      <td>0.805556</td>
      <td>0.811207</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.865291</td>
      <td>0.815185</td>
      <td>0.822644</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.846131</td>
      <td>0.800000</td>
      <td>0.806140</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.854007</td>
      <td>0.811852</td>
      <td>0.812759</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.846919</td>
      <td>0.809259</td>
      <td>0.812874</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.852967</td>
      <td>0.815556</td>
      <td>0.816207</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.856643</td>
      <td>0.810000</td>
      <td>0.817544</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.841049</td>
      <td>0.808889</td>
      <td>0.810977</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.843545</td>
      <td>0.801481</td>
      <td>0.805977</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0.868897</td>
      <td>0.825185</td>
      <td>0.832874</td>
    </tr>
    <tr>
      <th>28</th>
      <td>0.854854</td>
      <td>0.812593</td>
      <td>0.817989</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0.853687</td>
      <td>0.818889</td>
      <td>0.824540</td>
    </tr>
  </tbody>
</table>
</div>
</div>