<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>262</th>
      <td>sebut</td>
      <td>209</td>
      <td>-5.441634</td>
    </tr>
    <tr>
      <th>554</th>
      <td>jadi</td>
      <td>109</td>
      <td>-5.784459</td>
    </tr>
    <tr>
      <th>368</th>
      <td>kata</td>
      <td>98</td>
      <td>-5.013034</td>
    </tr>
    <tr>
      <th>465</th>
      <td>laku</td>
      <td>76</td>
      <td>-5.613389</td>
    </tr>
    <tr>
      <th>488</th>
      <td>nyata</td>
      <td>68</td>
      <td>-4.954926</td>
    </tr>
    <tr>
      <th>147</th>
      <td>milik</td>
      <td>64</td>
      <td>-5.772452</td>
    </tr>
    <tr>
      <th>502</th>
      <td>diri</td>
      <td>63</td>
      <td>-5.560348</td>
    </tr>
    <tr>
      <th>495</th>
      <td>dapat</td>
      <td>63</td>
      <td>-5.599978</td>
    </tr>
    <tr>
      <th>396</th>
      <td>tahu</td>
      <td>53</td>
      <td>-5.957371</td>
    </tr>
    <tr>
      <th>321</th>
      <td>rupa</td>
      <td>48</td>
      <td>-5.817925</td>
    </tr>
    <tr>
      <th>623</th>
      <td>aku</td>
      <td>46</td>
      <td>-6.433228</td>
    </tr>
    <tr>
      <th>674</th>
      <td>lansir</td>
      <td>46</td>
      <td>-5.427316</td>
    </tr>
    <tr>
      <th>344</th>
      <td>guna</td>
      <td>42</td>
      <td>-6.037243</td>
    </tr>
    <tr>
      <th>22</th>
      <td>bagi</td>
      <td>41</td>
      <td>-5.801967</td>
    </tr>
    <tr>
      <th>390</th>
      <td>kembali</td>
      <td>39</td>
      <td>-5.670187</td>
    </tr>
    <tr>
      <th>652</th>
      <td>tinggal</td>
      <td>39</td>
      <td>-5.624977</td>
    </tr>
    <tr>
      <th>46</th>
      <td>mulai</td>
      <td>34</td>
      <td>-6.095980</td>
    </tr>
    <tr>
      <th>229</th>
      <td>temu</td>
      <td>33</td>
      <td>-5.878216</td>
    </tr>
    <tr>
      <th>608</th>
      <td>kait</td>
      <td>32</td>
      <td>-5.699933</td>
    </tr>
    <tr>
      <th>472</th>
      <td>tetap</td>
      <td>30</td>
      <td>-5.882763</td>
    </tr>
    <tr>
      <th>2</th>
      <td>beri</td>
      <td>30</td>
      <td>-6.168193</td>
    </tr>
    <tr>
      <th>469</th>
      <td>buat</td>
      <td>28</td>
      <td>-6.794390</td>
    </tr>
    <tr>
      <th>626</th>
      <td>kena</td>
      <td>27</td>
      <td>-6.437278</td>
    </tr>
    <tr>
      <th>388</th>
      <td>ujar</td>
      <td>27</td>
      <td>-5.688821</td>
    </tr>
    <tr>
      <th>381</th>
      <td>sama</td>
      <td>27</td>
      <td>-6.063697</td>
    </tr>
    <tr>
      <th>466</th>
      <td>tentang</td>
      <td>27</td>
      <td>-6.159010</td>
    </tr>
    <tr>
      <th>583</th>
      <td>terima</td>
      <td>26</td>
      <td>-5.755710</td>
    </tr>
    <tr>
      <th>112</th>
      <td>jatuh</td>
      <td>26</td>
      <td>-5.679016</td>
    </tr>
    <tr>
      <th>85</th>
      <td>tunjuk</td>
      <td>25</td>
      <td>-5.822956</td>
    </tr>
    <tr>
      <th>659</th>
      <td>lapor</td>
      <td>24</td>
      <td>-5.741408</td>
    </tr>
    <tr>
      <th>348</th>
      <td>tuju</td>
      <td>24</td>
      <td>-5.877002</td>
    </tr>
    <tr>
      <th>132</th>
      <td>kali</td>
      <td>23</td>
      <td>-6.219923</td>
    </tr>
    <tr>
      <th>702</th>
      <td>alami</td>
      <td>23</td>
      <td>-5.959424</td>
    </tr>
    <tr>
      <th>455</th>
      <td>tambah</td>
      <td>23</td>
      <td>-6.176125</td>
    </tr>
    <tr>
      <th>186</th>
      <td>dukung</td>
      <td>23</td>
      <td>-5.656263</td>
    </tr>
    <tr>
      <th>126</th>
      <td>hukum</td>
      <td>23</td>
      <td>-5.656263</td>
    </tr>
    <tr>
      <th>246</th>
      <td>gelar</td>
      <td>23</td>
      <td>-5.846332</td>
    </tr>
    <tr>
      <th>30</th>
      <td>tahan</td>
      <td>22</td>
      <td>-5.859060</td>
    </tr>
    <tr>
      <th>578</th>
      <td>minta</td>
      <td>22</td>
      <td>-5.989542</td>
    </tr>
    <tr>
      <th>168</th>
      <td>kerja</td>
      <td>22</td>
      <td>-6.103953</td>
    </tr>
    <tr>
      <th>650</th>
      <td>lanjut</td>
      <td>21</td>
      <td>-6.061529</td>
    </tr>
    <tr>
      <th>698</th>
      <td>tangkap</td>
      <td>21</td>
      <td>-5.765521</td>
    </tr>
    <tr>
      <th>68</th>
      <td>sampai</td>
      <td>21</td>
      <td>-5.745733</td>
    </tr>
    <tr>
      <th>699</th>
      <td>jalan</td>
      <td>20</td>
      <td>-6.184694</td>
    </tr>
    <tr>
      <th>151</th>
      <td>kenal</td>
      <td>20</td>
      <td>-6.429401</td>
    </tr>
    <tr>
      <th>551</th>
      <td>hidup</td>
      <td>20</td>
      <td>-6.082652</td>
    </tr>
    <tr>
      <th>442</th>
      <td>masuk</td>
      <td>19</td>
      <td>-6.077366</td>
    </tr>
    <tr>
      <th>714</th>
      <td>kursi</td>
      <td>19</td>
      <td>-5.463259</td>
    </tr>
    <tr>
      <th>176</th>
      <td>rasa</td>
      <td>19</td>
      <td>-6.234579</td>
    </tr>
    <tr>
      <th>161</th>
      <td>tulis</td>
      <td>18</td>
      <td>-6.158146</td>
    </tr>
    <tr>
      <th>574</th>
      <td>lihat</td>
      <td>18</td>
      <td>-6.681216</td>
    </tr>
    <tr>
      <th>470</th>
      <td>tuduh</td>
      <td>18</td>
      <td>-5.760280</td>
    </tr>
    <tr>
      <th>153</th>
      <td>tewas</td>
      <td>18</td>
      <td>-5.810086</td>
    </tr>
    <tr>
      <th>490</th>
      <td>jual</td>
      <td>17</td>
      <td>-6.010236</td>
    </tr>
    <tr>
      <th>159</th>
      <td>tegas</td>
      <td>17</td>
      <td>-5.889258</td>
    </tr>
    <tr>
      <th>330</th>
      <td>libat</td>
      <td>17</td>
      <td>-5.952990</td>
    </tr>
    <tr>
      <th>407</th>
      <td>bawa</td>
      <td>16</td>
      <td>-6.633736</td>
    </tr>
    <tr>
      <th>261</th>
      <td>ungkap</td>
      <td>16</td>
      <td>-6.087371</td>
    </tr>
    <tr>
      <th>706</th>
      <td>beli</td>
      <td>16</td>
      <td>-6.069457</td>
    </tr>
    <tr>
      <th>658</th>
      <td>tembak</td>
      <td>16</td>
      <td>-5.848880</td>
    </tr>
    <tr>
      <th>136</th>
      <td>kirim</td>
      <td>15</td>
      <td>-6.150292</td>
    </tr>
    <tr>
      <th>384</th>
      <td>putus</td>
      <td>15</td>
      <td>-6.054962</td>
    </tr>
    <tr>
      <th>265</th>
      <td>pekan</td>
      <td>15</td>
      <td>-5.988733</td>
    </tr>
    <tr>
      <th>260</th>
      <td>ada</td>
      <td>15</td>
      <td>-6.776336</td>
    </tr>
    <tr>
      <th>675</th>
      <td>picu</td>
      <td>15</td>
      <td>-5.939106</td>
    </tr>
    <tr>
      <th>431</th>
      <td>bantu</td>
      <td>14</td>
      <td>-6.268206</td>
    </tr>
    <tr>
      <th>51</th>
      <td>umum</td>
      <td>14</td>
      <td>-6.142606</td>
    </tr>
    <tr>
      <th>467</th>
      <td>seru</td>
      <td>14</td>
      <td>-6.006604</td>
    </tr>
    <tr>
      <th>148</th>
      <td>tahun</td>
      <td>14</td>
      <td>-5.951001</td>
    </tr>
    <tr>
      <th>584</th>
      <td>pilih</td>
      <td>14</td>
      <td>-6.415633</td>
    </tr>
    <tr>
      <th>100</th>
      <td>usia</td>
      <td>14</td>
      <td>-6.181198</td>
    </tr>
    <tr>
      <th>273</th>
      <td>ambil</td>
      <td>14</td>
      <td>-6.402040</td>
    </tr>
    <tr>
      <th>681</th>
      <td>nama</td>
      <td>13</td>
      <td>-6.790399</td>
    </tr>
    <tr>
      <th>573</th>
      <td>pulang</td>
      <td>13</td>
      <td>-6.078991</td>
    </tr>
    <tr>
      <th>6</th>
      <td>mundur</td>
      <td>13</td>
      <td>-6.052114</td>
    </tr>
    <tr>
      <th>160</th>
      <td>bahas</td>
      <td>13</td>
      <td>-6.234321</td>
    </tr>
    <tr>
      <th>193</th>
      <td>terap</td>
      <td>12</td>
      <td>-6.001387</td>
    </tr>
    <tr>
      <th>546</th>
      <td>datang</td>
      <td>12</td>
      <td>-6.577492</td>
    </tr>
    <tr>
      <th>504</th>
      <td>usaha</td>
      <td>12</td>
      <td>-6.312022</td>
    </tr>
    <tr>
      <th>601</th>
      <td>ingat</td>
      <td>12</td>
      <td>-6.479577</td>
    </tr>
    <tr>
      <th>135</th>
      <td>langsung</td>
      <td>12</td>
      <td>-6.272245</td>
    </tr>
    <tr>
      <th>454</th>
      <td>darat</td>
      <td>12</td>
      <td>-6.157028</td>
    </tr>
    <tr>
      <th>559</th>
      <td>tolak</td>
      <td>12</td>
      <td>-6.229299</td>
    </tr>
    <tr>
      <th>241</th>
      <td>keluar</td>
      <td>12</td>
      <td>-6.508769</td>
    </tr>
    <tr>
      <th>394</th>
      <td>rebut</td>
      <td>12</td>
      <td>-6.157028</td>
    </tr>
    <tr>
      <th>501</th>
      <td>ulang</td>
      <td>11</td>
      <td>-6.533063</td>
    </tr>
    <tr>
      <th>382</th>
      <td>duga</td>
      <td>11</td>
      <td>-6.313769</td>
    </tr>
    <tr>
      <th>49</th>
      <td>harap</td>
      <td>11</td>
      <td>-6.290918</td>
    </tr>
    <tr>
      <th>703</th>
      <td>usai</td>
      <td>11</td>
      <td>-6.214915</td>
    </tr>
    <tr>
      <th>220</th>
      <td>rilis</td>
      <td>11</td>
      <td>-6.451086</td>
    </tr>
    <tr>
      <th>549</th>
      <td>ucap</td>
      <td>11</td>
      <td>-6.396273</td>
    </tr>
    <tr>
      <th>179</th>
      <td>lewat</td>
      <td>11</td>
      <td>-6.592421</td>
    </tr>
    <tr>
      <th>73</th>
      <td>asal</td>
      <td>10</td>
      <td>-6.725294</td>
    </tr>
    <tr>
      <th>41</th>
      <td>ikut</td>
      <td>10</td>
      <td>-6.777767</td>
    </tr>
    <tr>
      <th>696</th>
      <td>bawah</td>
      <td>10</td>
      <td>-6.576801</td>
    </tr>
    <tr>
      <th>520</th>
      <td>henti</td>
      <td>10</td>
      <td>-6.406038</td>
    </tr>
    <tr>
      <th>609</th>
      <td>sangka</td>
      <td>10</td>
      <td>-6.248511</td>
    </tr>
    <tr>
      <th>365</th>
      <td>sebab</td>
      <td>10</td>
      <td>-6.560080</td>
    </tr>
    <tr>
      <th>275</th>
      <td>alih</td>
      <td>10</td>
      <td>-6.279033</td>
    </tr>
    <tr>
      <th>577</th>
      <td>luka</td>
      <td>10</td>
      <td>-6.334156</td>
    </tr>
    <tr>
      <th>673</th>
      <td>kecam</td>
      <td>10</td>
      <td>-6.215458</td>
    </tr>
    <tr>
      <th>107</th>
      <td>klaim</td>
      <td>10</td>
      <td>-6.279033</td>
    </tr>
    <tr>
      <th>414</th>
      <td>bicara</td>
      <td>10</td>
      <td>-6.427829</td>
    </tr>
    <tr>
      <th>662</th>
      <td>gabung</td>
      <td>10</td>
      <td>-6.383256</td>
    </tr>
    <tr>
      <th>233</th>
      <td>rencana</td>
      <td>10</td>
      <td>-6.488282</td>
    </tr>
    <tr>
      <th>223</th>
      <td>desak</td>
      <td>10</td>
      <td>-6.279033</td>
    </tr>
    <tr>
      <th>185</th>
      <td>mati</td>
      <td>10</td>
      <td>-6.359350</td>
    </tr>
    <tr>
      <th>342</th>
      <td>lawan</td>
      <td>10</td>
      <td>-6.507057</td>
    </tr>
    <tr>
      <th>493</th>
      <td>pindah</td>
      <td>10</td>
      <td>-6.248511</td>
    </tr>
    <tr>
      <th>453</th>
      <td>pimpin</td>
      <td>10</td>
      <td>-6.359350</td>
    </tr>
    <tr>
      <th>486</th>
      <td>anggap</td>
      <td>10</td>
      <td>-6.764933</td>
    </tr>
    <tr>
      <th>375</th>
      <td>tangan</td>
      <td>9</td>
      <td>-6.550236</td>
    </tr>
    <tr>
      <th>362</th>
      <td>nilai</td>
      <td>9</td>
      <td>-6.381130</td>
    </tr>
    <tr>
      <th>361</th>
      <td>tanya</td>
      <td>9</td>
      <td>-6.484996</td>
    </tr>
    <tr>
      <th>336</th>
      <td>salah</td>
      <td>9</td>
      <td>-6.381130</td>
    </tr>
    <tr>
      <th>555</th>
      <td>tentu</td>
      <td>9</td>
      <td>-6.507694</td>
    </tr>
    <tr>
      <th>282</th>
      <td>tunda</td>
      <td>9</td>
      <td>-6.241565</td>
    </tr>
    <tr>
      <th>468</th>
      <td>tindak</td>
      <td>9</td>
      <td>-6.381130</td>
    </tr>
    <tr>
      <th>23</th>
      <td>terbang</td>
      <td>9</td>
      <td>-6.461175</td>
    </tr>
    <tr>
      <th>526</th>
      <td>habis</td>
      <td>9</td>
      <td>-6.570282</td>
    </tr>
    <tr>
      <th>500</th>
      <td>ubah</td>
      <td>9</td>
      <td>-6.725342</td>
    </tr>
    <tr>
      <th>222</th>
      <td>senjata</td>
      <td>9</td>
      <td>-6.241565</td>
    </tr>
    <tr>
      <th>630</th>
      <td>aju</td>
      <td>9</td>
      <td>-6.507694</td>
    </tr>
    <tr>
      <th>646</th>
      <td>gambar</td>
      <td>9</td>
      <td>-6.798216</td>
    </tr>
    <tr>
      <th>284</th>
      <td>beda</td>
      <td>8</td>
      <td>-7.118608</td>
    </tr>
    <tr>
      <th>542</th>
      <td>sadar</td>
      <td>8</td>
      <td>-6.523076</td>
    </tr>
    <tr>
      <th>264</th>
      <td>naik</td>
      <td>8</td>
      <td>-6.642475</td>
    </tr>
    <tr>
      <th>291</th>
      <td>pukul</td>
      <td>8</td>
      <td>-6.620866</td>
    </tr>
    <tr>
      <th>548</th>
      <td>jelas</td>
      <td>8</td>
      <td>-6.721005</td>
    </tr>
    <tr>
      <th>345</th>
      <td>selidik</td>
      <td>8</td>
      <td>-6.355813</td>
    </tr>
    <tr>
      <th>243</th>
      <td>capai</td>
      <td>8</td>
      <td>-6.790088</td>
    </tr>
    <tr>
      <th>310</th>
      <td>main</td>
      <td>8</td>
      <td>-6.837396</td>
    </tr>
    <tr>
      <th>328</th>
      <td>gerak</td>
      <td>8</td>
      <td>-6.683157</td>
    </tr>
    <tr>
      <th>446</th>
      <td>catat</td>
      <td>8</td>
      <td>-6.549559</td>
    </tr>
    <tr>
      <th>320</th>
      <td>punya</td>
      <td>8</td>
      <td>-7.285799</td>
    </tr>
    <tr>
      <th>724</th>
      <td>cari</td>
      <td>8</td>
      <td>-7.140646</td>
    </tr>
    <tr>
      <th>5</th>
      <td>buka</td>
      <td>8</td>
      <td>-6.790088</td>
    </tr>
    <tr>
      <th>9</th>
      <td>isi</td>
      <td>8</td>
      <td>-7.140646</td>
    </tr>
    <tr>
      <th>572</th>
      <td>unjung</td>
      <td>8</td>
      <td>-6.909838</td>
    </tr>
    <tr>
      <th>402</th>
      <td>bakar</td>
      <td>7</td>
      <td>-6.677598</td>
    </tr>
    <tr>
      <th>682</th>
      <td>tempat</td>
      <td>7</td>
      <td>-6.677598</td>
    </tr>
    <tr>
      <th>606</th>
      <td>bahan</td>
      <td>7</td>
      <td>-6.677598</td>
    </tr>
    <tr>
      <th>679</th>
      <td>bangun</td>
      <td>7</td>
      <td>-6.848020</td>
    </tr>
    <tr>
      <th>508</th>
      <td>adil</td>
      <td>7</td>
      <td>-6.387177</td>
    </tr>
    <tr>
      <th>613</th>
      <td>panggil</td>
      <td>7</td>
      <td>-6.560372</td>
    </tr>
    <tr>
      <th>614</th>
      <td>banjir</td>
      <td>7</td>
      <td>-6.323261</td>
    </tr>
    <tr>
      <th>635</th>
      <td>rajam</td>
      <td>7</td>
      <td>-6.323261</td>
    </tr>
    <tr>
      <th>308</th>
      <td>lancar</td>
      <td>7</td>
      <td>-6.593032</td>
    </tr>
    <tr>
      <th>12</th>
      <td>bunuh</td>
      <td>7</td>
      <td>-6.593032</td>
    </tr>
    <tr>
      <th>349</th>
      <td>rancang</td>
      <td>7</td>
      <td>-6.651258</td>
    </tr>
    <tr>
      <th>83</th>
      <td>larang</td>
      <td>7</td>
      <td>-6.560372</td>
    </tr>
    <tr>
      <th>479</th>
      <td>pergi</td>
      <td>7</td>
      <td>-6.769981</td>
    </tr>
    <tr>
      <th>202</th>
      <td>menang</td>
      <td>7</td>
      <td>-6.593032</td>
    </tr>
    <tr>
      <th>461</th>
      <td>pisah</td>
      <td>7</td>
      <td>-6.702457</td>
    </tr>
    <tr>
      <th>62</th>
      <td>arti</td>
      <td>7</td>
      <td>-7.275048</td>
    </tr>
    <tr>
      <th>237</th>
      <td>siap</td>
      <td>7</td>
      <td>-6.900195</td>
    </tr>
    <tr>
      <th>594</th>
      <td>tampung</td>
      <td>7</td>
      <td>-6.524591</td>
    </tr>
    <tr>
      <th>561</th>
      <td>nanti</td>
      <td>7</td>
      <td>-7.174344</td>
    </tr>
    <tr>
      <th>277</th>
      <td>yakin</td>
      <td>7</td>
      <td>-6.726037</td>
    </tr>
    <tr>
      <th>7</th>
      <td>lari</td>
      <td>7</td>
      <td>-6.593032</td>
    </tr>
    <tr>
      <th>710</th>
      <td>kira</td>
      <td>7</td>
      <td>-6.848020</td>
    </tr>
    <tr>
      <th>141</th>
      <td>kunjung</td>
      <td>6</td>
      <td>-6.916153</td>
    </tr>
    <tr>
      <th>75</th>
      <td>identifikasi</td>
      <td>6</td>
      <td>-6.672494</td>
    </tr>
    <tr>
      <th>72</th>
      <td>dorong</td>
      <td>6</td>
      <td>-6.672494</td>
    </tr>
    <tr>
      <th>458</th>
      <td>lobi</td>
      <td>6</td>
      <td>-6.535880</td>
    </tr>
    <tr>
      <th>184</th>
      <td>curiga</td>
      <td>6</td>
      <td>-6.588139</td>
    </tr>
    <tr>
      <th>410</th>
      <td>kutip</td>
      <td>6</td>
      <td>-6.993548</td>
    </tr>
    <tr>
      <th>717</th>
      <td>tingkat</td>
      <td>6</td>
      <td>-6.798320</td>
    </tr>
    <tr>
      <th>352</th>
      <td>hadap</td>
      <td>6</td>
      <td>-6.872551</td>
    </tr>
    <tr>
      <th>77</th>
      <td>kuasa</td>
      <td>6</td>
      <td>-6.708048</td>
    </tr>
    <tr>
      <th>400</th>
      <td>tarik</td>
      <td>6</td>
      <td>-7.361881</td>
    </tr>
    <tr>
      <th>191</th>
      <td>ukur</td>
      <td>6</td>
      <td>-6.916153</td>
    </tr>
    <tr>
      <th>270</th>
      <td>hadir</td>
      <td>6</td>
      <td>-6.956258</td>
    </tr>
    <tr>
      <th>386</th>
      <td>paksa</td>
      <td>6</td>
      <td>-6.849148</td>
    </tr>
    <tr>
      <th>565</th>
      <td>panjang</td>
      <td>6</td>
      <td>-6.632963</td>
    </tr>
    <tr>
      <th>252</th>
      <td>janji</td>
      <td>6</td>
      <td>-6.740494</td>
    </tr>
    <tr>
      <th>82</th>
      <td>menandatangani</td>
      <td>6</td>
      <td>-6.632963</td>
    </tr>
    <tr>
      <th>200</th>
      <td>maksud</td>
      <td>6</td>
      <td>-6.708048</td>
    </tr>
    <tr>
      <th>649</th>
      <td>jaga</td>
      <td>6</td>
      <td>-6.975220</td>
    </tr>
    <tr>
      <th>70</th>
      <td>bandang</td>
      <td>6</td>
      <td>-6.389045</td>
    </tr>
    <tr>
      <th>117</th>
      <td>dakwa</td>
      <td>6</td>
      <td>-6.632963</td>
    </tr>
    <tr>
      <th>660</th>
      <td>dita</td>
      <td>6</td>
      <td>-6.740494</td>
    </tr>
    <tr>
      <th>337</th>
      <td>tanggung</td>
      <td>6</td>
      <td>-6.632963</td>
    </tr>
    <tr>
      <th>562</th>
      <td>bentuk</td>
      <td>6</td>
      <td>-7.205939</td>
    </tr>
    <tr>
      <th>616</th>
      <td>penuh</td>
      <td>6</td>
      <td>-6.916153</td>
    </tr>
    <tr>
      <th>244</th>
      <td>tutur</td>
      <td>6</td>
      <td>-6.632963</td>
    </tr>
    <tr>
      <th>718</th>
      <td>landa</td>
      <td>5</td>
      <td>-6.762478</td>
    </tr>
    <tr>
      <th>654</th>
      <td>politis</td>
      <td>5</td>
      <td>-6.762478</td>
    </tr>
    <tr>
      <th>28</th>
      <td>dengar</td>
      <td>5</td>
      <td>-7.181459</td>
    </tr>
    <tr>
      <th>65</th>
      <td>golong</td>
      <td>5</td>
      <td>-6.762478</td>
    </tr>
    <tr>
      <th>290</th>
      <td>upaya</td>
      <td>5</td>
      <td>-6.806938</td>
    </tr>
    <tr>
      <th>672</th>
      <td>lepas</td>
      <td>5</td>
      <td>-7.044278</td>
    </tr>
    <tr>
      <th>53</th>
      <td>pasang</td>
      <td>5</td>
      <td>-6.996694</td>
    </tr>
    <tr>
      <th>421</th>
      <td>jarak</td>
      <td>5</td>
      <td>-6.881375</td>
    </tr>
    <tr>
      <th>129</th>
      <td>timbang</td>
      <td>5</td>
      <td>-6.881375</td>
    </tr>
    <tr>
      <th>563</th>
      <td>terbit</td>
      <td>5</td>
      <td>-7.021119</td>
    </tr>
    <tr>
      <th>78</th>
      <td>balik</td>
      <td>5</td>
      <td>-7.107625</td>
    </tr>
    <tr>
      <th>231</th>
      <td>asai</td>
      <td>5</td>
      <td>-6.806938</td>
    </tr>
    <tr>
      <th>434</th>
      <td>coba</td>
      <td>5</td>
      <td>-7.347214</td>
    </tr>
    <tr>
      <th>71</th>
      <td>dekat</td>
      <td>5</td>
      <td>-6.943189</td>
    </tr>
    <tr>
      <th>111</th>
      <td>muat</td>
      <td>5</td>
      <td>-6.846134</td>
    </tr>
    <tr>
      <th>297</th>
      <td>turun</td>
      <td>5</td>
      <td>-7.231094</td>
    </tr>
    <tr>
      <th>401</th>
      <td>parkir</td>
      <td>5</td>
      <td>-6.647510</td>
    </tr>
    <tr>
      <th>683</th>
      <td>periksa</td>
      <td>5</td>
      <td>-6.913526</td>
    </tr>
    <tr>
      <th>18</th>
      <td>hancur</td>
      <td>5</td>
      <td>-6.846134</td>
    </tr>
    <tr>
      <th>522</th>
      <td>antar</td>
      <td>5</td>
      <td>-6.846134</td>
    </tr>
    <tr>
      <th>8</th>
      <td>pasuk</td>
      <td>5</td>
      <td>-6.881375</td>
    </tr>
    <tr>
      <th>165</th>
      <td>upa</td>
      <td>5</td>
      <td>-8.099020</td>
    </tr>
    <tr>
      <th>167</th>
      <td>ajar</td>
      <td>5</td>
      <td>-7.087411</td>
    </tr>
    <tr>
      <th>113</th>
      <td>luncur</td>
      <td>5</td>
      <td>-7.021119</td>
    </tr>
    <tr>
      <th>527</th>
      <td>cegah</td>
      <td>5</td>
      <td>-6.913526</td>
    </tr>
    <tr>
      <th>177</th>
      <td>duduk</td>
      <td>5</td>
      <td>-6.881375</td>
    </tr>
    <tr>
      <th>257</th>
      <td>serang</td>
      <td>5</td>
      <td>-6.913526</td>
    </tr>
    <tr>
      <th>96</th>
      <td>bukti</td>
      <td>5</td>
      <td>-7.066331</td>
    </tr>
    <tr>
      <th>364</th>
      <td>atur</td>
      <td>5</td>
      <td>-7.044278</td>
    </tr>
    <tr>
      <th>481</th>
      <td>evakuasi</td>
      <td>5</td>
      <td>-6.762478</td>
    </tr>
    <tr>
      <th>182</th>
      <td>wenang</td>
      <td>5</td>
      <td>-6.762478</td>
    </tr>
    <tr>
      <th>575</th>
      <td>tawar</td>
      <td>5</td>
      <td>-6.913526</td>
    </tr>
    <tr>
      <th>645</th>
      <td>jawab</td>
      <td>5</td>
      <td>-6.881375</td>
    </tr>
    <tr>
      <th>300</th>
      <td>tutup</td>
      <td>5</td>
      <td>-7.181459</td>
    </tr>
    <tr>
      <th>122</th>
      <td>ajak</td>
      <td>5</td>
      <td>-7.044278</td>
    </tr>
    <tr>
      <th>426</th>
      <td>kumpul</td>
      <td>5</td>
      <td>-7.246773</td>
    </tr>
    <tr>
      <th>20</th>
      <td>jabat</td>
      <td>4</td>
      <td>-7.017690</td>
    </tr>
    <tr>
      <th>405</th>
      <td>api</td>
      <td>4</td>
      <td>-7.179364</td>
    </tr>
    <tr>
      <th>708</th>
      <td>pecah</td>
      <td>4</td>
      <td>-6.922508</td>
    </tr>
    <tr>
      <th>688</th>
      <td>daftar</td>
      <td>4</td>
      <td>-7.017690</td>
    </tr>
    <tr>
      <th>419</th>
      <td>operasi</td>
      <td>4</td>
      <td>-7.056395</td>
    </tr>
    <tr>
      <th>413</th>
      <td>mana</td>
      <td>4</td>
      <td>-7.056395</td>
    </tr>
    <tr>
      <th>676</th>
      <td>fungsi</td>
      <td>4</td>
      <td>-7.091177</td>
    </tr>
    <tr>
      <th>58</th>
      <td>cabut</td>
      <td>4</td>
      <td>-7.017690</td>
    </tr>
    <tr>
      <th>283</th>
      <td>tidur</td>
      <td>4</td>
      <td>-7.152146</td>
    </tr>
    <tr>
      <th>416</th>
      <td>lahir</td>
      <td>4</td>
      <td>-7.273444</td>
    </tr>
    <tr>
      <th>712</th>
      <td>timpa</td>
      <td>4</td>
      <td>-6.973767</td>
    </tr>
    <tr>
      <th>249</th>
      <td>latih</td>
      <td>4</td>
      <td>-7.091177</td>
    </tr>
    <tr>
      <th>418</th>
      <td>kembang</td>
      <td>4</td>
      <td>-7.386633</td>
    </tr>
    <tr>
      <th>204</th>
      <td>butuh</td>
      <td>4</td>
      <td>-7.386633</td>
    </tr>
    <tr>
      <th>59</th>
      <td>simpan</td>
      <td>4</td>
      <td>-7.228935</td>
    </tr>
    <tr>
      <th>350</th>
      <td>sisa</td>
      <td>4</td>
      <td>-7.091177</td>
    </tr>
    <tr>
      <th>312</th>
      <td>tayang</td>
      <td>4</td>
      <td>-7.091177</td>
    </tr>
    <tr>
      <th>598</th>
      <td>perintah</td>
      <td>4</td>
      <td>-7.017690</td>
    </tr>
    <tr>
      <th>163</th>
      <td>undur</td>
      <td>4</td>
      <td>-7.251738</td>
    </tr>
    <tr>
      <th>144</th>
      <td>hormat</td>
      <td>4</td>
      <td>-7.056395</td>
    </tr>
    <tr>
      <th>170</th>
      <td>pasti</td>
      <td>4</td>
      <td>-7.204877</td>
    </tr>
    <tr>
      <th>104</th>
      <td>cambuk</td>
      <td>4</td>
      <td>-6.860079</td>
    </tr>
    <tr>
      <th>178</th>
      <td>bayar</td>
      <td>4</td>
      <td>-7.204877</td>
    </tr>
    <tr>
      <th>624</th>
      <td>bela</td>
      <td>4</td>
      <td>-7.179364</td>
    </tr>
    <tr>
      <th>496</th>
      <td>uji</td>
      <td>4</td>
      <td>-7.091177</td>
    </tr>
    <tr>
      <th>720</th>
      <td>berita</td>
      <td>4</td>
      <td>-7.056395</td>
    </tr>
    <tr>
      <th>91</th>
      <td>udara</td>
      <td>4</td>
      <td>-7.091177</td>
    </tr>
    <tr>
      <th>640</th>
      <td>ban</td>
      <td>4</td>
      <td>-8.269878</td>
    </tr>
    <tr>
      <th>205</th>
      <td>pakai</td>
      <td>4</td>
      <td>-7.494737</td>
    </tr>
    <tr>
      <th>209</th>
      <td>kritik</td>
      <td>4</td>
      <td>-6.973767</td>
    </tr>
    <tr>
      <th>354</th>
      <td>tuding</td>
      <td>4</td>
      <td>-6.860079</td>
    </tr>
    <tr>
      <th>356</th>
      <td>ekonomi</td>
      <td>4</td>
      <td>-7.017690</td>
    </tr>
    <tr>
      <th>215</th>
      <td>sindir</td>
      <td>4</td>
      <td>-6.860079</td>
    </tr>
    <tr>
      <th>322</th>
      <td>tantang</td>
      <td>4</td>
      <td>-7.056395</td>
    </tr>
    <tr>
      <th>140</th>
      <td>saksi</td>
      <td>4</td>
      <td>-7.251738</td>
    </tr>
    <tr>
      <th>13</th>
      <td>banding</td>
      <td>4</td>
      <td>-7.419572</td>
    </tr>
    <tr>
      <th>69</th>
      <td>sisi</td>
      <td>4</td>
      <td>-7.294185</td>
    </tr>
    <tr>
      <th>722</th>
      <td>tuai</td>
      <td>4</td>
      <td>-7.017690</td>
    </tr>
    <tr>
      <th>445</th>
      <td>sembunyi</td>
      <td>4</td>
      <td>-7.091177</td>
    </tr>
    <tr>
      <th>443</th>
      <td>tanggal</td>
      <td>4</td>
      <td>-7.508761</td>
    </tr>
    <tr>
      <th>436</th>
      <td>komentar</td>
      <td>4</td>
      <td>-6.973767</td>
    </tr>
    <tr>
      <th>732</th>
      <td>cerita</td>
      <td>4</td>
      <td>-7.251738</td>
    </tr>
    <tr>
      <th>327</th>
      <td>izin</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>734</th>
      <td>makan</td>
      <td>3</td>
      <td>-7.776744</td>
    </tr>
    <tr>
      <th>325</th>
      <td>bajak</td>
      <td>3</td>
      <td>-7.049883</td>
    </tr>
    <tr>
      <th>725</th>
      <td>papar</td>
      <td>3</td>
      <td>-7.357011</td>
    </tr>
    <tr>
      <th>332</th>
      <td>culik</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>341</th>
      <td>pikir</td>
      <td>3</td>
      <td>-7.468112</td>
    </tr>
    <tr>
      <th>367</th>
      <td>galang</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>366</th>
      <td>muncul</td>
      <td>3</td>
      <td>-7.827394</td>
    </tr>
    <tr>
      <th>357</th>
      <td>ganti</td>
      <td>3</td>
      <td>-7.677040</td>
    </tr>
    <tr>
      <th>701</th>
      <td>kukuh</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>441</th>
      <td>kisar</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>693</th>
      <td>bekerjasama</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>691</th>
      <td>pengaruh</td>
      <td>3</td>
      <td>-7.416622</td>
    </tr>
    <tr>
      <th>487</th>
      <td>status</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>643</th>
      <td>hapus</td>
      <td>3</td>
      <td>-7.322968</td>
    </tr>
    <tr>
      <th>492</th>
      <td>oleh</td>
      <td>3</td>
      <td>-7.443208</td>
    </tr>
    <tr>
      <th>627</th>
      <td>langgar</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>494</th>
      <td>alokasi</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>625</th>
      <td>sumbang</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>511</th>
      <td>kelola</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>518</th>
      <td>wynni</td>
      <td>3</td>
      <td>-7.049883</td>
    </tr>
    <tr>
      <th>600</th>
      <td>angkat</td>
      <td>3</td>
      <td>-7.555166</td>
    </tr>
    <tr>
      <th>319</th>
      <td>ikat</td>
      <td>3</td>
      <td>-7.285057</td>
    </tr>
    <tr>
      <th>534</th>
      <td>interogasi</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>537</th>
      <td>guling</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>539</th>
      <td>undang</td>
      <td>3</td>
      <td>-7.285057</td>
    </tr>
    <tr>
      <th>593</th>
      <td>selesai</td>
      <td>3</td>
      <td>-7.388032</td>
    </tr>
    <tr>
      <th>543</th>
      <td>letak</td>
      <td>3</td>
      <td>-7.628330</td>
    </tr>
    <tr>
      <th>544</th>
      <td>sita</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>579</th>
      <td>lunak</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>566</th>
      <td>komunikasi</td>
      <td>3</td>
      <td>-7.285057</td>
    </tr>
    <tr>
      <th>552</th>
      <td>hindar</td>
      <td>3</td>
      <td>-7.443208</td>
    </tr>
    <tr>
      <th>474</th>
      <td>jerat</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>648</th>
      <td>dedikasi</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>653</th>
      <td>susul</td>
      <td>3</td>
      <td>-7.322968</td>
    </tr>
    <tr>
      <th>667</th>
      <td>respons</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>389</th>
      <td>derita</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>690</th>
      <td>aksi</td>
      <td>3</td>
      <td>-7.661288</td>
    </tr>
    <tr>
      <th>395</th>
      <td>turut</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>686</th>
      <td>kendara</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>684</th>
      <td>tuntut</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>397</th>
      <td>bas</td>
      <td>3</td>
      <td>-7.388032</td>
    </tr>
    <tr>
      <th>399</th>
      <td>tanggap</td>
      <td>3</td>
      <td>-7.357011</td>
    </tr>
    <tr>
      <th>403</th>
      <td>contoh</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>415</th>
      <td>kontrol</td>
      <td>3</td>
      <td>-7.285057</td>
    </tr>
    <tr>
      <th>457</th>
      <td>muka</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>661</th>
      <td>calon</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>422</th>
      <td>suka</td>
      <td>3</td>
      <td>-7.874663</td>
    </tr>
    <tr>
      <th>435</th>
      <td>jemput</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>657</th>
      <td>rujuk</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>655</th>
      <td>tangguh</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>447</th>
      <td>dasar</td>
      <td>3</td>
      <td>-7.593117</td>
    </tr>
    <tr>
      <th>450</th>
      <td>kendali</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>456</th>
      <td>ganggu</td>
      <td>3</td>
      <td>-7.388032</td>
    </tr>
    <tr>
      <th>0</th>
      <td>sebar</td>
      <td>3</td>
      <td>-7.443208</td>
    </tr>
    <tr>
      <th>369</th>
      <td>usir</td>
      <td>3</td>
      <td>-7.388032</td>
    </tr>
    <tr>
      <th>303</th>
      <td>abai</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>63</th>
      <td>dagang</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>208</th>
      <td>angkut</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>196</th>
      <td>ragu</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>88</th>
      <td>lindung</td>
      <td>3</td>
      <td>-7.491582</td>
    </tr>
    <tr>
      <th>94</th>
      <td>nikmat</td>
      <td>3</td>
      <td>-7.574520</td>
    </tr>
    <tr>
      <th>98</th>
      <td>dampak</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>33</th>
      <td>timbul</td>
      <td>3</td>
      <td>-7.322968</td>
    </tr>
    <tr>
      <th>294</th>
      <td>serah</td>
      <td>3</td>
      <td>-7.357011</td>
    </tr>
    <tr>
      <th>295</th>
      <td>akhir</td>
      <td>3</td>
      <td>-7.491582</td>
    </tr>
    <tr>
      <th>86</th>
      <td>rekam</td>
      <td>3</td>
      <td>-7.388032</td>
    </tr>
    <tr>
      <th>76</th>
      <td>obat</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>228</th>
      <td>saing</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>40</th>
      <td>cipta</td>
      <td>3</td>
      <td>-7.645066</td>
    </tr>
    <tr>
      <th>207</th>
      <td>lebih</td>
      <td>3</td>
      <td>-7.241997</td>
    </tr>
    <tr>
      <th>143</th>
      <td>boleh</td>
      <td>3</td>
      <td>-7.357011</td>
    </tr>
    <tr>
      <th>134</th>
      <td>suara</td>
      <td>3</td>
      <td>-7.130382</td>
    </tr>
    <tr>
      <th>152</th>
      <td>pantau</td>
      <td>3</td>
      <td>-7.285057</td>
    </tr>
    <tr>
      <th>57</th>
      <td>kuat</td>
      <td>3</td>
      <td>-7.322968</td>
    </tr>
    <tr>
      <th>314</th>
      <td>afiliasi</td>
      <td>3</td>
      <td>-7.191702</td>
    </tr>
    <tr>
      <th>427</th>
      <td>lintas</td>
      <td>2</td>
      <td>-7.651088</td>
    </tr>
    <tr>
      <th>424</th>
      <td>tekan</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>213</th>
      <td>tang</td>
      <td>2</td>
      <td>-8.963279</td>
    </tr>
    <tr>
      <th>239</th>
      <td>keri</td>
      <td>2</td>
      <td>-7.651088</td>
    </tr>
    <tr>
      <th>459</th>
      <td>hasil</td>
      <td>2</td>
      <td>-7.890080</td>
    </tr>
    <tr>
      <th>462</th>
      <td>aniaya</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>642</th>
      <td>pacu</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>417</th>
      <td>perangkap</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>668</th>
      <td>dana</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>639</th>
      <td>perlu</td>
      <td>2</td>
      <td>-7.651088</td>
    </tr>
    <tr>
      <th>671</th>
      <td>singkat</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>214</th>
      <td>rekrut</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>217</th>
      <td>lipat</td>
      <td>2</td>
      <td>-7.609660</td>
    </tr>
    <tr>
      <th>234</th>
      <td>juang</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>452</th>
      <td>kerah</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>84</th>
      <td>reaksi</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>218</th>
      <td>percaya</td>
      <td>2</td>
      <td>-8.009812</td>
    </tr>
    <tr>
      <th>449</th>
      <td>cetus</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>221</th>
      <td>ancam</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>60</th>
      <td>teknologi</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>638</th>
      <td>sorot</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>438</th>
      <td>pelihara</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>437</th>
      <td>cap</td>
      <td>2</td>
      <td>-8.281177</td>
    </tr>
    <tr>
      <th>230</th>
      <td>gerebek</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>232</th>
      <td>batal</td>
      <td>2</td>
      <td>-7.609660</td>
    </tr>
    <tr>
      <th>433</th>
      <td>maju</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>656</th>
      <td>sibuk</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>318</th>
      <td>tuang</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>195</th>
      <td>bingung</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>637</th>
      <td>nonaktif</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>115</th>
      <td>isolasi</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>596</th>
      <td>terus</td>
      <td>2</td>
      <td>-7.720161</td>
    </tr>
    <tr>
      <th>525</th>
      <td>asa</td>
      <td>2</td>
      <td>-8.761461</td>
    </tr>
    <tr>
      <th>114</th>
      <td>runding</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>157</th>
      <td>fokus</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>530</th>
      <td>lontar</td>
      <td>2</td>
      <td>-7.609660</td>
    </tr>
    <tr>
      <th>532</th>
      <td>penjara</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>533</th>
      <td>lengkap</td>
      <td>2</td>
      <td>-7.848782</td>
    </tr>
    <tr>
      <th>116</th>
      <td>sokong</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>199</th>
      <td>putar</td>
      <td>2</td>
      <td>-7.777231</td>
    </tr>
    <tr>
      <th>149</th>
      <td>tunggu</td>
      <td>2</td>
      <td>-7.909278</td>
    </tr>
    <tr>
      <th>580</th>
      <td>kala</td>
      <td>2</td>
      <td>-7.720161</td>
    </tr>
    <tr>
      <th>547</th>
      <td>ledak</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>145</th>
      <td>benar</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>550</th>
      <td>hitung</td>
      <td>2</td>
      <td>-7.687506</td>
    </tr>
    <tr>
      <th>560</th>
      <td>tegak</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>568</th>
      <td>deportasi</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>521</th>
      <td>siar</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>597</th>
      <td>tel</td>
      <td>2</td>
      <td>-7.978649</td>
    </tr>
    <tr>
      <th>519</th>
      <td>pecat</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>166</th>
      <td>jeblos</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>89</th>
      <td>selamat</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>631</th>
      <td>bebas</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>409</th>
      <td>urus</td>
      <td>2</td>
      <td>-7.609660</td>
    </tr>
    <tr>
      <th>485</th>
      <td>tempuh</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>489</th>
      <td>kampanye</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>99</th>
      <td>motor</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>175</th>
      <td>meni</td>
      <td>2</td>
      <td>-7.749878</td>
    </tr>
    <tr>
      <th>174</th>
      <td>rekayasa</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>507</th>
      <td>luas</td>
      <td>2</td>
      <td>-7.651088</td>
    </tr>
    <tr>
      <th>605</th>
      <td>taruh</td>
      <td>2</td>
      <td>-7.651088</td>
    </tr>
    <tr>
      <th>512</th>
      <td>jelajah</td>
      <td>2</td>
      <td>-7.609660</td>
    </tr>
    <tr>
      <th>513</th>
      <td>mimpi</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>106</th>
      <td>tukik</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>599</th>
      <td>simpul</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>109</th>
      <td>lacak</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>54</th>
      <td>aman</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>128</th>
      <td>sodomi</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>279</th>
      <td>rawat</td>
      <td>2</td>
      <td>-7.609660</td>
    </tr>
    <tr>
      <th>716</th>
      <td>rekomendasi</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>39</th>
      <td>telanjang</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>338</th>
      <td>kawal</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>687</th>
      <td>unggah</td>
      <td>2</td>
      <td>-7.826406</td>
    </tr>
    <tr>
      <th>17</th>
      <td>diskusi</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>272</th>
      <td>sah</td>
      <td>2</td>
      <td>-8.188406</td>
    </tr>
    <tr>
      <th>331</th>
      <td>kalah</td>
      <td>2</td>
      <td>-7.651088</td>
    </tr>
    <tr>
      <th>16</th>
      <td>prioritas</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>730</th>
      <td>campur</td>
      <td>2</td>
      <td>-7.848782</td>
    </tr>
    <tr>
      <th>37</th>
      <td>wujud</td>
      <td>2</td>
      <td>-7.802635</td>
    </tr>
    <tr>
      <th>287</th>
      <td>cium</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>302</th>
      <td>hari</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>26</th>
      <td>pandang</td>
      <td>2</td>
      <td>-7.687506</td>
    </tr>
    <tr>
      <th>705</th>
      <td>menyalahgunakan</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>704</th>
      <td>gengsi</td>
      <td>2</td>
      <td>-7.424050</td>
    </tr>
    <tr>
      <th>278</th>
      <td>konfirmasi</td>
      <td>2</td>
      <td>-7.609660</td>
    </tr>
    <tr>
      <th>27</th>
      <td>antara</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>379</th>
      <td>buruk</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>371</th>
      <td>esai</td>
      <td>2</td>
      <td>-7.909278</td>
    </tr>
    <tr>
      <th>11</th>
      <td>wakil</td>
      <td>2</td>
      <td>-7.687506</td>
    </tr>
    <tr>
      <th>268</th>
      <td>adik</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>392</th>
      <td>salat</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>298</th>
      <td>caplok</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>711</th>
      <td>saudara</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>47</th>
      <td>cermin</td>
      <td>2</td>
      <td>-7.501970</td>
    </tr>
    <tr>
      <th>677</th>
      <td>bahaya</td>
      <td>2</td>
      <td>-7.720161</td>
    </tr>
    <tr>
      <th>19</th>
      <td>harga</td>
      <td>2</td>
      <td>-7.651088</td>
    </tr>
    <tr>
      <th>359</th>
      <td>sayang</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>254</th>
      <td>ingin</td>
      <td>2</td>
      <td>-7.651088</td>
    </tr>
    <tr>
      <th>324</th>
      <td>tepat</td>
      <td>2</td>
      <td>-7.687506</td>
    </tr>
    <tr>
      <th>280</th>
      <td>kes</td>
      <td>2</td>
      <td>-7.609660</td>
    </tr>
    <tr>
      <th>256</th>
      <td>pinjam</td>
      <td>2</td>
      <td>-7.561185</td>
    </tr>
    <tr>
      <th>296</th>
      <td>rekan</td>
      <td>2</td>
      <td>-7.720161</td>
    </tr>
    <tr>
      <th>353</th>
      <td>gantung</td>
      <td>2</td>
      <td>-7.826406</td>
    </tr>
    <tr>
      <th>105</th>
      <td>kontribusi</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>108</th>
      <td>menindaklanjuti</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>713</th>
      <td>belenggu</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>723</th>
      <td>bom</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>110</th>
      <td>nali</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>602</th>
      <td>diam</td>
      <td>1</td>
      <td>-8.267055</td>
    </tr>
    <tr>
      <th>603</th>
      <td>risau</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>595</th>
      <td>harus</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>604</th>
      <td>meng</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>14</th>
      <td>patuh</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>610</th>
      <td>ngaku</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>102</th>
      <td>ana</td>
      <td>1</td>
      <td>-8.752880</td>
    </tr>
    <tr>
      <th>721</th>
      <td>gigit</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>715</th>
      <td>impor</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>103</th>
      <td>reda</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>719</th>
      <td>makam</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>607</th>
      <td>lemah</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>15</th>
      <td>gubris</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>50</th>
      <td>kontak</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>592</th>
      <td>cerai</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>591</th>
      <td>daya</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>3</th>
      <td>mungkir</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>735</th>
      <td>kakak</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>119</th>
      <td>bunyi</td>
      <td>1</td>
      <td>-8.322540</td>
    </tr>
    <tr>
      <th>120</th>
      <td>terjang</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>576</th>
      <td>layan</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>121</th>
      <td>subsidi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>123</th>
      <td>incar</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>124</th>
      <td>siang</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>125</th>
      <td>kabar</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>571</th>
      <td>dunia</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>736</th>
      <td>fasilitas</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>570</th>
      <td>sertifikasi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>569</th>
      <td>ramai</td>
      <td>1</td>
      <td>-8.267055</td>
    </tr>
    <tr>
      <th>737</th>
      <td>lolos</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>567</th>
      <td>wanti</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>733</th>
      <td>mutakhir</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>4</th>
      <td>publikasi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>118</th>
      <td>mohon</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>588</th>
      <td>usik</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>10</th>
      <td>pers</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>590</th>
      <td>kejar</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>726</th>
      <td>dalih</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>612</th>
      <td>lempar</td>
      <td>1</td>
      <td>-8.267055</td>
    </tr>
    <tr>
      <th>727</th>
      <td>kelah</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>589</th>
      <td>bekuk</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>587</th>
      <td>senang</td>
      <td>1</td>
      <td>-8.322540</td>
    </tr>
    <tr>
      <th>731</th>
      <td>bendera</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>586</th>
      <td>cukur</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>585</th>
      <td>tekun</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>728</th>
      <td>alamat</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>729</th>
      <td>padu</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>582</th>
      <td>bentur</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>581</th>
      <td>sirat</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>611</th>
      <td>dekam</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>622</th>
      <td>tempur</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>101</th>
      <td>untung</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>42</th>
      <td>manfaat</td>
      <td>1</td>
      <td>-8.369167</td>
    </tr>
    <tr>
      <th>692</th>
      <td>bayi</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>647</th>
      <td>menara</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>81</th>
      <td>huni</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>36</th>
      <td>puji</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>80</th>
      <td>wacana</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>79</th>
      <td>gagal</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>127</th>
      <td>buru</td>
      <td>1</td>
      <td>-8.296152</td>
    </tr>
    <tr>
      <th>74</th>
      <td>erat</td>
      <td>1</td>
      <td>-8.369167</td>
    </tr>
    <tr>
      <th>67</th>
      <td>perhati</td>
      <td>1</td>
      <td>-8.369167</td>
    </tr>
    <tr>
      <th>66</th>
      <td>produksi</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>689</th>
      <td>rendam</td>
      <td>1</td>
      <td>-8.267055</td>
    </tr>
    <tr>
      <th>38</th>
      <td>sikeras</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>685</th>
      <td>usung</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>64</th>
      <td>pulih</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>61</th>
      <td>takut</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>694</th>
      <td>terentang</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>43</th>
      <td>acau</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>44</th>
      <td>soal</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>680</th>
      <td>memo</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>56</th>
      <td>maksimal</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>663</th>
      <td>tampak</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>664</th>
      <td>terjemah</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>665</th>
      <td>kenang</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>45</th>
      <td>doa</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>666</th>
      <td>depak</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>55</th>
      <td>menghimbau</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>678</th>
      <td>emisi</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>669</th>
      <td>ira</td>
      <td>1</td>
      <td>-8.709581</td>
    </tr>
    <tr>
      <th>670</th>
      <td>sergap</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>52</th>
      <td>batas</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>35</th>
      <td>betul</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>695</th>
      <td>lupa</td>
      <td>1</td>
      <td>-8.522550</td>
    </tr>
    <tr>
      <th>21</th>
      <td>perkosa</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>707</th>
      <td>pamer</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>615</th>
      <td>berangkat</td>
      <td>1</td>
      <td>-8.322540</td>
    </tr>
    <tr>
      <th>617</th>
      <td>utang</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>618</th>
      <td>kaya</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>619</th>
      <td>sifat</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>620</th>
      <td>ramal</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>621</th>
      <td>bubung</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>48</th>
      <td>cepat</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>97</th>
      <td>nila</td>
      <td>1</td>
      <td>-8.369167</td>
    </tr>
    <tr>
      <th>24</th>
      <td>serbu</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>95</th>
      <td>tebal</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>709</th>
      <td>kompromi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>93</th>
      <td>sasar</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>25</th>
      <td>dalam</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>92</th>
      <td>tadi</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>628</th>
      <td>bengkak</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>34</th>
      <td>eksekusi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>629</th>
      <td>kunci</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>90</th>
      <td>debat</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>632</th>
      <td>beban</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>633</th>
      <td>kucur</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>634</th>
      <td>delegasi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>636</th>
      <td>refleksi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>29</th>
      <td>cuat</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>31</th>
      <td>suruh</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>700</th>
      <td>genang</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>32</th>
      <td>setir</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>641</th>
      <td>menghujam</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>697</th>
      <td>mes</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>87</th>
      <td>juluk</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>644</th>
      <td>cermat</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>651</th>
      <td>jenis</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>529</th>
      <td>sesal</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>564</th>
      <td>hilang</td>
      <td>1</td>
      <td>-8.296152</td>
    </tr>
    <tr>
      <th>267</th>
      <td>bungkam</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>253</th>
      <td>selundup</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>404</th>
      <td>jaring</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>255</th>
      <td>diberitahu</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>258</th>
      <td>jago</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>259</th>
      <td>nal</td>
      <td>1</td>
      <td>-8.961342</td>
    </tr>
    <tr>
      <th>398</th>
      <td>berani</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>263</th>
      <td>komitmen</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>266</th>
      <td>amat</td>
      <td>1</td>
      <td>-8.346750</td>
    </tr>
    <tr>
      <th>393</th>
      <td>tinjau</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>251</th>
      <td>jauh</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>391</th>
      <td>manipulasi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>269</th>
      <td>gugat</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>271</th>
      <td>umur</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>387</th>
      <td>isu</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>274</th>
      <td>lucut</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>385</th>
      <td>sambut</td>
      <td>1</td>
      <td>-8.296152</td>
    </tr>
    <tr>
      <th>276</th>
      <td>judul</td>
      <td>1</td>
      <td>-8.346750</td>
    </tr>
    <tr>
      <th>383</th>
      <td>keruh</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>406</th>
      <td>tabrak</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>408</th>
      <td>sejarah</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>130</th>
      <td>sekutu</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>236</th>
      <td>limpah</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>439</th>
      <td>satu</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>432</th>
      <td>giring</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>430</th>
      <td>deklarasi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>429</th>
      <td>sedia</td>
      <td>1</td>
      <td>-8.445802</td>
    </tr>
    <tr>
      <th>428</th>
      <td>senyum</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>235</th>
      <td>layang</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>425</th>
      <td>sidang</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>423</th>
      <td>anggota</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>238</th>
      <td>besar</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>250</th>
      <td>peran</td>
      <td>1</td>
      <td>-8.267055</td>
    </tr>
    <tr>
      <th>420</th>
      <td>teriak</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>240</th>
      <td>hubung</td>
      <td>1</td>
      <td>-8.462514</td>
    </tr>
    <tr>
      <th>242</th>
      <td>bujuk</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>245</th>
      <td>raya</td>
      <td>1</td>
      <td>-8.445802</td>
    </tr>
    <tr>
      <th>247</th>
      <td>tumbuh</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>248</th>
      <td>bahasa</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>412</th>
      <td>rusak</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>411</th>
      <td>kemudi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>380</th>
      <td>bisnis</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>378</th>
      <td>akomodasi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>377</th>
      <td>biar</td>
      <td>1</td>
      <td>-8.369167</td>
    </tr>
    <tr>
      <th>334</th>
      <td>hangus</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>343</th>
      <td>sentuh</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>304</th>
      <td>sepeda</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>305</th>
      <td>langkah</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>340</th>
      <td>samar</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>339</th>
      <td>lantik</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>306</th>
      <td>inspirasi</td>
      <td>1</td>
      <td>-8.322540</td>
    </tr>
    <tr>
      <th>307</th>
      <td>jangka</td>
      <td>1</td>
      <td>-8.296152</td>
    </tr>
    <tr>
      <th>335</th>
      <td>sangkal</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>333</th>
      <td>junjung</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>376</th>
      <td>pancing</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>309</th>
      <td>belah</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>311</th>
      <td>bisa</td>
      <td>1</td>
      <td>-8.267055</td>
    </tr>
    <tr>
      <th>329</th>
      <td>mampu</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>313</th>
      <td>apresiasi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>326</th>
      <td>terjun</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>315</th>
      <td>kandung</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>323</th>
      <td>tandas</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>316</th>
      <td>potensi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>346</th>
      <td>mudah</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>347</th>
      <td>profesi</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>301</th>
      <td>kaki</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>299</th>
      <td>kantor</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>374</th>
      <td>jadwal</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>373</th>
      <td>geser</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>372</th>
      <td>kasih</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>370</th>
      <td>gali</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>1</th>
      <td>kopi</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>281</th>
      <td>selip</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>285</th>
      <td>bombardir</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>286</th>
      <td>tenun</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>288</th>
      <td>pajang</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>363</th>
      <td>limut</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>289</th>
      <td>berontak</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>292</th>
      <td>lumpur</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>360</th>
      <td>hakim</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>358</th>
      <td>sambung</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>293</th>
      <td>erti</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>355</th>
      <td>canang</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>351</th>
      <td>motif</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>440</th>
      <td>maaf</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>227</th>
      <td>libur</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>226</th>
      <td>hias</td>
      <td>1</td>
      <td>-8.409713</td>
    </tr>
    <tr>
      <th>517</th>
      <td>paut</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>531</th>
      <td>niat</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>317</th>
      <td>pegang</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>528</th>
      <td>ikan</td>
      <td>1</td>
      <td>-8.322540</td>
    </tr>
    <tr>
      <th>158</th>
      <td>beruang</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>524</th>
      <td>lulus</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>523</th>
      <td>harum</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>162</th>
      <td>hati</td>
      <td>1</td>
      <td>-8.493754</td>
    </tr>
    <tr>
      <th>164</th>
      <td>warna</td>
      <td>1</td>
      <td>-8.574428</td>
    </tr>
    <tr>
      <th>516</th>
      <td>changi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>503</th>
      <td>jaket</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>515</th>
      <td>akses</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>514</th>
      <td>klarifikasi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>169</th>
      <td>duka</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>510</th>
      <td>telepon</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>509</th>
      <td>salur</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>171</th>
      <td>karpet</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>506</th>
      <td>tanah</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>505</th>
      <td>eksplorasi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>156</th>
      <td>tandatangani</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>535</th>
      <td>gegas</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>536</th>
      <td>keluh</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>155</th>
      <td>labuh</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>131</th>
      <td>buah</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>133</th>
      <td>awal</td>
      <td>1</td>
      <td>-8.322540</td>
    </tr>
    <tr>
      <th>558</th>
      <td>belot</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>557</th>
      <td>layar</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>556</th>
      <td>domisili</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>137</th>
      <td>cengang</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>138</th>
      <td>sabet</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>553</th>
      <td>semangat</td>
      <td>1</td>
      <td>-8.296152</td>
    </tr>
    <tr>
      <th>139</th>
      <td>hak</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>142</th>
      <td>damping</td>
      <td>1</td>
      <td>-8.267055</td>
    </tr>
    <tr>
      <th>146</th>
      <td>liput</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>545</th>
      <td>tolong</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>150</th>
      <td>ratifikasi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>541</th>
      <td>cantum</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>540</th>
      <td>tugas</td>
      <td>1</td>
      <td>-8.267055</td>
    </tr>
    <tr>
      <th>154</th>
      <td>raup</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>538</th>
      <td>singgung</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>172</th>
      <td>colok</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>173</th>
      <td>tuntun</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>225</th>
      <td>tatap</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>210</th>
      <td>luap</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>473</th>
      <td>acu</td>
      <td>1</td>
      <td>-8.267055</td>
    </tr>
    <tr>
      <th>198</th>
      <td>rahasia</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>471</th>
      <td>kuras</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>201</th>
      <td>pos</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>203</th>
      <td>jumpa</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>206</th>
      <td>keliling</td>
      <td>1</td>
      <td>-8.267055</td>
    </tr>
    <tr>
      <th>464</th>
      <td>anggar</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>463</th>
      <td>serap</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>460</th>
      <td>sengsara</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>499</th>
      <td>kan</td>
      <td>1</td>
      <td>-8.905508</td>
    </tr>
    <tr>
      <th>211</th>
      <td>kategori</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>212</th>
      <td>vonis</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>216</th>
      <td>jebak</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>451</th>
      <td>tabung</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>448</th>
      <td>prediksi</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>219</th>
      <td>analisa</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>224</th>
      <td>lonjak</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>444</th>
      <td>saran</td>
      <td>1</td>
      <td>-8.153559</td>
    </tr>
    <tr>
      <th>197</th>
      <td>asas</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>475</th>
      <td>kabul</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>476</th>
      <td>balas</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>477</th>
      <td>paham</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>498</th>
      <td>tuan</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>497</th>
      <td>xi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>180</th>
      <td>bilang</td>
      <td>1</td>
      <td>-8.346750</td>
    </tr>
    <tr>
      <th>181</th>
      <td>risiko</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>183</th>
      <td>die</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>187</th>
      <td>kenan</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>188</th>
      <td>peras</td>
      <td>1</td>
      <td>-8.296152</td>
    </tr>
    <tr>
      <th>491</th>
      <td>bersih</td>
      <td>1</td>
      <td>-8.322540</td>
    </tr>
    <tr>
      <th>189</th>
      <td>mewanti</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>190</th>
      <td>arah</td>
      <td>1</td>
      <td>-8.234485</td>
    </tr>
    <tr>
      <th>192</th>
      <td>ujung</td>
      <td>1</td>
      <td>-8.099871</td>
    </tr>
    <tr>
      <th>194</th>
      <td>kejut</td>
      <td>1</td>
      <td>-8.197283</td>
    </tr>
    <tr>
      <th>484</th>
      <td>akademisi</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>483</th>
      <td>melempem</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>482</th>
      <td>galak</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>480</th>
      <td>hujan</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>478</th>
      <td>tumpuk</td>
      <td>1</td>
      <td>-8.028785</td>
    </tr>
    <tr>
      <th>738</th>
      <td>atas</td>
      <td>1</td>
      <td>-8.296152</td>
    </tr>
  </tbody>
</table>