<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>365</th>
      <td>buat</td>
      <td>137</td>
      <td>-5.071104</td>
    </tr>
    <tr>
      <th>468</th>
      <td>sebut</td>
      <td>100</td>
      <td>-5.989534</td>
    </tr>
    <tr>
      <th>545</th>
      <td>dapat</td>
      <td>58</td>
      <td>-5.505904</td>
    </tr>
    <tr>
      <th>258</th>
      <td>jadi</td>
      <td>57</td>
      <td>-6.241043</td>
    </tr>
    <tr>
      <th>155</th>
      <td>laku</td>
      <td>51</td>
      <td>-5.829432</td>
    </tr>
    <tr>
      <th>292</th>
      <td>milik</td>
      <td>48</td>
      <td>-5.878763</td>
    </tr>
    <tr>
      <th>587</th>
      <td>bikin</td>
      <td>43</td>
      <td>-4.920456</td>
    </tr>
    <tr>
      <th>571</th>
      <td>punya</td>
      <td>42</td>
      <td>-5.519480</td>
    </tr>
    <tr>
      <th>79</th>
      <td>mulai</td>
      <td>39</td>
      <td>-5.786443</td>
    </tr>
    <tr>
      <th>218</th>
      <td>diri</td>
      <td>39</td>
      <td>-5.855657</td>
    </tr>
    <tr>
      <th>602</th>
      <td>guna</td>
      <td>36</td>
      <td>-6.012071</td>
    </tr>
    <tr>
      <th>596</th>
      <td>jalan</td>
      <td>33</td>
      <td>-5.519038</td>
    </tr>
    <tr>
      <th>80</th>
      <td>suka</td>
      <td>33</td>
      <td>-5.442706</td>
    </tr>
    <tr>
      <th>368</th>
      <td>lihat</td>
      <td>32</td>
      <td>-5.949800</td>
    </tr>
    <tr>
      <th>337</th>
      <td>nanti</td>
      <td>32</td>
      <td>-5.536942</td>
    </tr>
    <tr>
      <th>552</th>
      <td>main</td>
      <td>30</td>
      <td>-5.378592</td>
    </tr>
    <tr>
      <th>4</th>
      <td>beri</td>
      <td>30</td>
      <td>-5.992712</td>
    </tr>
    <tr>
      <th>215</th>
      <td>tarik</td>
      <td>30</td>
      <td>-5.648989</td>
    </tr>
    <tr>
      <th>562</th>
      <td>nama</td>
      <td>27</td>
      <td>-5.909794</td>
    </tr>
    <tr>
      <th>450</th>
      <td>aku</td>
      <td>26</td>
      <td>-6.802235</td>
    </tr>
    <tr>
      <th>32</th>
      <td>tahu</td>
      <td>26</td>
      <td>-6.472183</td>
    </tr>
    <tr>
      <th>642</th>
      <td>kata</td>
      <td>24</td>
      <td>-6.219215</td>
    </tr>
    <tr>
      <th>645</th>
      <td>sama</td>
      <td>21</td>
      <td>-6.132777</td>
    </tr>
    <tr>
      <th>36</th>
      <td>bagi</td>
      <td>20</td>
      <td>-6.325339</td>
    </tr>
    <tr>
      <th>515</th>
      <td>cari</td>
      <td>20</td>
      <td>-6.091549</td>
    </tr>
    <tr>
      <th>137</th>
      <td>tambah</td>
      <td>20</td>
      <td>-6.136433</td>
    </tr>
    <tr>
      <th>376</th>
      <td>minta</td>
      <td>20</td>
      <td>-5.907171</td>
    </tr>
    <tr>
      <th>500</th>
      <td>gambar</td>
      <td>20</td>
      <td>-5.851795</td>
    </tr>
    <tr>
      <th>156</th>
      <td>tentang</td>
      <td>20</td>
      <td>-6.274545</td>
    </tr>
    <tr>
      <th>660</th>
      <td>rupa</td>
      <td>19</td>
      <td>-6.541288</td>
    </tr>
    <tr>
      <th>99</th>
      <td>coba</td>
      <td>19</td>
      <td>-5.901885</td>
    </tr>
    <tr>
      <th>626</th>
      <td>kait</td>
      <td>19</td>
      <td>-6.034533</td>
    </tr>
    <tr>
      <th>406</th>
      <td>rilis</td>
      <td>19</td>
      <td>-5.743882</td>
    </tr>
    <tr>
      <th>299</th>
      <td>kenal</td>
      <td>18</td>
      <td>-6.355489</td>
    </tr>
    <tr>
      <th>51</th>
      <td>bawa</td>
      <td>18</td>
      <td>-6.345143</td>
    </tr>
    <tr>
      <th>509</th>
      <td>beda</td>
      <td>18</td>
      <td>-6.170769</td>
    </tr>
    <tr>
      <th>70</th>
      <td>ikut</td>
      <td>18</td>
      <td>-6.036263</td>
    </tr>
    <tr>
      <th>339</th>
      <td>lewat</td>
      <td>17</td>
      <td>-5.995927</td>
    </tr>
    <tr>
      <th>196</th>
      <td>lanjut</td>
      <td>17</td>
      <td>-6.091805</td>
    </tr>
    <tr>
      <th>115</th>
      <td>masuk</td>
      <td>16</td>
      <td>-6.069237</td>
    </tr>
    <tr>
      <th>639</th>
      <td>muncul</td>
      <td>16</td>
      <td>-6.097195</td>
    </tr>
    <tr>
      <th>561</th>
      <td>baca</td>
      <td>16</td>
      <td>-5.773157</td>
    </tr>
    <tr>
      <th>390</th>
      <td>pilih</td>
      <td>16</td>
      <td>-6.110845</td>
    </tr>
    <tr>
      <th>179</th>
      <td>kembali</td>
      <td>15</td>
      <td>-6.424937</td>
    </tr>
    <tr>
      <th>323</th>
      <td>kerja</td>
      <td>15</td>
      <td>-6.300008</td>
    </tr>
    <tr>
      <th>421</th>
      <td>temu</td>
      <td>14</td>
      <td>-6.533798</td>
    </tr>
    <tr>
      <th>332</th>
      <td>rasa</td>
      <td>14</td>
      <td>-6.354481</td>
    </tr>
    <tr>
      <th>606</th>
      <td>biar</td>
      <td>14</td>
      <td>-5.804201</td>
    </tr>
    <tr>
      <th>612</th>
      <td>beli</td>
      <td>14</td>
      <td>-6.024105</td>
    </tr>
    <tr>
      <th>486</th>
      <td>ambil</td>
      <td>14</td>
      <td>-6.226560</td>
    </tr>
    <tr>
      <th>482</th>
      <td>hadir</td>
      <td>14</td>
      <td>-5.967126</td>
    </tr>
    <tr>
      <th>17</th>
      <td>isi</td>
      <td>13</td>
      <td>-6.506802</td>
    </tr>
    <tr>
      <th>184</th>
      <td>renang</td>
      <td>13</td>
      <td>-5.607899</td>
    </tr>
    <tr>
      <th>661</th>
      <td>makan</td>
      <td>13</td>
      <td>-6.241597</td>
    </tr>
    <tr>
      <th>85</th>
      <td>gelar</td>
      <td>13</td>
      <td>-6.226823</td>
    </tr>
    <tr>
      <th>382</th>
      <td>pakai</td>
      <td>12</td>
      <td>-6.289073</td>
    </tr>
    <tr>
      <th>268</th>
      <td>kali</td>
      <td>12</td>
      <td>-6.669931</td>
    </tr>
    <tr>
      <th>15</th>
      <td>ujar</td>
      <td>12</td>
      <td>-6.304097</td>
    </tr>
    <tr>
      <th>53</th>
      <td>doi</td>
      <td>12</td>
      <td>-5.954724</td>
    </tr>
    <tr>
      <th>165</th>
      <td>tetap</td>
      <td>12</td>
      <td>-6.594318</td>
    </tr>
    <tr>
      <th>464</th>
      <td>ada</td>
      <td>11</td>
      <td>-6.893575</td>
    </tr>
    <tr>
      <th>1</th>
      <td>buka</td>
      <td>11</td>
      <td>-6.309618</td>
    </tr>
    <tr>
      <th>428</th>
      <td>unggah</td>
      <td>11</td>
      <td>-6.066195</td>
    </tr>
    <tr>
      <th>439</th>
      <td>keluar</td>
      <td>11</td>
      <td>-6.416940</td>
    </tr>
    <tr>
      <th>312</th>
      <td>bahas</td>
      <td>11</td>
      <td>-6.220793</td>
    </tr>
    <tr>
      <th>309</th>
      <td>datang</td>
      <td>11</td>
      <td>-6.485425</td>
    </tr>
    <tr>
      <th>610</th>
      <td>hidup</td>
      <td>11</td>
      <td>-6.485425</td>
    </tr>
    <tr>
      <th>58</th>
      <td>kutip</td>
      <td>11</td>
      <td>-6.239631</td>
    </tr>
    <tr>
      <th>599</th>
      <td>pikir</td>
      <td>10</td>
      <td>-6.158675</td>
    </tr>
    <tr>
      <th>535</th>
      <td>rekan</td>
      <td>10</td>
      <td>-6.039977</td>
    </tr>
    <tr>
      <th>341</th>
      <td>nyanyi</td>
      <td>10</td>
      <td>-6.039977</td>
    </tr>
    <tr>
      <th>592</th>
      <td>lupa</td>
      <td>10</td>
      <td>-6.331576</td>
    </tr>
    <tr>
      <th>340</th>
      <td>bilang</td>
      <td>10</td>
      <td>-6.103552</td>
    </tr>
    <tr>
      <th>39</th>
      <td>tampil</td>
      <td>10</td>
      <td>-6.131989</td>
    </tr>
    <tr>
      <th>281</th>
      <td>tulis</td>
      <td>10</td>
      <td>-6.549813</td>
    </tr>
    <tr>
      <th>116</th>
      <td>tanggal</td>
      <td>10</td>
      <td>-6.479254</td>
    </tr>
    <tr>
      <th>320</th>
      <td>hindar</td>
      <td>9</td>
      <td>-6.233992</td>
    </tr>
    <tr>
      <th>629</th>
      <td>ganti</td>
      <td>9</td>
      <td>-6.485640</td>
    </tr>
    <tr>
      <th>18</th>
      <td>kurang</td>
      <td>9</td>
      <td>-6.309515</td>
    </tr>
    <tr>
      <th>466</th>
      <td>ungkap</td>
      <td>9</td>
      <td>-6.468542</td>
    </tr>
    <tr>
      <th>334</th>
      <td>rusak</td>
      <td>9</td>
      <td>-6.066084</td>
    </tr>
    <tr>
      <th>593</th>
      <td>bawah</td>
      <td>9</td>
      <td>-6.502288</td>
    </tr>
    <tr>
      <th>508</th>
      <td>tidur</td>
      <td>9</td>
      <td>-6.205650</td>
    </tr>
    <tr>
      <th>94</th>
      <td>bantu</td>
      <td>9</td>
      <td>-6.518521</td>
    </tr>
    <tr>
      <th>533</th>
      <td>lawan</td>
      <td>8</td>
      <td>-6.545525</td>
    </tr>
    <tr>
      <th>176</th>
      <td>pergi</td>
      <td>8</td>
      <td>-6.466994</td>
    </tr>
    <tr>
      <th>373</th>
      <td>ubah</td>
      <td>8</td>
      <td>-6.661915</td>
    </tr>
    <tr>
      <th>111</th>
      <td>arti</td>
      <td>8</td>
      <td>-6.976041</td>
    </tr>
    <tr>
      <th>327</th>
      <td>tuju</td>
      <td>8</td>
      <td>-6.761532</td>
    </tr>
    <tr>
      <th>546</th>
      <td>lansir</td>
      <td>8</td>
      <td>-6.943127</td>
    </tr>
    <tr>
      <th>395</th>
      <td>kembang</td>
      <td>8</td>
      <td>-6.563549</td>
    </tr>
    <tr>
      <th>224</th>
      <td>undang</td>
      <td>8</td>
      <td>-6.180332</td>
    </tr>
    <tr>
      <th>147</th>
      <td>ngomong</td>
      <td>7</td>
      <td>-6.264248</td>
    </tr>
    <tr>
      <th>289</th>
      <td>lirik</td>
      <td>7</td>
      <td>-6.309336</td>
    </tr>
    <tr>
      <th>22</th>
      <td>banding</td>
      <td>7</td>
      <td>-6.724714</td>
    </tr>
    <tr>
      <th>387</th>
      <td>usah</td>
      <td>7</td>
      <td>-6.707822</td>
    </tr>
    <tr>
      <th>413</th>
      <td>ingat</td>
      <td>7</td>
      <td>-6.817740</td>
    </tr>
    <tr>
      <th>280</th>
      <td>judul</td>
      <td>7</td>
      <td>-6.447699</td>
    </tr>
    <tr>
      <th>584</th>
      <td>ganggu</td>
      <td>7</td>
      <td>-6.417551</td>
    </tr>
    <tr>
      <th>343</th>
      <td>paksa</td>
      <td>7</td>
      <td>-6.526976</td>
    </tr>
    <tr>
      <th>273</th>
      <td>habis</td>
      <td>7</td>
      <td>-6.634932</td>
    </tr>
    <tr>
      <th>560</th>
      <td>tayang</td>
      <td>7</td>
      <td>-6.384891</td>
    </tr>
    <tr>
      <th>82</th>
      <td>harap</td>
      <td>7</td>
      <td>-6.550556</td>
    </tr>
    <tr>
      <th>317</th>
      <td>percaya</td>
      <td>7</td>
      <td>-6.707822</td>
    </tr>
    <tr>
      <th>208</th>
      <td>karya</td>
      <td>7</td>
      <td>-6.349110</td>
    </tr>
    <tr>
      <th>190</th>
      <td>anggap</td>
      <td>7</td>
      <td>-6.925840</td>
    </tr>
    <tr>
      <th>297</th>
      <td>tunggu</td>
      <td>7</td>
      <td>-6.594500</td>
    </tr>
    <tr>
      <th>573</th>
      <td>siap</td>
      <td>7</td>
      <td>-6.724714</td>
    </tr>
    <tr>
      <th>91</th>
      <td>sedia</td>
      <td>7</td>
      <td>-6.573020</td>
    </tr>
    <tr>
      <th>150</th>
      <td>balik</td>
      <td>7</td>
      <td>-6.615107</td>
    </tr>
    <tr>
      <th>455</th>
      <td>kena</td>
      <td>7</td>
      <td>-7.517819</td>
    </tr>
    <tr>
      <th>472</th>
      <td>naik</td>
      <td>6</td>
      <td>-6.740672</td>
    </tr>
    <tr>
      <th>404</th>
      <td>terus</td>
      <td>6</td>
      <td>-6.532567</td>
    </tr>
    <tr>
      <th>512</th>
      <td>tinggal</td>
      <td>6</td>
      <td>-7.240531</td>
    </tr>
    <tr>
      <th>72</th>
      <td>raih</td>
      <td>6</td>
      <td>-6.296820</td>
    </tr>
    <tr>
      <th>161</th>
      <td>rekam</td>
      <td>6</td>
      <td>-6.565013</td>
    </tr>
    <tr>
      <th>257</th>
      <td>buru</td>
      <td>6</td>
      <td>-6.532567</td>
    </tr>
    <tr>
      <th>259</th>
      <td>hai</td>
      <td>6</td>
      <td>-6.412658</td>
    </tr>
    <tr>
      <th>65</th>
      <td>bicara</td>
      <td>6</td>
      <td>-6.740672</td>
    </tr>
    <tr>
      <th>507</th>
      <td>jaga</td>
      <td>6</td>
      <td>-6.799739</td>
    </tr>
    <tr>
      <th>173</th>
      <td>bentuk</td>
      <td>6</td>
      <td>-7.030458</td>
    </tr>
    <tr>
      <th>441</th>
      <td>capai</td>
      <td>6</td>
      <td>-6.886076</td>
    </tr>
    <tr>
      <th>583</th>
      <td>gerak</td>
      <td>6</td>
      <td>-6.780777</td>
    </tr>
    <tr>
      <th>547</th>
      <td>alami</td>
      <td>6</td>
      <td>-7.068896</td>
    </tr>
    <tr>
      <th>191</th>
      <td>nyata</td>
      <td>6</td>
      <td>-7.129431</td>
    </tr>
    <tr>
      <th>89</th>
      <td>umum</td>
      <td>6</td>
      <td>-6.780777</td>
    </tr>
    <tr>
      <th>318</th>
      <td>upa</td>
      <td>6</td>
      <td>-7.771943</td>
    </tr>
    <tr>
      <th>54</th>
      <td>tahan</td>
      <td>6</td>
      <td>-6.932605</td>
    </tr>
    <tr>
      <th>558</th>
      <td>wawancara</td>
      <td>6</td>
      <td>-6.360399</td>
    </tr>
    <tr>
      <th>5</th>
      <td>buang</td>
      <td>6</td>
      <td>-6.497013</td>
    </tr>
    <tr>
      <th>375</th>
      <td>butuh</td>
      <td>6</td>
      <td>-6.835818</td>
    </tr>
    <tr>
      <th>424</th>
      <td>rencana</td>
      <td>6</td>
      <td>-6.799739</td>
    </tr>
    <tr>
      <th>44</th>
      <td>dengar</td>
      <td>6</td>
      <td>-6.835818</td>
    </tr>
    <tr>
      <th>438</th>
      <td>hubung</td>
      <td>6</td>
      <td>-6.740672</td>
    </tr>
    <tr>
      <th>370</th>
      <td>menang</td>
      <td>5</td>
      <td>-6.738045</td>
    </tr>
    <tr>
      <th>163</th>
      <td>transfer</td>
      <td>5</td>
      <td>-6.389339</td>
    </tr>
    <tr>
      <th>407</th>
      <td>abadi</td>
      <td>5</td>
      <td>-6.586997</td>
    </tr>
    <tr>
      <th>237</th>
      <td>cipta</td>
      <td>5</td>
      <td>-7.005978</td>
    </tr>
    <tr>
      <th>389</th>
      <td>terima</td>
      <td>5</td>
      <td>-7.158236</td>
    </tr>
    <tr>
      <th>255</th>
      <td>kopi</td>
      <td>5</td>
      <td>-6.535143</td>
    </tr>
    <tr>
      <th>256</th>
      <td>cerita</td>
      <td>5</td>
      <td>-6.868797</td>
    </tr>
    <tr>
      <th>383</th>
      <td>hasil</td>
      <td>5</td>
      <td>-6.890851</td>
    </tr>
    <tr>
      <th>20</th>
      <td>bunuh</td>
      <td>5</td>
      <td>-6.738045</td>
    </tr>
    <tr>
      <th>476</th>
      <td>nikmat</td>
      <td>5</td>
      <td>-6.932144</td>
    </tr>
    <tr>
      <th>227</th>
      <td>usaha</td>
      <td>5</td>
      <td>-6.970328</td>
    </tr>
    <tr>
      <th>262</th>
      <td>henti</td>
      <td>5</td>
      <td>-6.890851</td>
    </tr>
    <tr>
      <th>637</th>
      <td>atur</td>
      <td>5</td>
      <td>-6.868797</td>
    </tr>
    <tr>
      <th>194</th>
      <td>usia</td>
      <td>5</td>
      <td>-6.988440</td>
    </tr>
    <tr>
      <th>217</th>
      <td>ulang</td>
      <td>5</td>
      <td>-7.101537</td>
    </tr>
    <tr>
      <th>532</th>
      <td>akhir</td>
      <td>5</td>
      <td>-6.845638</td>
    </tr>
    <tr>
      <th>139</th>
      <td>dasar</td>
      <td>5</td>
      <td>-6.951584</td>
    </tr>
    <tr>
      <th>336</th>
      <td>bayar</td>
      <td>5</td>
      <td>-6.821213</td>
    </tr>
    <tr>
      <th>524</th>
      <td>lapor</td>
      <td>5</td>
      <td>-7.071292</td>
    </tr>
    <tr>
      <th>301</th>
      <td>kolaborasi</td>
      <td>5</td>
      <td>-6.472029</td>
    </tr>
    <tr>
      <th>123</th>
      <td>sisi</td>
      <td>5</td>
      <td>-6.911930</td>
    </tr>
    <tr>
      <th>346</th>
      <td>hilang</td>
      <td>5</td>
      <td>-6.705894</td>
    </tr>
    <tr>
      <th>601</th>
      <td>tonton</td>
      <td>5</td>
      <td>-6.738045</td>
    </tr>
    <tr>
      <th>528</th>
      <td>pukul</td>
      <td>5</td>
      <td>-6.890851</td>
    </tr>
    <tr>
      <th>351</th>
      <td>mati</td>
      <td>5</td>
      <td>-6.845638</td>
    </tr>
    <tr>
      <th>644</th>
      <td>minum</td>
      <td>5</td>
      <td>-6.738045</td>
    </tr>
    <tr>
      <th>663</th>
      <td>duga</td>
      <td>5</td>
      <td>-6.890851</td>
    </tr>
    <tr>
      <th>609</th>
      <td>jelas</td>
      <td>5</td>
      <td>-6.988440</td>
    </tr>
    <tr>
      <th>86</th>
      <td>kumpul</td>
      <td>4</td>
      <td>-7.275265</td>
    </tr>
    <tr>
      <th>391</th>
      <td>hias</td>
      <td>4</td>
      <td>-7.053454</td>
    </tr>
    <tr>
      <th>605</th>
      <td>jual</td>
      <td>4</td>
      <td>-7.211152</td>
    </tr>
    <tr>
      <th>393</th>
      <td>senang</td>
      <td>4</td>
      <td>-6.947414</td>
    </tr>
    <tr>
      <th>664</th>
      <td>pulang</td>
      <td>4</td>
      <td>-7.029396</td>
    </tr>
    <tr>
      <th>193</th>
      <td>kaget</td>
      <td>4</td>
      <td>-6.747027</td>
    </tr>
    <tr>
      <th>325</th>
      <td>pasti</td>
      <td>4</td>
      <td>-7.029396</td>
    </tr>
    <tr>
      <th>543</th>
      <td>lepas</td>
      <td>4</td>
      <td>-7.076257</td>
    </tr>
    <tr>
      <th>630</th>
      <td>bahan</td>
      <td>4</td>
      <td>-7.029396</td>
    </tr>
    <tr>
      <th>440</th>
      <td>tingkat</td>
      <td>4</td>
      <td>-7.003883</td>
    </tr>
    <tr>
      <th>112</th>
      <td>tema</td>
      <td>4</td>
      <td>-6.947414</td>
    </tr>
    <tr>
      <th>199</th>
      <td>pindah</td>
      <td>4</td>
      <td>-6.947414</td>
    </tr>
    <tr>
      <th>200</th>
      <td>asah</td>
      <td>4</td>
      <td>-6.684599</td>
    </tr>
    <tr>
      <th>435</th>
      <td>nilai</td>
      <td>4</td>
      <td>-6.976665</td>
    </tr>
    <tr>
      <th>431</th>
      <td>berangkat</td>
      <td>4</td>
      <td>-6.947414</td>
    </tr>
    <tr>
      <th>401</th>
      <td>agam</td>
      <td>4</td>
      <td>-7.003883</td>
    </tr>
    <tr>
      <th>63</th>
      <td>wujud</td>
      <td>4</td>
      <td>-7.003883</td>
    </tr>
    <tr>
      <th>588</th>
      <td>inspirasi</td>
      <td>4</td>
      <td>-6.947414</td>
    </tr>
    <tr>
      <th>590</th>
      <td>sambut</td>
      <td>4</td>
      <td>-6.915696</td>
    </tr>
    <tr>
      <th>146</th>
      <td>durasi</td>
      <td>4</td>
      <td>-6.747027</td>
    </tr>
    <tr>
      <th>142</th>
      <td>lekat</td>
      <td>4</td>
      <td>-6.747027</td>
    </tr>
    <tr>
      <th>288</th>
      <td>lengkap</td>
      <td>4</td>
      <td>-7.053454</td>
    </tr>
    <tr>
      <th>124</th>
      <td>catat</td>
      <td>4</td>
      <td>-7.029396</td>
    </tr>
    <tr>
      <th>261</th>
      <td>bukti</td>
      <td>4</td>
      <td>-7.097963</td>
    </tr>
    <tr>
      <th>357</th>
      <td>ramai</td>
      <td>4</td>
      <td>-6.880914</td>
    </tr>
    <tr>
      <th>619</th>
      <td>goreng</td>
      <td>4</td>
      <td>-6.880914</td>
    </tr>
    <tr>
      <th>364</th>
      <td>peluk</td>
      <td>4</td>
      <td>-6.684599</td>
    </tr>
    <tr>
      <th>160</th>
      <td>tunjuk</td>
      <td>4</td>
      <td>-7.386681</td>
    </tr>
    <tr>
      <th>458</th>
      <td>simpan</td>
      <td>4</td>
      <td>-7.053454</td>
    </tr>
    <tr>
      <th>276</th>
      <td>kirim</td>
      <td>4</td>
      <td>-7.227861</td>
    </tr>
    <tr>
      <th>621</th>
      <td>hadap</td>
      <td>4</td>
      <td>-7.076257</td>
    </tr>
    <tr>
      <th>251</th>
      <td>seni</td>
      <td>4</td>
      <td>-6.880914</td>
    </tr>
    <tr>
      <th>246</th>
      <td>ajak</td>
      <td>4</td>
      <td>-7.076257</td>
    </tr>
    <tr>
      <th>38</th>
      <td>masak</td>
      <td>4</td>
      <td>-7.029396</td>
    </tr>
    <tr>
      <th>531</th>
      <td>ucap</td>
      <td>4</td>
      <td>-7.176126</td>
    </tr>
    <tr>
      <th>37</th>
      <td>tanggap</td>
      <td>4</td>
      <td>-6.915696</td>
    </tr>
    <tr>
      <th>306</th>
      <td>rangkum</td>
      <td>3</td>
      <td>-7.016221</td>
    </tr>
    <tr>
      <th>411</th>
      <td>angkat</td>
      <td>3</td>
      <td>-7.379685</td>
    </tr>
    <tr>
      <th>308</th>
      <td>tolong</td>
      <td>3</td>
      <td>-7.066517</td>
    </tr>
    <tr>
      <th>266</th>
      <td>meme</td>
      <td>3</td>
      <td>-6.874402</td>
    </tr>
    <tr>
      <th>379</th>
      <td>tani</td>
      <td>3</td>
      <td>-7.109576</td>
    </tr>
    <tr>
      <th>331</th>
      <td>saji</td>
      <td>3</td>
      <td>-7.267727</td>
    </tr>
    <tr>
      <th>353</th>
      <td>dukung</td>
      <td>3</td>
      <td>-7.417636</td>
    </tr>
    <tr>
      <th>314</th>
      <td>kunjung</td>
      <td>3</td>
      <td>-7.379685</td>
    </tr>
    <tr>
      <th>9</th>
      <td>putus</td>
      <td>3</td>
      <td>-7.399039</td>
    </tr>
    <tr>
      <th>315</th>
      <td>hati</td>
      <td>3</td>
      <td>-7.417636</td>
    </tr>
    <tr>
      <th>400</th>
      <td>tampung</td>
      <td>3</td>
      <td>-7.147487</td>
    </tr>
    <tr>
      <th>657</th>
      <td>lolos</td>
      <td>3</td>
      <td>-7.066517</td>
    </tr>
    <tr>
      <th>399</th>
      <td>selesai</td>
      <td>3</td>
      <td>-7.212552</td>
    </tr>
    <tr>
      <th>304</th>
      <td>letak</td>
      <td>3</td>
      <td>-7.452849</td>
    </tr>
    <tr>
      <th>229</th>
      <td>klaim</td>
      <td>3</td>
      <td>-7.241141</td>
    </tr>
    <tr>
      <th>296</th>
      <td>tahun</td>
      <td>3</td>
      <td>-7.241141</td>
    </tr>
    <tr>
      <th>298</th>
      <td>jawab</td>
      <td>3</td>
      <td>-7.181530</td>
    </tr>
    <tr>
      <th>303</th>
      <td>sadar</td>
      <td>3</td>
      <td>-7.267727</td>
    </tr>
    <tr>
      <th>648</th>
      <td>diem</td>
      <td>3</td>
      <td>-6.874402</td>
    </tr>
    <tr>
      <th>264</th>
      <td>gantung</td>
      <td>3</td>
      <td>-7.292631</td>
    </tr>
    <tr>
      <th>0</th>
      <td>sebar</td>
      <td>3</td>
      <td>-7.267727</td>
    </tr>
    <tr>
      <th>46</th>
      <td>jelang</td>
      <td>3</td>
      <td>-6.954902</td>
    </tr>
    <tr>
      <th>496</th>
      <td>yakin</td>
      <td>3</td>
      <td>-7.338334</td>
    </tr>
    <tr>
      <th>616</th>
      <td>rancang</td>
      <td>3</td>
      <td>-7.267727</td>
    </tr>
    <tr>
      <th>563</th>
      <td>tempat</td>
      <td>3</td>
      <td>-7.292631</td>
    </tr>
    <tr>
      <th>24</th>
      <td>gubris</td>
      <td>3</td>
      <td>-6.954902</td>
    </tr>
    <tr>
      <th>559</th>
      <td>bangun</td>
      <td>3</td>
      <td>-7.452849</td>
    </tr>
    <tr>
      <th>35</th>
      <td>saksi</td>
      <td>3</td>
      <td>-7.338334</td>
    </tr>
    <tr>
      <th>607</th>
      <td>bisa</td>
      <td>3</td>
      <td>-7.147487</td>
    </tr>
    <tr>
      <th>541</th>
      <td>remeh</td>
      <td>3</td>
      <td>-6.874402</td>
    </tr>
    <tr>
      <th>449</th>
      <td>janji</td>
      <td>3</td>
      <td>-7.212552</td>
    </tr>
    <tr>
      <th>166</th>
      <td>mula</td>
      <td>3</td>
      <td>-8.177277</td>
    </tr>
    <tr>
      <th>483</th>
      <td>luncur</td>
      <td>3</td>
      <td>-7.316101</td>
    </tr>
    <tr>
      <th>495</th>
      <td>heran</td>
      <td>3</td>
      <td>-7.109576</td>
    </tr>
    <tr>
      <th>162</th>
      <td>unjung</td>
      <td>3</td>
      <td>-7.627060</td>
    </tr>
    <tr>
      <th>525</th>
      <td>tutup</td>
      <td>3</td>
      <td>-7.469585</td>
    </tr>
    <tr>
      <th>120</th>
      <td>sembunyi</td>
      <td>3</td>
      <td>-7.181530</td>
    </tr>
    <tr>
      <th>141</th>
      <td>asal</td>
      <td>3</td>
      <td>-7.651913</td>
    </tr>
    <tr>
      <th>503</th>
      <td>beruang</td>
      <td>3</td>
      <td>-7.016221</td>
    </tr>
    <tr>
      <th>446</th>
      <td>peran</td>
      <td>3</td>
      <td>-7.147487</td>
    </tr>
    <tr>
      <th>577</th>
      <td>baik</td>
      <td>3</td>
      <td>-7.066517</td>
    </tr>
    <tr>
      <th>600</th>
      <td>campur</td>
      <td>3</td>
      <td>-7.316101</td>
    </tr>
    <tr>
      <th>638</th>
      <td>sebab</td>
      <td>3</td>
      <td>-7.501559</td>
    </tr>
    <tr>
      <th>61</th>
      <td>garap</td>
      <td>3</td>
      <td>-7.016221</td>
    </tr>
    <tr>
      <th>425</th>
      <td>cinta</td>
      <td>3</td>
      <td>-7.066517</td>
    </tr>
    <tr>
      <th>90</th>
      <td>batas</td>
      <td>3</td>
      <td>-7.109576</td>
    </tr>
    <tr>
      <th>434</th>
      <td>penuh</td>
      <td>3</td>
      <td>-7.379685</td>
    </tr>
    <tr>
      <th>47</th>
      <td>lalu</td>
      <td>3</td>
      <td>-7.066517</td>
    </tr>
    <tr>
      <th>45</th>
      <td>anggota</td>
      <td>3</td>
      <td>-7.016221</td>
    </tr>
    <tr>
      <th>634</th>
      <td>tanya</td>
      <td>3</td>
      <td>-7.338334</td>
    </tr>
    <tr>
      <th>59</th>
      <td>tegas</td>
      <td>3</td>
      <td>-7.359486</td>
    </tr>
    <tr>
      <th>42</th>
      <td>pandang</td>
      <td>3</td>
      <td>-7.147487</td>
    </tr>
    <tr>
      <th>522</th>
      <td>lini</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>514</th>
      <td>susul</td>
      <td>2</td>
      <td>-7.512025</td>
    </tr>
    <tr>
      <th>521</th>
      <td>tembak</td>
      <td>2</td>
      <td>-7.627155</td>
    </tr>
    <tr>
      <th>513</th>
      <td>gera</td>
      <td>2</td>
      <td>-7.818999</td>
    </tr>
    <tr>
      <th>527</th>
      <td>gabung</td>
      <td>2</td>
      <td>-7.694475</td>
    </tr>
    <tr>
      <th>658</th>
      <td>jamin</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>335</th>
      <td>tolak</td>
      <td>2</td>
      <td>-7.714599</td>
    </tr>
    <tr>
      <th>412</th>
      <td>men</td>
      <td>2</td>
      <td>-8.055658</td>
    </tr>
    <tr>
      <th>530</th>
      <td>kenang</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>659</th>
      <td>bincang</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>536</th>
      <td>turun</td>
      <td>2</td>
      <td>-7.863654</td>
    </tr>
    <tr>
      <th>538</th>
      <td>ira</td>
      <td>2</td>
      <td>-8.023863</td>
    </tr>
    <tr>
      <th>511</th>
      <td>nyala</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>551</th>
      <td>bahaya</td>
      <td>2</td>
      <td>-7.544681</td>
    </tr>
    <tr>
      <th>603</th>
      <td>tiru</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>564</th>
      <td>riah</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>565</th>
      <td>ikat</td>
      <td>2</td>
      <td>-7.475607</td>
    </tr>
    <tr>
      <th>572</th>
      <td>redup</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>574</th>
      <td>dil</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>316</th>
      <td>serah</td>
      <td>2</td>
      <td>-7.544681</td>
    </tr>
    <tr>
      <th>575</th>
      <td>tantang</td>
      <td>2</td>
      <td>-7.512025</td>
    </tr>
    <tr>
      <th>579</th>
      <td>hibur</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>585</th>
      <td>libat</td>
      <td>2</td>
      <td>-7.769813</td>
    </tr>
    <tr>
      <th>544</th>
      <td>nanya</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>498</th>
      <td>tentu</td>
      <td>2</td>
      <td>-7.714599</td>
    </tr>
    <tr>
      <th>510</th>
      <td>tangis</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>394</th>
      <td>tembus</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>384</th>
      <td>musik</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>385</th>
      <td>rogoh</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>454</th>
      <td>puji</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>622</th>
      <td>kualitas</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>597</th>
      <td>damba</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>442</th>
      <td>sifat</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>397</th>
      <td>bayang</td>
      <td>2</td>
      <td>-7.512025</td>
    </tr>
    <tr>
      <th>647</th>
      <td>papar</td>
      <td>2</td>
      <td>-7.544681</td>
    </tr>
    <tr>
      <th>436</th>
      <td>giur</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>398</th>
      <td>siram</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>429</th>
      <td>panggil</td>
      <td>2</td>
      <td>-7.544681</td>
    </tr>
    <tr>
      <th>423</th>
      <td>batal</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>417</th>
      <td>gari</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>415</th>
      <td>laksana</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>457</th>
      <td>kuat</td>
      <td>2</td>
      <td>-7.512025</td>
    </tr>
    <tr>
      <th>461</th>
      <td>lurus</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>347</th>
      <td>tarung</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>654</th>
      <td>santai</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>348</th>
      <td>tebal</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>655</th>
      <td>padu</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>354</th>
      <td>telusur</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>355</th>
      <td>arah</td>
      <td>2</td>
      <td>-7.475607</td>
    </tr>
    <tr>
      <th>494</th>
      <td>hapus</td>
      <td>2</td>
      <td>-7.512025</td>
    </tr>
    <tr>
      <th>493</th>
      <td>lesak</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>488</th>
      <td>alih</td>
      <td>2</td>
      <td>-7.601750</td>
    </tr>
    <tr>
      <th>463</th>
      <td>cita</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>358</th>
      <td>bangga</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>485</th>
      <td>perlu</td>
      <td>2</td>
      <td>-7.475607</td>
    </tr>
    <tr>
      <th>651</th>
      <td>fungsi</td>
      <td>2</td>
      <td>-7.544681</td>
    </tr>
    <tr>
      <th>367</th>
      <td>putar</td>
      <td>2</td>
      <td>-7.601750</td>
    </tr>
    <tr>
      <th>477</th>
      <td>bulan</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>470</th>
      <td>omel</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>443</th>
      <td>simak</td>
      <td>2</td>
      <td>-7.475607</td>
    </tr>
    <tr>
      <th>666</th>
      <td>atas</td>
      <td>2</td>
      <td>-7.544681</td>
    </tr>
    <tr>
      <th>93</th>
      <td>cuti</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>221</th>
      <td>jatuh</td>
      <td>2</td>
      <td>-7.891409</td>
    </tr>
    <tr>
      <th>71</th>
      <td>manfaat</td>
      <td>2</td>
      <td>-7.627155</td>
    </tr>
    <tr>
      <th>253</th>
      <td>hukum</td>
      <td>2</td>
      <td>-7.769813</td>
    </tr>
    <tr>
      <th>171</th>
      <td>inti</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>33</th>
      <td>bas</td>
      <td>2</td>
      <td>-7.574398</td>
    </tr>
    <tr>
      <th>117</th>
      <td>timpa</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>118</th>
      <td>saran</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>30</th>
      <td>wisata</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>225</th>
      <td>kasih</td>
      <td>2</td>
      <td>-7.475607</td>
    </tr>
    <tr>
      <th>119</th>
      <td>perhati</td>
      <td>2</td>
      <td>-7.627155</td>
    </tr>
    <tr>
      <th>121</th>
      <td>tertawa</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>265</th>
      <td>resmi</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>220</th>
      <td>dalam</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>29</th>
      <td>edar</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>97</th>
      <td>luas</td>
      <td>2</td>
      <td>-7.475607</td>
    </tr>
    <tr>
      <th>41</th>
      <td>melulu</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>43</th>
      <td>bakar</td>
      <td>2</td>
      <td>-7.650925</td>
    </tr>
    <tr>
      <th>271</th>
      <td>awal</td>
      <td>2</td>
      <td>-7.574398</td>
    </tr>
    <tr>
      <th>55</th>
      <td>suruh</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>62</th>
      <td>mana</td>
      <td>2</td>
      <td>-7.512025</td>
    </tr>
    <tr>
      <th>236</th>
      <td>tegur</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>183</th>
      <td>kecil</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>67</th>
      <td>kontrol</td>
      <td>2</td>
      <td>-7.475607</td>
    </tr>
    <tr>
      <th>56</th>
      <td>produser</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>240</th>
      <td>istirahat</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>231</th>
      <td>sumbang</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>107</th>
      <td>tepat</td>
      <td>2</td>
      <td>-7.512025</td>
    </tr>
    <tr>
      <th>181</th>
      <td>hemat</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>180</th>
      <td>support</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>186</th>
      <td>tawar</td>
      <td>2</td>
      <td>-7.574398</td>
    </tr>
    <tr>
      <th>106</th>
      <td>lapis</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>48</th>
      <td>cegat</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>244</th>
      <td>air</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>270</th>
      <td>tukar</td>
      <td>2</td>
      <td>-7.601750</td>
    </tr>
    <tr>
      <th>125</th>
      <td>evaluasi</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>272</th>
      <td>penting</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>202</th>
      <td>laci</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>83</th>
      <td>rantai</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>84</th>
      <td>produksi</td>
      <td>2</td>
      <td>-7.475607</td>
    </tr>
    <tr>
      <th>87</th>
      <td>kedip</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>291</th>
      <td>konfirmasi</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>12</th>
      <td>lari</td>
      <td>2</td>
      <td>-7.574398</td>
    </tr>
    <tr>
      <th>151</th>
      <td>serap</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>11</th>
      <td>raya</td>
      <td>2</td>
      <td>-7.714599</td>
    </tr>
    <tr>
      <th>209</th>
      <td>salah</td>
      <td>2</td>
      <td>-7.601750</td>
    </tr>
    <tr>
      <th>207</th>
      <td>tangkap</td>
      <td>2</td>
      <td>-7.786791</td>
    </tr>
    <tr>
      <th>92</th>
      <td>modal</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>206</th>
      <td>tip</td>
      <td>2</td>
      <td>-7.863654</td>
    </tr>
    <tr>
      <th>302</th>
      <td>lontar</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>3</th>
      <td>sesuai</td>
      <td>2</td>
      <td>-7.434179</td>
    </tr>
    <tr>
      <th>143</th>
      <td>erat</td>
      <td>2</td>
      <td>-7.627155</td>
    </tr>
    <tr>
      <th>205</th>
      <td>kontribusi</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>76</th>
      <td>ketawa</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>104</th>
      <td>mata</td>
      <td>2</td>
      <td>-7.475607</td>
    </tr>
    <tr>
      <th>25</th>
      <td>gaya</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>212</th>
      <td>latih</td>
      <td>2</td>
      <td>-7.544681</td>
    </tr>
    <tr>
      <th>285</th>
      <td>bahak</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>274</th>
      <td>jingkrak</td>
      <td>2</td>
      <td>-7.248569</td>
    </tr>
    <tr>
      <th>78</th>
      <td>libur</td>
      <td>2</td>
      <td>-7.385705</td>
    </tr>
    <tr>
      <th>284</th>
      <td>boleh</td>
      <td>2</td>
      <td>-7.544681</td>
    </tr>
    <tr>
      <th>19</th>
      <td>sewa</td>
      <td>2</td>
      <td>-7.326489</td>
    </tr>
    <tr>
      <th>201</th>
      <td>timbang</td>
      <td>2</td>
      <td>-7.544681</td>
    </tr>
    <tr>
      <th>214</th>
      <td>tebak</td>
      <td>2</td>
      <td>-7.475607</td>
    </tr>
    <tr>
      <th>159</th>
      <td>desain</td>
      <td>2</td>
      <td>-7.512025</td>
    </tr>
    <tr>
      <th>102</th>
      <td>berani</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>96</th>
      <td>kukus</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>98</th>
      <td>sutradara</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>554</th>
      <td>titip</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>553</th>
      <td>salur</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>569</th>
      <td>sepak</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>566</th>
      <td>gumam</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>95</th>
      <td>giring</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>103</th>
      <td>jelajah</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>100</th>
      <td>asing</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>555</th>
      <td>tindak</td>
      <td>1</td>
      <td>-8.171269</td>
    </tr>
    <tr>
      <th>556</th>
      <td>keroyok</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>568</th>
      <td>tuntut</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>557</th>
      <td>mini</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>101</th>
      <td>bakat</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>567</th>
      <td>tangan</td>
      <td>1</td>
      <td>-8.302991</td>
    </tr>
    <tr>
      <th>311</th>
      <td>kibar</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>105</th>
      <td>fosil</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>516</th>
      <td>daun</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>523</th>
      <td>pantul</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>130</th>
      <td>rindu</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>131</th>
      <td>dekat</td>
      <td>1</td>
      <td>-8.171269</td>
    </tr>
    <tr>
      <th>520</th>
      <td>duduk</td>
      <td>1</td>
      <td>-8.120671</td>
    </tr>
    <tr>
      <th>519</th>
      <td>tumis</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>518</th>
      <td>rekrut</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>517</th>
      <td>ratap</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>132</th>
      <td>desa</td>
      <td>1</td>
      <td>-8.287033</td>
    </tr>
    <tr>
      <th>550</th>
      <td>madu</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>133</th>
      <td>bilas</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>134</th>
      <td>pesan</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>135</th>
      <td>bini</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>136</th>
      <td>genre</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>138</th>
      <td>kepala</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>140</th>
      <td>acuh</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>144</th>
      <td>pegang</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>129</th>
      <td>ujung</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>128</th>
      <td>prediksi</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>526</th>
      <td>cicil</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>127</th>
      <td>beranda</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>549</th>
      <td>picu</td>
      <td>1</td>
      <td>-8.214599</td>
    </tr>
    <tr>
      <th>548</th>
      <td>lancar</td>
      <td>1</td>
      <td>-8.147059</td>
    </tr>
    <tr>
      <th>108</th>
      <td>tunduk</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>109</th>
      <td>cap</td>
      <td>1</td>
      <td>-8.601780</td>
    </tr>
    <tr>
      <th>570</th>
      <td>daftar</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>542</th>
      <td>sikap</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>113</th>
      <td>andal</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>540</th>
      <td>anak</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>539</th>
      <td>kaki</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>114</th>
      <td>pengaruh</td>
      <td>1</td>
      <td>-8.171269</td>
    </tr>
    <tr>
      <th>537</th>
      <td>bangsa</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>534</th>
      <td>mundur</td>
      <td>1</td>
      <td>-8.193686</td>
    </tr>
    <tr>
      <th>122</th>
      <td>sampai</td>
      <td>1</td>
      <td>-8.318273</td>
    </tr>
    <tr>
      <th>529</th>
      <td>terjemah</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>126</th>
      <td>menit</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>110</th>
      <td>bintang</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>75</th>
      <td>imajinasi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>88</th>
      <td>unggul</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>623</th>
      <td>jari</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>643</th>
      <td>erang</td>
      <td>1</td>
      <td>-8.347069</td>
    </tr>
    <tr>
      <th>641</th>
      <td>ancam</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>640</th>
      <td>berita</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>26</th>
      <td>salahin</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>27</th>
      <td>rebut</td>
      <td>1</td>
      <td>-8.214599</td>
    </tr>
    <tr>
      <th>28</th>
      <td>harga</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>636</th>
      <td>limut</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>635</th>
      <td>sapa</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>633</th>
      <td>rekomendasi</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>632</th>
      <td>muat</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>631</th>
      <td>sayang</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>31</th>
      <td>tanding</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>628</th>
      <td>tendang</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>627</th>
      <td>ekonomi</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>625</th>
      <td>mungkin</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>23</th>
      <td>upload</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>21</th>
      <td>anti</td>
      <td>1</td>
      <td>-8.742818</td>
    </tr>
    <tr>
      <th>646</th>
      <td>sibuk</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>10</th>
      <td>abai</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>665</th>
      <td>sulit</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>2</th>
      <td>bahasa</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>662</th>
      <td>gaji</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>6</th>
      <td>tari</td>
      <td>1</td>
      <td>-8.647587</td>
    </tr>
    <tr>
      <th>7</th>
      <td>awas</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>8</th>
      <td>kandung</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>656</th>
      <td>jinjing</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>16</th>
      <td>pada</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>13</th>
      <td>cicip</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>653</th>
      <td>andai</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>652</th>
      <td>jadwal</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>14</th>
      <td>bentang</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>650</th>
      <td>tuai</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>649</th>
      <td>darah</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>624</th>
      <td>panen</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>34</th>
      <td>tebar</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>576</th>
      <td>gugah</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>40</th>
      <td>seksi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>595</th>
      <td>representasi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>594</th>
      <td>borong</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>69</th>
      <td>dominasi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>591</th>
      <td>bangkit</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>73</th>
      <td>cetak</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>589</th>
      <td>selip</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>74</th>
      <td>susun</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>505</th>
      <td>dedikasi</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>586</th>
      <td>com</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>77</th>
      <td>ukir</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>582</th>
      <td>coret</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>581</th>
      <td>diskus</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>580</th>
      <td>terjun</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>81</th>
      <td>populer</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>578</th>
      <td>komentar</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>68</th>
      <td>lahir</td>
      <td>1</td>
      <td>-8.270321</td>
    </tr>
    <tr>
      <th>598</th>
      <td>samar</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>66</th>
      <td>waktu</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>611</th>
      <td>cakap</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>620</th>
      <td>dua</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>618</th>
      <td>saudara</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>617</th>
      <td>sisa</td>
      <td>1</td>
      <td>-8.120671</td>
    </tr>
    <tr>
      <th>615</th>
      <td>lika</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>614</th>
      <td>abar</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>613</th>
      <td>cakup</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>49</th>
      <td>keluarga</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>64</th>
      <td>usung</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>50</th>
      <td>kuras</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>608</th>
      <td>intai</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>52</th>
      <td>gin</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>604</th>
      <td>keluh</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>57</th>
      <td>kaca</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>60</th>
      <td>tolerir</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>506</th>
      <td>kes</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>489</th>
      <td>dingin</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>504</th>
      <td>panel</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>408</th>
      <td>bau</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>380</th>
      <td>tetes</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>243</th>
      <td>telanjang</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>378</th>
      <td>utara</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>377</th>
      <td>label</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>245</th>
      <td>rambat</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>374</th>
      <td>lompat</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>247</th>
      <td>urus</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>372</th>
      <td>curi</td>
      <td>1</td>
      <td>-8.120671</td>
    </tr>
    <tr>
      <th>371</th>
      <td>gelut</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>248</th>
      <td>incar</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>369</th>
      <td>lambung</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>249</th>
      <td>paut</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>250</th>
      <td>gawang</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>366</th>
      <td>budaya</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>252</th>
      <td>kabar</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>363</th>
      <td>misal</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>362</th>
      <td>foto</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>381</th>
      <td>sirat</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>242</th>
      <td>liku</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>241</th>
      <td>cabut</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>396</th>
      <td>khaki</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>222</th>
      <td>umur</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>403</th>
      <td>kagum</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>402</th>
      <td>harus</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>223</th>
      <td>adakan</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>226</th>
      <td>colok</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>228</th>
      <td>tanah</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>230</th>
      <td>jangkau</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>232</th>
      <td>komitmen</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>239</th>
      <td>kantong</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>233</th>
      <td>ban</td>
      <td>1</td>
      <td>-8.982269</td>
    </tr>
    <tr>
      <th>392</th>
      <td>kalah</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>234</th>
      <td>kira</td>
      <td>1</td>
      <td>-8.347069</td>
    </tr>
    <tr>
      <th>235</th>
      <td>sensor</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>388</th>
      <td>santa</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>238</th>
      <td>kelola</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>386</th>
      <td>multi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>361</th>
      <td>ukur</td>
      <td>1</td>
      <td>-8.287033</td>
    </tr>
    <tr>
      <th>360</th>
      <td>kejut</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>359</th>
      <td>cetus</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>322</th>
      <td>semangat</td>
      <td>1</td>
      <td>-8.120671</td>
    </tr>
    <tr>
      <th>330</th>
      <td>meni</td>
      <td>1</td>
      <td>-8.147059</td>
    </tr>
    <tr>
      <th>329</th>
      <td>keringat</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>328</th>
      <td>kesan</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>290</th>
      <td>maksud</td>
      <td>1</td>
      <td>-8.120671</td>
    </tr>
    <tr>
      <th>326</th>
      <td>deteksi</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>324</th>
      <td>usai</td>
      <td>1</td>
      <td>-8.193686</td>
    </tr>
    <tr>
      <th>293</th>
      <td>organisir</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>321</th>
      <td>aplikasi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>286</th>
      <td>akan</td>
      <td>1</td>
      <td>-8.515693</td>
    </tr>
    <tr>
      <th>294</th>
      <td>goda</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>319</th>
      <td>karang</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>295</th>
      <td>warna</td>
      <td>1</td>
      <td>-8.398947</td>
    </tr>
    <tr>
      <th>300</th>
      <td>mui</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>305</th>
      <td>sita</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>307</th>
      <td>fokus</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>313</th>
      <td>damping</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>287</th>
      <td>lipat</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>283</th>
      <td>pinjam</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>254</th>
      <td>pasu</td>
      <td>1</td>
      <td>-8.147059</td>
    </tr>
    <tr>
      <th>349</th>
      <td>situ</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>260</th>
      <td>kejar</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>356</th>
      <td>jenis</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>263</th>
      <td>sidik</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>267</th>
      <td>antar</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>352</th>
      <td>sisip</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>269</th>
      <td>adu</td>
      <td>1</td>
      <td>-8.120671</td>
    </tr>
    <tr>
      <th>350</th>
      <td>leleh</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>345</th>
      <td>terbit</td>
      <td>1</td>
      <td>-8.234232</td>
    </tr>
    <tr>
      <th>282</th>
      <td>niat</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>344</th>
      <td>hancur</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>342</th>
      <td>prakarsa</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>275</th>
      <td>langsung</td>
      <td>1</td>
      <td>-8.302991</td>
    </tr>
    <tr>
      <th>277</th>
      <td>cegah</td>
      <td>1</td>
      <td>-8.147059</td>
    </tr>
    <tr>
      <th>278</th>
      <td>lebih</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>338</th>
      <td>hitung</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>279</th>
      <td>realisasi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>405</th>
      <td>lantun</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>409</th>
      <td>desak</td>
      <td>1</td>
      <td>-8.171269</td>
    </tr>
    <tr>
      <th>145</th>
      <td>identifikasi</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>410</th>
      <td>disc</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>480</th>
      <td>aju</td>
      <td>1</td>
      <td>-8.270321</td>
    </tr>
    <tr>
      <th>479</th>
      <td>sini</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>478</th>
      <td>kelabu</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>168</th>
      <td>jerat</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>169</th>
      <td>isyarat</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>475</th>
      <td>rombak</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>474</th>
      <td>juluk</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>473</th>
      <td>persepsi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>170</th>
      <td>restorasi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>471</th>
      <td>kaji</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>469</th>
      <td>tanda</td>
      <td>1</td>
      <td>-8.147059</td>
    </tr>
    <tr>
      <th>172</th>
      <td>kode</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>467</th>
      <td>pasang</td>
      <td>1</td>
      <td>-8.214599</td>
    </tr>
    <tr>
      <th>174</th>
      <td>kecam</td>
      <td>1</td>
      <td>-8.120671</td>
    </tr>
    <tr>
      <th>465</th>
      <td>optimal</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>175</th>
      <td>paham</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>177</th>
      <td>tadi</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>481</th>
      <td>gugat</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>167</th>
      <td>merespon</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>164</th>
      <td>lindung</td>
      <td>1</td>
      <td>-8.234232</td>
    </tr>
    <tr>
      <th>153</th>
      <td>tonjol</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>502</th>
      <td>menara</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>501</th>
      <td>uang</td>
      <td>1</td>
      <td>-8.302991</td>
    </tr>
    <tr>
      <th>148</th>
      <td>pisah</td>
      <td>1</td>
      <td>-8.234232</td>
    </tr>
    <tr>
      <th>499</th>
      <td>kompetisi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>149</th>
      <td>mudah</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>497</th>
      <td>tajuk</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>152</th>
      <td>aduk</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>154</th>
      <td>dita</td>
      <td>1</td>
      <td>-8.147059</td>
    </tr>
    <tr>
      <th>484</th>
      <td>diam</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>492</th>
      <td>pacu</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>491</th>
      <td>gundul</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>490</th>
      <td>teman</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>310</th>
      <td>mi</td>
      <td>1</td>
      <td>-9.247019</td>
    </tr>
    <tr>
      <th>157</th>
      <td>kursi</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>487</th>
      <td>utama</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>158</th>
      <td>tengger</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>462</th>
      <td>senyum</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>178</th>
      <td>sangkut</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>460</th>
      <td>browse</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>211</th>
      <td>tuduh</td>
      <td>1</td>
      <td>-8.214599</td>
    </tr>
    <tr>
      <th>432</th>
      <td>cuci</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>204</th>
      <td>heboh</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>430</th>
      <td>besar</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>427</th>
      <td>lempar</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>426</th>
      <td>sangka</td>
      <td>1</td>
      <td>-8.147059</td>
    </tr>
    <tr>
      <th>210</th>
      <td>bubar</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>422</th>
      <td>pajang</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>420</th>
      <td>operasi</td>
      <td>1</td>
      <td>-8.091574</td>
    </tr>
    <tr>
      <th>203</th>
      <td>stimulasi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>419</th>
      <td>meng</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>418</th>
      <td>rokok</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>416</th>
      <td>potong</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>213</th>
      <td>menindaklanjuti</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>414</th>
      <td>rubah</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>216</th>
      <td>antri</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>219</th>
      <td>nali</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>433</th>
      <td>adi</td>
      <td>1</td>
      <td>-9.282835</td>
    </tr>
    <tr>
      <th>437</th>
      <td>keri</td>
      <td>1</td>
      <td>-8.059004</td>
    </tr>
    <tr>
      <th>459</th>
      <td>belah</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>447</th>
      <td>jauh</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>456</th>
      <td>bekal</td>
      <td>1</td>
      <td>-7.978078</td>
    </tr>
    <tr>
      <th>182</th>
      <td>bocor</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>453</th>
      <td>bela</td>
      <td>1</td>
      <td>-8.193686</td>
    </tr>
    <tr>
      <th>452</th>
      <td>abdi</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>451</th>
      <td>bongkar</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>185</th>
      <td>haram</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>448</th>
      <td>ditindaklanjuti</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>187</th>
      <td>tekun</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>198</th>
      <td>tangguh</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>445</th>
      <td>telaah</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>444</th>
      <td>tenang</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>188</th>
      <td>sempat</td>
      <td>1</td>
      <td>-7.924390</td>
    </tr>
    <tr>
      <th>189</th>
      <td>larang</td>
      <td>1</td>
      <td>-8.120671</td>
    </tr>
    <tr>
      <th>192</th>
      <td>olah</td>
      <td>1</td>
      <td>-8.021802</td>
    </tr>
    <tr>
      <th>195</th>
      <td>bersih</td>
      <td>1</td>
      <td>-8.147059</td>
    </tr>
    <tr>
      <th>197</th>
      <td>selang</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
    <tr>
      <th>333</th>
      <td>gila</td>
      <td>1</td>
      <td>-7.853304</td>
    </tr>
  </tbody>
</table>