<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>247</th>
      <td>jadi</td>
      <td>235</td>
      <td>-5.125034</td>
    </tr>
    <tr>
      <th>474</th>
      <td>sebut</td>
      <td>194</td>
      <td>-5.614273</td>
    </tr>
    <tr>
      <th>160</th>
      <td>buat</td>
      <td>168</td>
      <td>-5.143684</td>
    </tr>
    <tr>
      <th>178</th>
      <td>guna</td>
      <td>152</td>
      <td>-4.867036</td>
    </tr>
    <tr>
      <th>370</th>
      <td>lihat</td>
      <td>119</td>
      <td>-4.929653</td>
    </tr>
    <tr>
      <th>285</th>
      <td>milik</td>
      <td>115</td>
      <td>-5.293442</td>
    </tr>
    <tr>
      <th>154</th>
      <td>laku</td>
      <td>109</td>
      <td>-5.356509</td>
    </tr>
    <tr>
      <th>30</th>
      <td>tahu</td>
      <td>90</td>
      <td>-5.535806</td>
    </tr>
    <tr>
      <th>574</th>
      <td>rupa</td>
      <td>83</td>
      <td>-5.377285</td>
    </tr>
    <tr>
      <th>107</th>
      <td>arti</td>
      <td>72</td>
      <td>-5.118054</td>
    </tr>
    <tr>
      <th>667</th>
      <td>makan</td>
      <td>65</td>
      <td>-4.934174</td>
    </tr>
    <tr>
      <th>79</th>
      <td>mulai</td>
      <td>64</td>
      <td>-5.574153</td>
    </tr>
    <tr>
      <th>470</th>
      <td>ada</td>
      <td>62</td>
      <td>-5.493754</td>
    </tr>
    <tr>
      <th>4</th>
      <td>beri</td>
      <td>61</td>
      <td>-5.571135</td>
    </tr>
    <tr>
      <th>202</th>
      <td>dapat</td>
      <td>59</td>
      <td>-5.763712</td>
    </tr>
    <tr>
      <th>422</th>
      <td>temu</td>
      <td>59</td>
      <td>-5.405053</td>
    </tr>
    <tr>
      <th>571</th>
      <td>punya</td>
      <td>58</td>
      <td>-5.475870</td>
    </tr>
    <tr>
      <th>292</th>
      <td>kenal</td>
      <td>58</td>
      <td>-5.486492</td>
    </tr>
    <tr>
      <th>504</th>
      <td>beda</td>
      <td>55</td>
      <td>-5.349828</td>
    </tr>
    <tr>
      <th>257</th>
      <td>kali</td>
      <td>45</td>
      <td>-5.661550</td>
    </tr>
    <tr>
      <th>669</th>
      <td>sama</td>
      <td>45</td>
      <td>-5.661550</td>
    </tr>
    <tr>
      <th>155</th>
      <td>tentang</td>
      <td>45</td>
      <td>-5.757822</td>
    </tr>
    <tr>
      <th>35</th>
      <td>bagi</td>
      <td>44</td>
      <td>-5.831742</td>
    </tr>
    <tr>
      <th>643</th>
      <td>cari</td>
      <td>43</td>
      <td>-5.616377</td>
    </tr>
    <tr>
      <th>507</th>
      <td>tinggal</td>
      <td>42</td>
      <td>-5.651109</td>
    </tr>
    <tr>
      <th>171</th>
      <td>bentuk</td>
      <td>41</td>
      <td>-5.448823</td>
    </tr>
    <tr>
      <th>314</th>
      <td>warna</td>
      <td>41</td>
      <td>-5.295374</td>
    </tr>
    <tr>
      <th>215</th>
      <td>diri</td>
      <td>41</td>
      <td>-6.081394</td>
    </tr>
    <tr>
      <th>49</th>
      <td>bawa</td>
      <td>40</td>
      <td>-5.842078</td>
    </tr>
    <tr>
      <th>616</th>
      <td>hidup</td>
      <td>37</td>
      <td>-5.577781</td>
    </tr>
    <tr>
      <th>188</th>
      <td>anggap</td>
      <td>36</td>
      <td>-5.618293</td>
    </tr>
    <tr>
      <th>135</th>
      <td>sisir</td>
      <td>36</td>
      <td>-4.724177</td>
    </tr>
    <tr>
      <th>602</th>
      <td>jalan</td>
      <td>36</td>
      <td>-5.708022</td>
    </tr>
    <tr>
      <th>328</th>
      <td>rasa</td>
      <td>35</td>
      <td>-5.735763</td>
    </tr>
    <tr>
      <th>636</th>
      <td>sebab</td>
      <td>34</td>
      <td>-5.463339</td>
    </tr>
    <tr>
      <th>564</th>
      <td>kembali</td>
      <td>34</td>
      <td>-5.904185</td>
    </tr>
    <tr>
      <th>462</th>
      <td>kena</td>
      <td>34</td>
      <td>-6.313021</td>
    </tr>
    <tr>
      <th>80</th>
      <td>suka</td>
      <td>33</td>
      <td>-5.717334</td>
    </tr>
    <tr>
      <th>497</th>
      <td>gambar</td>
      <td>32</td>
      <td>-5.665032</td>
    </tr>
    <tr>
      <th>17</th>
      <td>isi</td>
      <td>32</td>
      <td>-5.907132</td>
    </tr>
    <tr>
      <th>640</th>
      <td>kata</td>
      <td>32</td>
      <td>-6.214451</td>
    </tr>
    <tr>
      <th>563</th>
      <td>nama</td>
      <td>32</td>
      <td>-6.018317</td>
    </tr>
    <tr>
      <th>547</th>
      <td>alami</td>
      <td>31</td>
      <td>-5.765608</td>
    </tr>
    <tr>
      <th>12</th>
      <td>raya</td>
      <td>31</td>
      <td>-5.396668</td>
    </tr>
    <tr>
      <th>611</th>
      <td>saji</td>
      <td>30</td>
      <td>-5.328387</td>
    </tr>
    <tr>
      <th>115</th>
      <td>tanggal</td>
      <td>30</td>
      <td>-5.684239</td>
    </tr>
    <tr>
      <th>139</th>
      <td>asal</td>
      <td>29</td>
      <td>-5.790305</td>
    </tr>
    <tr>
      <th>290</th>
      <td>sisi</td>
      <td>28</td>
      <td>-5.519545</td>
    </tr>
    <tr>
      <th>183</th>
      <td>putar</td>
      <td>27</td>
      <td>-5.403623</td>
    </tr>
    <tr>
      <th>72</th>
      <td>ikut</td>
      <td>27</td>
      <td>-5.914635</td>
    </tr>
    <tr>
      <th>163</th>
      <td>tetap</td>
      <td>26</td>
      <td>-6.121971</td>
    </tr>
    <tr>
      <th>404</th>
      <td>percaya</td>
      <td>26</td>
      <td>-5.710395</td>
    </tr>
    <tr>
      <th>52</th>
      <td>minum</td>
      <td>26</td>
      <td>-5.409860</td>
    </tr>
    <tr>
      <th>273</th>
      <td>tulis</td>
      <td>25</td>
      <td>-5.936114</td>
    </tr>
    <tr>
      <th>136</th>
      <td>tambah</td>
      <td>25</td>
      <td>-6.194016</td>
    </tr>
    <tr>
      <th>619</th>
      <td>melambang</td>
      <td>25</td>
      <td>-5.448634</td>
    </tr>
    <tr>
      <th>85</th>
      <td>kumpul</td>
      <td>24</td>
      <td>-5.840555</td>
    </tr>
    <tr>
      <th>498</th>
      <td>turun</td>
      <td>23</td>
      <td>-5.865686</td>
    </tr>
    <tr>
      <th>637</th>
      <td>muncul</td>
      <td>23</td>
      <td>-6.017853</td>
    </tr>
    <tr>
      <th>560</th>
      <td>bangun</td>
      <td>22</td>
      <td>-5.838107</td>
    </tr>
    <tr>
      <th>1</th>
      <td>buka</td>
      <td>22</td>
      <td>-5.909337</td>
    </tr>
    <tr>
      <th>38</th>
      <td>tarik</td>
      <td>22</td>
      <td>-6.227005</td>
    </tr>
    <tr>
      <th>630</th>
      <td>ganti</td>
      <td>22</td>
      <td>-5.892250</td>
    </tr>
    <tr>
      <th>386</th>
      <td>pilih</td>
      <td>22</td>
      <td>-6.075133</td>
    </tr>
    <tr>
      <th>232</th>
      <td>cipta</td>
      <td>21</td>
      <td>-5.902366</td>
    </tr>
    <tr>
      <th>118</th>
      <td>balap</td>
      <td>20</td>
      <td>-5.307473</td>
    </tr>
    <tr>
      <th>511</th>
      <td>coba</td>
      <td>20</td>
      <td>-6.126423</td>
    </tr>
    <tr>
      <th>515</th>
      <td>pakai</td>
      <td>20</td>
      <td>-6.067141</td>
    </tr>
    <tr>
      <th>74</th>
      <td>kembang</td>
      <td>19</td>
      <td>-6.000527</td>
    </tr>
    <tr>
      <th>583</th>
      <td>gerak</td>
      <td>19</td>
      <td>-5.943148</td>
    </tr>
    <tr>
      <th>69</th>
      <td>lahir</td>
      <td>18</td>
      <td>-5.932354</td>
    </tr>
    <tr>
      <th>631</th>
      <td>bahan</td>
      <td>18</td>
      <td>-5.859427</td>
    </tr>
    <tr>
      <th>306</th>
      <td>datang</td>
      <td>18</td>
      <td>-6.284478</td>
    </tr>
    <tr>
      <th>447</th>
      <td>capai</td>
      <td>18</td>
      <td>-6.105926</td>
    </tr>
    <tr>
      <th>332</th>
      <td>nanti</td>
      <td>18</td>
      <td>-6.374035</td>
    </tr>
    <tr>
      <th>444</th>
      <td>keluar</td>
      <td>18</td>
      <td>-6.214865</td>
    </tr>
    <tr>
      <th>318</th>
      <td>ajar</td>
      <td>18</td>
      <td>-5.954477</td>
    </tr>
    <tr>
      <th>417</th>
      <td>ingat</td>
      <td>17</td>
      <td>-6.241047</td>
    </tr>
    <tr>
      <th>536</th>
      <td>tutup</td>
      <td>17</td>
      <td>-6.109383</td>
    </tr>
    <tr>
      <th>21</th>
      <td>banding</td>
      <td>17</td>
      <td>-6.144771</td>
    </tr>
    <tr>
      <th>541</th>
      <td>lepas</td>
      <td>17</td>
      <td>-5.965309</td>
    </tr>
    <tr>
      <th>158</th>
      <td>ikan</td>
      <td>16</td>
      <td>-5.888411</td>
    </tr>
    <tr>
      <th>133</th>
      <td>darat</td>
      <td>16</td>
      <td>-5.975024</td>
    </tr>
    <tr>
      <th>662</th>
      <td>campur</td>
      <td>16</td>
      <td>-6.000519</td>
    </tr>
    <tr>
      <th>5</th>
      <td>buang</td>
      <td>16</td>
      <td>-5.818438</td>
    </tr>
    <tr>
      <th>212</th>
      <td>masak</td>
      <td>16</td>
      <td>-5.975024</td>
    </tr>
    <tr>
      <th>182</th>
      <td>nikmat</td>
      <td>16</td>
      <td>-6.091041</td>
    </tr>
    <tr>
      <th>299</th>
      <td>letak</td>
      <td>15</td>
      <td>-6.213132</td>
    </tr>
    <tr>
      <th>266</th>
      <td>tunjuk</td>
      <td>15</td>
      <td>-6.420577</td>
    </tr>
    <tr>
      <th>337</th>
      <td>usia</td>
      <td>15</td>
      <td>-6.213132</td>
    </tr>
    <tr>
      <th>495</th>
      <td>jual</td>
      <td>15</td>
      <td>-6.231553</td>
    </tr>
    <tr>
      <th>53</th>
      <td>tahan</td>
      <td>15</td>
      <td>-6.332220</td>
    </tr>
    <tr>
      <th>42</th>
      <td>dengar</td>
      <td>15</td>
      <td>-6.231553</td>
    </tr>
    <tr>
      <th>319</th>
      <td>kerja</td>
      <td>14</td>
      <td>-6.641075</td>
    </tr>
    <tr>
      <th>41</th>
      <td>bakar</td>
      <td>14</td>
      <td>-6.105751</td>
    </tr>
    <tr>
      <th>313</th>
      <td>ucap</td>
      <td>14</td>
      <td>-6.261371</td>
    </tr>
    <tr>
      <th>376</th>
      <td>ubah</td>
      <td>14</td>
      <td>-6.399208</td>
    </tr>
    <tr>
      <th>378</th>
      <td>butuh</td>
      <td>13</td>
      <td>-6.370753</td>
    </tr>
    <tr>
      <th>489</th>
      <td>ambil</td>
      <td>12</td>
      <td>-6.649809</td>
    </tr>
    <tr>
      <th>218</th>
      <td>jatuh</td>
      <td>12</td>
      <td>-6.532694</td>
    </tr>
    <tr>
      <th>162</th>
      <td>lindung</td>
      <td>12</td>
      <td>-6.281503</td>
    </tr>
    <tr>
      <th>581</th>
      <td>bayi</td>
      <td>12</td>
      <td>-6.060139</td>
    </tr>
    <tr>
      <th>433</th>
      <td>layang</td>
      <td>12</td>
      <td>-6.014377</td>
    </tr>
    <tr>
      <th>473</th>
      <td>pasang</td>
      <td>12</td>
      <td>-6.256175</td>
    </tr>
    <tr>
      <th>367</th>
      <td>unjung</td>
      <td>12</td>
      <td>-6.622117</td>
    </tr>
    <tr>
      <th>366</th>
      <td>kira</td>
      <td>12</td>
      <td>-6.430060</td>
    </tr>
    <tr>
      <th>363</th>
      <td>ukur</td>
      <td>12</td>
      <td>-6.350360</td>
    </tr>
    <tr>
      <th>354</th>
      <td>teliti</td>
      <td>12</td>
      <td>-6.200773</td>
    </tr>
    <tr>
      <th>379</th>
      <td>minta</td>
      <td>11</td>
      <td>-6.760053</td>
    </tr>
    <tr>
      <th>250</th>
      <td>henti</td>
      <td>11</td>
      <td>-6.412916</td>
    </tr>
    <tr>
      <th>227</th>
      <td>jelas</td>
      <td>11</td>
      <td>-6.514258</td>
    </tr>
    <tr>
      <th>523</th>
      <td>pukul</td>
      <td>11</td>
      <td>-6.412916</td>
    </tr>
    <tr>
      <th>114</th>
      <td>masuk</td>
      <td>11</td>
      <td>-6.705722</td>
    </tr>
    <tr>
      <th>329</th>
      <td>baca</td>
      <td>11</td>
      <td>-6.412916</td>
    </tr>
    <tr>
      <th>128</th>
      <td>dekat</td>
      <td>10</td>
      <td>-6.378180</td>
    </tr>
    <tr>
      <th>137</th>
      <td>dasar</td>
      <td>10</td>
      <td>-6.568012</td>
    </tr>
    <tr>
      <th>655</th>
      <td>renang</td>
      <td>10</td>
      <td>-6.139530</td>
    </tr>
    <tr>
      <th>641</th>
      <td>usir</td>
      <td>10</td>
      <td>-6.347658</td>
    </tr>
    <tr>
      <th>315</th>
      <td>upa</td>
      <td>10</td>
      <td>-7.600181</td>
    </tr>
    <tr>
      <th>482</th>
      <td>amat</td>
      <td>10</td>
      <td>-6.378180</td>
    </tr>
    <tr>
      <th>311</th>
      <td>kunjung</td>
      <td>10</td>
      <td>-6.526976</td>
    </tr>
    <tr>
      <th>387</th>
      <td>hias</td>
      <td>10</td>
      <td>-6.458497</td>
    </tr>
    <tr>
      <th>480</th>
      <td>beli</td>
      <td>9</td>
      <td>-6.725585</td>
    </tr>
    <tr>
      <th>203</th>
      <td>konsumsi</td>
      <td>9</td>
      <td>-6.177950</td>
    </tr>
    <tr>
      <th>443</th>
      <td>hubung</td>
      <td>9</td>
      <td>-6.628551</td>
    </tr>
    <tr>
      <th>528</th>
      <td>lawan</td>
      <td>9</td>
      <td>-6.707467</td>
    </tr>
    <tr>
      <th>219</th>
      <td>luncur</td>
      <td>9</td>
      <td>-6.560322</td>
    </tr>
    <tr>
      <th>552</th>
      <td>main</td>
      <td>9</td>
      <td>-6.824489</td>
    </tr>
    <tr>
      <th>435</th>
      <td>siap</td>
      <td>9</td>
      <td>-6.760267</td>
    </tr>
    <tr>
      <th>595</th>
      <td>bawah</td>
      <td>9</td>
      <td>-6.776916</td>
    </tr>
    <tr>
      <th>237</th>
      <td>terbit</td>
      <td>9</td>
      <td>-6.560322</td>
    </tr>
    <tr>
      <th>628</th>
      <td>gantung</td>
      <td>9</td>
      <td>-6.535216</td>
    </tr>
    <tr>
      <th>149</th>
      <td>balik</td>
      <td>9</td>
      <td>-6.649383</td>
    </tr>
    <tr>
      <th>238</th>
      <td>air</td>
      <td>9</td>
      <td>-6.295267</td>
    </tr>
    <tr>
      <th>281</th>
      <td>lengkap</td>
      <td>9</td>
      <td>-6.560322</td>
    </tr>
    <tr>
      <th>0</th>
      <td>sebar</td>
      <td>9</td>
      <td>-6.508620</td>
    </tr>
    <tr>
      <th>117</th>
      <td>perhati</td>
      <td>9</td>
      <td>-6.508620</td>
    </tr>
    <tr>
      <th>89</th>
      <td>sedia</td>
      <td>8</td>
      <td>-6.720013</td>
    </tr>
    <tr>
      <th>502</th>
      <td>jaga</td>
      <td>8</td>
      <td>-6.801547</td>
    </tr>
    <tr>
      <th>385</th>
      <td>terima</td>
      <td>8</td>
      <td>-6.995043</td>
    </tr>
    <tr>
      <th>383</th>
      <td>hasil</td>
      <td>8</td>
      <td>-6.720013</td>
    </tr>
    <tr>
      <th>73</th>
      <td>manfaat</td>
      <td>8</td>
      <td>-6.622223</td>
    </tr>
    <tr>
      <th>194</th>
      <td>lanjut</td>
      <td>8</td>
      <td>-7.088021</td>
    </tr>
    <tr>
      <th>441</th>
      <td>penuh</td>
      <td>8</td>
      <td>-6.741622</td>
    </tr>
    <tr>
      <th>635</th>
      <td>atur</td>
      <td>8</td>
      <td>-6.697418</td>
    </tr>
    <tr>
      <th>289</th>
      <td>tunggu</td>
      <td>8</td>
      <td>-6.741622</td>
    </tr>
    <tr>
      <th>214</th>
      <td>ulang</td>
      <td>8</td>
      <td>-6.936543</td>
    </tr>
    <tr>
      <th>629</th>
      <td>kait</td>
      <td>8</td>
      <td>-7.137104</td>
    </tr>
    <tr>
      <th>618</th>
      <td>tuju</td>
      <td>8</td>
      <td>-7.036160</td>
    </tr>
    <tr>
      <th>164</th>
      <td>tugas</td>
      <td>8</td>
      <td>-6.494918</td>
    </tr>
    <tr>
      <th>567</th>
      <td>besi</td>
      <td>8</td>
      <td>-6.356898</td>
    </tr>
    <tr>
      <th>45</th>
      <td>api</td>
      <td>8</td>
      <td>-6.622223</td>
    </tr>
    <tr>
      <th>334</th>
      <td>lewat</td>
      <td>8</td>
      <td>-6.995043</td>
    </tr>
    <tr>
      <th>259</th>
      <td>tukar</td>
      <td>8</td>
      <td>-6.593996</td>
    </tr>
    <tr>
      <th>91</th>
      <td>bantu</td>
      <td>8</td>
      <td>-6.905379</td>
    </tr>
    <tr>
      <th>267</th>
      <td>kirim</td>
      <td>8</td>
      <td>-6.855670</td>
    </tr>
    <tr>
      <th>512</th>
      <td>daun</td>
      <td>8</td>
      <td>-6.292728</td>
    </tr>
    <tr>
      <th>269</th>
      <td>tabrak</td>
      <td>8</td>
      <td>-6.409672</td>
    </tr>
    <tr>
      <th>304</th>
      <td>abad</td>
      <td>8</td>
      <td>-6.563694</td>
    </tr>
    <tr>
      <th>594</th>
      <td>lupa</td>
      <td>8</td>
      <td>-6.820152</td>
    </tr>
    <tr>
      <th>522</th>
      <td>gabung</td>
      <td>8</td>
      <td>-6.697418</td>
    </tr>
    <tr>
      <th>561</th>
      <td>tayang</td>
      <td>8</td>
      <td>-6.530871</td>
    </tr>
    <tr>
      <th>36</th>
      <td>terbang</td>
      <td>8</td>
      <td>-6.673703</td>
    </tr>
    <tr>
      <th>325</th>
      <td>meni</td>
      <td>7</td>
      <td>-6.692179</td>
    </tr>
    <tr>
      <th>113</th>
      <td>pengaruh</td>
      <td>7</td>
      <td>-6.722327</td>
    </tr>
    <tr>
      <th>258</th>
      <td>habis</td>
      <td>7</td>
      <td>-6.909560</td>
    </tr>
    <tr>
      <th>88</th>
      <td>agam</td>
      <td>7</td>
      <td>-6.750405</td>
    </tr>
    <tr>
      <th>270</th>
      <td>saksi</td>
      <td>7</td>
      <td>-6.825184</td>
    </tr>
    <tr>
      <th>553</th>
      <td>mula</td>
      <td>7</td>
      <td>-7.748138</td>
    </tr>
    <tr>
      <th>360</th>
      <td>langsung</td>
      <td>7</td>
      <td>-6.889735</td>
    </tr>
    <tr>
      <th>102</th>
      <td>masakan</td>
      <td>7</td>
      <td>-6.486324</td>
    </tr>
    <tr>
      <th>249</th>
      <td>bukti</td>
      <td>7</td>
      <td>-6.847647</td>
    </tr>
    <tr>
      <th>193</th>
      <td>bersih</td>
      <td>7</td>
      <td>-6.692179</td>
    </tr>
    <tr>
      <th>222</th>
      <td>produksi</td>
      <td>7</td>
      <td>-6.583964</td>
    </tr>
    <tr>
      <th>239</th>
      <td>ajak</td>
      <td>7</td>
      <td>-6.825184</td>
    </tr>
    <tr>
      <th>466</th>
      <td>simpan</td>
      <td>6</td>
      <td>-6.948295</td>
    </tr>
    <tr>
      <th>644</th>
      <td>petik</td>
      <td>6</td>
      <td>-6.571448</td>
    </tr>
    <tr>
      <th>555</th>
      <td>semangat</td>
      <td>6</td>
      <td>-6.807195</td>
    </tr>
    <tr>
      <th>398</th>
      <td>macam</td>
      <td>6</td>
      <td>-6.635027</td>
    </tr>
    <tr>
      <th>13</th>
      <td>lari</td>
      <td>6</td>
      <td>-6.839641</td>
    </tr>
    <tr>
      <th>101</th>
      <td>mata</td>
      <td>6</td>
      <td>-6.732110</td>
    </tr>
    <tr>
      <th>608</th>
      <td>tonton</td>
      <td>6</td>
      <td>-6.839641</td>
    </tr>
    <tr>
      <th>451</th>
      <td>tumbuh</td>
      <td>6</td>
      <td>-6.732110</td>
    </tr>
    <tr>
      <th>575</th>
      <td>kisah</td>
      <td>6</td>
      <td>-6.687286</td>
    </tr>
    <tr>
      <th>665</th>
      <td>cerita</td>
      <td>6</td>
      <td>-6.971698</td>
    </tr>
    <tr>
      <th>373</th>
      <td>rang</td>
      <td>6</td>
      <td>-7.392264</td>
    </tr>
    <tr>
      <th>19</th>
      <td>wakil</td>
      <td>6</td>
      <td>-6.771641</td>
    </tr>
    <tr>
      <th>545</th>
      <td>inspirasi</td>
      <td>6</td>
      <td>-6.839641</td>
    </tr>
    <tr>
      <th>437</th>
      <td>besar</td>
      <td>6</td>
      <td>-6.687286</td>
    </tr>
    <tr>
      <th>538</th>
      <td>hari</td>
      <td>6</td>
      <td>-6.635027</td>
    </tr>
    <tr>
      <th>275</th>
      <td>damping</td>
      <td>6</td>
      <td>-6.771641</td>
    </tr>
    <tr>
      <th>176</th>
      <td>pergi</td>
      <td>6</td>
      <td>-7.015300</td>
    </tr>
    <tr>
      <th>543</th>
      <td>judul</td>
      <td>6</td>
      <td>-6.869585</td>
    </tr>
    <tr>
      <th>58</th>
      <td>timbul</td>
      <td>6</td>
      <td>-6.771641</td>
    </tr>
    <tr>
      <th>651</th>
      <td>keliling</td>
      <td>6</td>
      <td>-6.771641</td>
    </tr>
    <tr>
      <th>64</th>
      <td>wujud</td>
      <td>6</td>
      <td>-6.897467</td>
    </tr>
    <tr>
      <th>95</th>
      <td>rendam</td>
      <td>6</td>
      <td>-6.771641</td>
    </tr>
    <tr>
      <th>598</th>
      <td>tangkap</td>
      <td>5</td>
      <td>-7.244955</td>
    </tr>
    <tr>
      <th>394</th>
      <td>bayang</td>
      <td>5</td>
      <td>-6.945281</td>
    </tr>
    <tr>
      <th>226</th>
      <td>usaha</td>
      <td>5</td>
      <td>-7.244955</td>
    </tr>
    <tr>
      <th>539</th>
      <td>hitung</td>
      <td>5</td>
      <td>-6.945281</td>
    </tr>
    <tr>
      <th>588</th>
      <td>pompa</td>
      <td>5</td>
      <td>-6.663967</td>
    </tr>
    <tr>
      <th>614</th>
      <td>jangkau</td>
      <td>5</td>
      <td>-6.945281</td>
    </tr>
    <tr>
      <th>389</th>
      <td>tentu</td>
      <td>5</td>
      <td>-7.165479</td>
    </tr>
    <tr>
      <th>2</th>
      <td>cicip</td>
      <td>5</td>
      <td>-6.906085</td>
    </tr>
    <tr>
      <th>434</th>
      <td>lempar</td>
      <td>5</td>
      <td>-6.945281</td>
    </tr>
    <tr>
      <th>260</th>
      <td>asa</td>
      <td>5</td>
      <td>-8.181648</td>
    </tr>
    <tr>
      <th>181</th>
      <td>panas</td>
      <td>5</td>
      <td>-6.861625</td>
    </tr>
    <tr>
      <th>242</th>
      <td>seni</td>
      <td>5</td>
      <td>-6.945281</td>
    </tr>
    <tr>
      <th>9</th>
      <td>isap</td>
      <td>5</td>
      <td>-6.746657</td>
    </tr>
    <tr>
      <th>475</th>
      <td>tanda</td>
      <td>5</td>
      <td>-7.012673</td>
    </tr>
    <tr>
      <th>416</th>
      <td>kurang</td>
      <td>5</td>
      <td>-7.143425</td>
    </tr>
    <tr>
      <th>566</th>
      <td>periksa</td>
      <td>5</td>
      <td>-7.012673</td>
    </tr>
    <tr>
      <th>157</th>
      <td>desain</td>
      <td>5</td>
      <td>-6.945281</td>
    </tr>
    <tr>
      <th>471</th>
      <td>astronomi</td>
      <td>5</td>
      <td>-6.861625</td>
    </tr>
    <tr>
      <th>646</th>
      <td>bisa</td>
      <td>5</td>
      <td>-6.945281</td>
    </tr>
    <tr>
      <th>189</th>
      <td>alir</td>
      <td>5</td>
      <td>-6.906085</td>
    </tr>
    <tr>
      <th>14</th>
      <td>sambut</td>
      <td>5</td>
      <td>-6.980522</td>
    </tr>
    <tr>
      <th>140</th>
      <td>erat</td>
      <td>4</td>
      <td>-7.278511</td>
    </tr>
    <tr>
      <th>243</th>
      <td>hukum</td>
      <td>4</td>
      <td>-7.432330</td>
    </tr>
    <tr>
      <th>413</th>
      <td>pimpin</td>
      <td>4</td>
      <td>-7.328082</td>
    </tr>
    <tr>
      <th>331</th>
      <td>bayar</td>
      <td>4</td>
      <td>-7.304024</td>
    </tr>
    <tr>
      <th>278</th>
      <td>boleh</td>
      <td>4</td>
      <td>-7.190324</td>
    </tr>
    <tr>
      <th>86</th>
      <td>lintas</td>
      <td>4</td>
      <td>-7.116838</td>
    </tr>
    <tr>
      <th>514</th>
      <td>lingkar</td>
      <td>4</td>
      <td>-6.959226</td>
    </tr>
    <tr>
      <th>578</th>
      <td>larang</td>
      <td>4</td>
      <td>-7.190324</td>
    </tr>
    <tr>
      <th>671</th>
      <td>duga</td>
      <td>4</td>
      <td>-7.372591</td>
    </tr>
    <tr>
      <th>261</th>
      <td>awal</td>
      <td>4</td>
      <td>-7.222042</td>
    </tr>
    <tr>
      <th>146</th>
      <td>pisah</td>
      <td>4</td>
      <td>-7.328082</td>
    </tr>
    <tr>
      <th>312</th>
      <td>hati</td>
      <td>4</td>
      <td>-7.432330</td>
    </tr>
    <tr>
      <th>603</th>
      <td>pasti</td>
      <td>4</td>
      <td>-7.304024</td>
    </tr>
    <tr>
      <th>464</th>
      <td>serang</td>
      <td>4</td>
      <td>-7.222042</td>
    </tr>
    <tr>
      <th>263</th>
      <td>segel</td>
      <td>4</td>
      <td>-6.959226</td>
    </tr>
    <tr>
      <th>346</th>
      <td>komunikasi</td>
      <td>4</td>
      <td>-7.116838</td>
    </tr>
    <tr>
      <th>23</th>
      <td>adaptasi</td>
      <td>4</td>
      <td>-7.072914</td>
    </tr>
    <tr>
      <th>432</th>
      <td>angguk</td>
      <td>4</td>
      <td>-6.877372</td>
    </tr>
    <tr>
      <th>483</th>
      <td>bulan</td>
      <td>4</td>
      <td>-7.021655</td>
    </tr>
    <tr>
      <th>75</th>
      <td>susun</td>
      <td>4</td>
      <td>-7.116838</td>
    </tr>
    <tr>
      <th>375</th>
      <td>curi</td>
      <td>4</td>
      <td>-7.190324</td>
    </tr>
    <tr>
      <th>78</th>
      <td>doa</td>
      <td>4</td>
      <td>-7.116838</td>
    </tr>
    <tr>
      <th>650</th>
      <td>tanam</td>
      <td>4</td>
      <td>-6.959226</td>
    </tr>
    <tr>
      <th>559</th>
      <td>simak</td>
      <td>4</td>
      <td>-7.116838</td>
    </tr>
    <tr>
      <th>408</th>
      <td>perintah</td>
      <td>4</td>
      <td>-7.116838</td>
    </tr>
    <tr>
      <th>126</th>
      <td>usul</td>
      <td>4</td>
      <td>-7.190324</td>
    </tr>
    <tr>
      <th>211</th>
      <td>latih</td>
      <td>4</td>
      <td>-7.190324</td>
    </tr>
    <tr>
      <th>496</th>
      <td>yakin</td>
      <td>4</td>
      <td>-7.350885</td>
    </tr>
    <tr>
      <th>661</th>
      <td>sari</td>
      <td>4</td>
      <td>-6.959226</td>
    </tr>
    <tr>
      <th>535</th>
      <td>tua</td>
      <td>4</td>
      <td>-7.278511</td>
    </tr>
    <tr>
      <th>66</th>
      <td>bicara</td>
      <td>4</td>
      <td>-7.393332</td>
    </tr>
    <tr>
      <th>390</th>
      <td>cetak</td>
      <td>4</td>
      <td>-7.072914</td>
    </tr>
    <tr>
      <th>472</th>
      <td>ungkap</td>
      <td>4</td>
      <td>-7.502488</td>
    </tr>
    <tr>
      <th>626</th>
      <td>hadap</td>
      <td>4</td>
      <td>-7.350885</td>
    </tr>
    <tr>
      <th>625</th>
      <td>goreng</td>
      <td>4</td>
      <td>-7.155542</td>
    </tr>
    <tr>
      <th>18</th>
      <td>nilai</td>
      <td>4</td>
      <td>-7.251293</td>
    </tr>
    <tr>
      <th>399</th>
      <td>harus</td>
      <td>4</td>
      <td>-7.072914</td>
    </tr>
    <tr>
      <th>344</th>
      <td>salju</td>
      <td>4</td>
      <td>-7.021655</td>
    </tr>
    <tr>
      <th>165</th>
      <td>pandai</td>
      <td>4</td>
      <td>-6.959226</td>
    </tr>
    <tr>
      <th>527</th>
      <td>akhir</td>
      <td>3</td>
      <td>-7.590729</td>
    </tr>
    <tr>
      <th>550</th>
      <td>fungsi</td>
      <td>3</td>
      <td>-7.456158</td>
    </tr>
    <tr>
      <th>526</th>
      <td>banting</td>
      <td>3</td>
      <td>-7.149030</td>
    </tr>
    <tr>
      <th>307</th>
      <td>tidur</td>
      <td>3</td>
      <td>-7.515769</td>
    </tr>
    <tr>
      <th>392</th>
      <td>sedot</td>
      <td>3</td>
      <td>-7.149030</td>
    </tr>
    <tr>
      <th>454</th>
      <td>tempat</td>
      <td>3</td>
      <td>-7.567259</td>
    </tr>
    <tr>
      <th>593</th>
      <td>bangkit</td>
      <td>3</td>
      <td>-7.341144</td>
    </tr>
    <tr>
      <th>591</th>
      <td>umum</td>
      <td>3</td>
      <td>-7.692264</td>
    </tr>
    <tr>
      <th>456</th>
      <td>aku</td>
      <td>3</td>
      <td>-8.862341</td>
    </tr>
    <tr>
      <th>585</th>
      <td>libat</td>
      <td>3</td>
      <td>-7.692264</td>
    </tr>
    <tr>
      <th>412</th>
      <td>tan</td>
      <td>3</td>
      <td>-8.927285</td>
    </tr>
    <tr>
      <th>551</th>
      <td>bahaya</td>
      <td>3</td>
      <td>-7.456158</td>
    </tr>
    <tr>
      <th>438</th>
      <td>berangkat</td>
      <td>3</td>
      <td>-7.487179</td>
    </tr>
    <tr>
      <th>517</th>
      <td>papar</td>
      <td>3</td>
      <td>-7.456158</td>
    </tr>
    <tr>
      <th>338</th>
      <td>paksa</td>
      <td>3</td>
      <td>-7.590729</td>
    </tr>
    <tr>
      <th>446</th>
      <td>minat</td>
      <td>3</td>
      <td>-7.290849</td>
    </tr>
    <tr>
      <th>345</th>
      <td>panggang</td>
      <td>3</td>
      <td>-7.290849</td>
    </tr>
    <tr>
      <th>396</th>
      <td>tingkat</td>
      <td>3</td>
      <td>-7.542355</td>
    </tr>
    <tr>
      <th>410</th>
      <td>orbit</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>60</th>
      <td>cair</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>28</th>
      <td>harga</td>
      <td>3</td>
      <td>-7.384204</td>
    </tr>
    <tr>
      <th>518</th>
      <td>lapor</td>
      <td>3</td>
      <td>-7.806419</td>
    </tr>
    <tr>
      <th>428</th>
      <td>rencana</td>
      <td>3</td>
      <td>-7.710179</td>
    </tr>
    <tr>
      <th>562</th>
      <td>kandung</td>
      <td>3</td>
      <td>-7.341144</td>
    </tr>
    <tr>
      <th>321</th>
      <td>senang</td>
      <td>3</td>
      <td>-7.487179</td>
    </tr>
    <tr>
      <th>442</th>
      <td>akibat</td>
      <td>3</td>
      <td>-7.290849</td>
    </tr>
    <tr>
      <th>407</th>
      <td>meri</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>361</th>
      <td>dio</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>427</th>
      <td>batal</td>
      <td>3</td>
      <td>-7.341144</td>
    </tr>
    <tr>
      <th>316</th>
      <td>hindar</td>
      <td>3</td>
      <td>-7.542355</td>
    </tr>
    <tr>
      <th>369</th>
      <td>cocok</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>424</th>
      <td>taruh</td>
      <td>3</td>
      <td>-7.384204</td>
    </tr>
    <tr>
      <th>288</th>
      <td>tahun</td>
      <td>3</td>
      <td>-7.515769</td>
    </tr>
    <tr>
      <th>129</th>
      <td>lengkung</td>
      <td>3</td>
      <td>-7.149030</td>
    </tr>
    <tr>
      <th>125</th>
      <td>sehat</td>
      <td>3</td>
      <td>-7.290849</td>
    </tr>
    <tr>
      <th>659</th>
      <td>bela</td>
      <td>3</td>
      <td>-7.542355</td>
    </tr>
    <tr>
      <th>252</th>
      <td>babi</td>
      <td>3</td>
      <td>-7.149030</td>
    </tr>
    <tr>
      <th>20</th>
      <td>tumbuk</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>612</th>
      <td>hangat</td>
      <td>3</td>
      <td>-7.149030</td>
    </tr>
    <tr>
      <th>167</th>
      <td>tenaga</td>
      <td>3</td>
      <td>-7.149030</td>
    </tr>
    <tr>
      <th>47</th>
      <td>sakit</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>486</th>
      <td>tebak</td>
      <td>3</td>
      <td>-7.384204</td>
    </tr>
    <tr>
      <th>7</th>
      <td>tari</td>
      <td>3</td>
      <td>-8.110832</td>
    </tr>
    <tr>
      <th>241</th>
      <td>siang</td>
      <td>3</td>
      <td>-7.290849</td>
    </tr>
    <tr>
      <th>180</th>
      <td>takhta</td>
      <td>3</td>
      <td>-7.149030</td>
    </tr>
    <tr>
      <th>615</th>
      <td>mudah</td>
      <td>3</td>
      <td>-7.384204</td>
    </tr>
    <tr>
      <th>623</th>
      <td>sisa</td>
      <td>3</td>
      <td>-7.456158</td>
    </tr>
    <tr>
      <th>624</th>
      <td>motif</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>649</th>
      <td>cerdas</td>
      <td>3</td>
      <td>-7.149030</td>
    </tr>
    <tr>
      <th>51</th>
      <td>lestari</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>478</th>
      <td>tembak</td>
      <td>3</td>
      <td>-7.542355</td>
    </tr>
    <tr>
      <th>481</th>
      <td>racun</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>197</th>
      <td>pindah</td>
      <td>3</td>
      <td>-7.487179</td>
    </tr>
    <tr>
      <th>262</th>
      <td>pindai</td>
      <td>3</td>
      <td>-7.149030</td>
    </tr>
    <tr>
      <th>506</th>
      <td>nyala</td>
      <td>3</td>
      <td>-7.341144</td>
    </tr>
    <tr>
      <th>153</th>
      <td>naik</td>
      <td>3</td>
      <td>-7.654313</td>
    </tr>
    <tr>
      <th>151</th>
      <td>tata</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>461</th>
      <td>benam</td>
      <td>3</td>
      <td>-7.229529</td>
    </tr>
    <tr>
      <th>459</th>
      <td>diameter</td>
      <td>3</td>
      <td>-7.290849</td>
    </tr>
    <tr>
      <th>425</th>
      <td>pendek</td>
      <td>3</td>
      <td>-7.149030</td>
    </tr>
    <tr>
      <th>670</th>
      <td>lambang</td>
      <td>3</td>
      <td>-7.487179</td>
    </tr>
    <tr>
      <th>279</th>
      <td>hormat</td>
      <td>3</td>
      <td>-7.422115</td>
    </tr>
    <tr>
      <th>508</th>
      <td>gera</td>
      <td>3</td>
      <td>-7.744213</td>
    </tr>
    <tr>
      <th>119</th>
      <td>tani</td>
      <td>2</td>
      <td>-7.750235</td>
    </tr>
    <tr>
      <th>546</th>
      <td>puja</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>62</th>
      <td>betul</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>436</th>
      <td>kak</td>
      <td>2</td>
      <td>-7.786653</td>
    </tr>
    <tr>
      <th>419</th>
      <td>diam</td>
      <td>2</td>
      <td>-7.786653</td>
    </tr>
    <tr>
      <th>492</th>
      <td>redup</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>120</th>
      <td>catat</td>
      <td>2</td>
      <td>-7.925553</td>
    </tr>
    <tr>
      <th>648</th>
      <td>liar</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>525</th>
      <td>kukus</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>421</th>
      <td>operasi</td>
      <td>2</td>
      <td>-7.786653</td>
    </tr>
    <tr>
      <th>131</th>
      <td>kejut</td>
      <td>2</td>
      <td>-7.708807</td>
    </tr>
    <tr>
      <th>138</th>
      <td>duka</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>54</th>
      <td>serah</td>
      <td>2</td>
      <td>-7.819309</td>
    </tr>
    <tr>
      <th>199</th>
      <td>reda</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>10</th>
      <td>putus</td>
      <td>2</td>
      <td>-8.026801</td>
    </tr>
    <tr>
      <th>76</th>
      <td>belakang</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>554</th>
      <td>fermentasi</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>365</th>
      <td>dunia</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>37</th>
      <td>sinar</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>175</th>
      <td>paham</td>
      <td>2</td>
      <td>-7.708807</td>
    </tr>
    <tr>
      <th>179</th>
      <td>kecil</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>177</th>
      <td>tadi</td>
      <td>2</td>
      <td>-7.708807</td>
    </tr>
    <tr>
      <th>532</th>
      <td>rawat</td>
      <td>2</td>
      <td>-7.708807</td>
    </tr>
    <tr>
      <th>50</th>
      <td>jam</td>
      <td>2</td>
      <td>-7.901783</td>
    </tr>
    <tr>
      <th>534</th>
      <td>bangsa</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>6</th>
      <td>kitar</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>666</th>
      <td>heran</td>
      <td>2</td>
      <td>-7.750235</td>
    </tr>
    <tr>
      <th>161</th>
      <td>ambang</td>
      <td>2</td>
      <td>-7.947929</td>
    </tr>
    <tr>
      <th>660</th>
      <td>keras</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>397</th>
      <td>selesai</td>
      <td>2</td>
      <td>-7.849025</td>
    </tr>
    <tr>
      <th>3</th>
      <td>sesuai</td>
      <td>2</td>
      <td>-7.708807</td>
    </tr>
    <tr>
      <th>491</th>
      <td>teman</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>201</th>
      <td>celup</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>488</th>
      <td>perlu</td>
      <td>2</td>
      <td>-7.750235</td>
    </tr>
    <tr>
      <th>145</th>
      <td>injak</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>414</th>
      <td>angkat</td>
      <td>2</td>
      <td>-8.008425</td>
    </tr>
    <tr>
      <th>415</th>
      <td>meditasi</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>122</th>
      <td>muka</td>
      <td>2</td>
      <td>-7.708807</td>
    </tr>
    <tr>
      <th>653</th>
      <td>takjub</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>499</th>
      <td>menara</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>406</th>
      <td>rilis</td>
      <td>2</td>
      <td>-8.108959</td>
    </tr>
    <tr>
      <th>364</th>
      <td>kemas</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>357</th>
      <td>sekolah</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>116</th>
      <td>tembus</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>580</th>
      <td>hibur</td>
      <td>2</td>
      <td>-7.708807</td>
    </tr>
    <tr>
      <th>639</th>
      <td>lomba</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>609</th>
      <td>daur</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>322</th>
      <td>jarak</td>
      <td>2</td>
      <td>-7.819309</td>
    </tr>
    <tr>
      <th>254</th>
      <td>seberang</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>320</th>
      <td>mandi</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>87</th>
      <td>variasi</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>256</th>
      <td>selai</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>579</th>
      <td>tepat</td>
      <td>2</td>
      <td>-7.786653</td>
    </tr>
    <tr>
      <th>90</th>
      <td>jumlah</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>467</th>
      <td>geser</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>265</th>
      <td>cegah</td>
      <td>2</td>
      <td>-7.849025</td>
    </tr>
    <tr>
      <th>25</th>
      <td>satu</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>505</th>
      <td>nal</td>
      <td>2</td>
      <td>-8.609428</td>
    </tr>
    <tr>
      <th>582</th>
      <td>luka</td>
      <td>2</td>
      <td>-7.925553</td>
    </tr>
    <tr>
      <th>99</th>
      <td>bengkak</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>463</th>
      <td>bekal</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>277</th>
      <td>cahaya</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>587</th>
      <td>kalah</td>
      <td>2</td>
      <td>-7.750235</td>
    </tr>
    <tr>
      <th>590</th>
      <td>seram</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>282</th>
      <td>maksud</td>
      <td>2</td>
      <td>-7.819309</td>
    </tr>
    <tr>
      <th>297</th>
      <td>sadar</td>
      <td>2</td>
      <td>-7.901783</td>
    </tr>
    <tr>
      <th>97</th>
      <td>pasuk</td>
      <td>2</td>
      <td>-7.819309</td>
    </tr>
    <tr>
      <th>293</th>
      <td>pantau</td>
      <td>2</td>
      <td>-7.750235</td>
    </tr>
    <tr>
      <th>286</th>
      <td>singgung</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>330</th>
      <td>tolak</td>
      <td>2</td>
      <td>-7.989227</td>
    </tr>
    <tr>
      <th>248</th>
      <td>ramai</td>
      <td>2</td>
      <td>-7.786653</td>
    </tr>
    <tr>
      <th>573</th>
      <td>kendara</td>
      <td>2</td>
      <td>-7.708807</td>
    </tr>
    <tr>
      <th>234</th>
      <td>jelajah</td>
      <td>2</td>
      <td>-7.708807</td>
    </tr>
    <tr>
      <th>205</th>
      <td>tanggap</td>
      <td>2</td>
      <td>-7.819309</td>
    </tr>
    <tr>
      <th>520</th>
      <td>kreasi</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>509</th>
      <td>mundur</td>
      <td>2</td>
      <td>-7.901783</td>
    </tr>
    <tr>
      <th>638</th>
      <td>bulu</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>207</th>
      <td>interaksi</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>11</th>
      <td>peran</td>
      <td>2</td>
      <td>-7.786653</td>
    </tr>
    <tr>
      <th>479</th>
      <td>aneka</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>111</th>
      <td>unggah</td>
      <td>2</td>
      <td>-7.925553</td>
    </tr>
    <tr>
      <th>500</th>
      <td>beruang</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>501</th>
      <td>deteksi</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>348</th>
      <td>suwir</td>
      <td>2</td>
      <td>-7.523197</td>
    </tr>
    <tr>
      <th>229</th>
      <td>aduk</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>347</th>
      <td>mati</td>
      <td>2</td>
      <td>-7.947929</td>
    </tr>
    <tr>
      <th>280</th>
      <td>lipat</td>
      <td>2</td>
      <td>-7.708807</td>
    </tr>
    <tr>
      <th>27</th>
      <td>rebut</td>
      <td>2</td>
      <td>-7.925553</td>
    </tr>
    <tr>
      <th>340</th>
      <td>hilang</td>
      <td>2</td>
      <td>-7.819309</td>
    </tr>
    <tr>
      <th>339</th>
      <td>padi</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>104</th>
      <td>takut</td>
      <td>2</td>
      <td>-7.660332</td>
    </tr>
    <tr>
      <th>240</th>
      <td>tambang</td>
      <td>2</td>
      <td>-7.601117</td>
    </tr>
    <tr>
      <th>59</th>
      <td>kutip</td>
      <td>2</td>
      <td>-8.077796</td>
    </tr>
    <tr>
      <th>40</th>
      <td>pandang</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>46</th>
      <td>uap</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>519</th>
      <td>ira</td>
      <td>1</td>
      <td>-8.808728</td>
    </tr>
    <tr>
      <th>510</th>
      <td>susul</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>39</th>
      <td>dalam</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>513</th>
      <td>pati</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>521</th>
      <td>tepi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>503</th>
      <td>mi</td>
      <td>1</td>
      <td>-9.521647</td>
    </tr>
    <tr>
      <th>44</th>
      <td>pes</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>524</th>
      <td>cuci</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>516</th>
      <td>hafal</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>43</th>
      <td>waris</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>134</th>
      <td>tipu</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>529</th>
      <td>awat</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>613</th>
      <td>migrasi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>16</th>
      <td>derita</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>627</th>
      <td>teriak</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>622</th>
      <td>rancang</td>
      <td>1</td>
      <td>-8.468314</td>
    </tr>
    <tr>
      <th>621</th>
      <td>hancur</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>620</th>
      <td>cakup</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>617</th>
      <td>profesi</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>610</th>
      <td>tiru</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>530</th>
      <td>surut</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>607</th>
      <td>sentuh</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>606</th>
      <td>tangkal</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>605</th>
      <td>pikir</td>
      <td>1</td>
      <td>-8.489227</td>
    </tr>
    <tr>
      <th>604</th>
      <td>ekspor</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>22</th>
      <td>kurung</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>601</th>
      <td>luk</td>
      <td>1</td>
      <td>-8.592901</td>
    </tr>
    <tr>
      <th>15</th>
      <td>bentang</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>632</th>
      <td>tanya</td>
      <td>1</td>
      <td>-8.527387</td>
    </tr>
    <tr>
      <th>633</th>
      <td>kabung</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>634</th>
      <td>landa</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>642</th>
      <td>pancar</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>8</th>
      <td>lap</td>
      <td>1</td>
      <td>-8.740965</td>
    </tr>
    <tr>
      <th>645</th>
      <td>konsultasi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>647</th>
      <td>jemput</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>652</th>
      <td>kelah</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>654</th>
      <td>letus</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>656</th>
      <td>pancing</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>657</th>
      <td>baik</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>658</th>
      <td>bar</td>
      <td>1</td>
      <td>-8.899766</td>
    </tr>
    <tr>
      <th>663</th>
      <td>lolos</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>664</th>
      <td>denda</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>668</th>
      <td>kerah</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>672</th>
      <td>pulang</td>
      <td>1</td>
      <td>-8.489227</td>
    </tr>
    <tr>
      <th>600</th>
      <td>posisi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>599</th>
      <td>sembur</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>597</th>
      <td>mes</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>31</th>
      <td>jarah</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>531</th>
      <td>perang</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>533</th>
      <td>gang</td>
      <td>1</td>
      <td>-8.577619</td>
    </tr>
    <tr>
      <th>537</th>
      <td>duduk</td>
      <td>1</td>
      <td>-8.395299</td>
    </tr>
    <tr>
      <th>540</th>
      <td>hal</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>34</th>
      <td>dibudidayakan</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>542</th>
      <td>hidang</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>544</th>
      <td>undur</td>
      <td>1</td>
      <td>-8.527387</td>
    </tr>
    <tr>
      <th>33</th>
      <td>kelompok</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>548</th>
      <td>lancar</td>
      <td>1</td>
      <td>-8.421687</td>
    </tr>
    <tr>
      <th>549</th>
      <td>malam</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>32</th>
      <td>berani</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>556</th>
      <td>beres</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>557</th>
      <td>lapis</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>558</th>
      <td>wawancara</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>29</th>
      <td>wisata</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>596</th>
      <td>lai</td>
      <td>1</td>
      <td>-9.212783</td>
    </tr>
    <tr>
      <th>565</th>
      <td>tuang</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>568</th>
      <td>tangan</td>
      <td>1</td>
      <td>-8.577619</td>
    </tr>
    <tr>
      <th>569</th>
      <td>terang</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>570</th>
      <td>buntut</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>572</th>
      <td>gelombang</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>26</th>
      <td>belok</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>576</th>
      <td>daftar</td>
      <td>1</td>
      <td>-8.333632</td>
    </tr>
    <tr>
      <th>577</th>
      <td>mangsa</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>494</th>
      <td>hapus</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>24</th>
      <td>baru</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>584</th>
      <td>ganggu</td>
      <td>1</td>
      <td>-8.421687</td>
    </tr>
    <tr>
      <th>586</th>
      <td>didih</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>589</th>
      <td>culik</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>592</th>
      <td>jajah</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>48</th>
      <td>halus</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>405</th>
      <td>dampak</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>493</th>
      <td>gembira</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>109</th>
      <td>pusat</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>253</th>
      <td>si</td>
      <td>1</td>
      <td>-9.631440</td>
    </tr>
    <tr>
      <th>251</th>
      <td>timbang</td>
      <td>1</td>
      <td>-8.395299</td>
    </tr>
    <tr>
      <th>103</th>
      <td>paten</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>246</th>
      <td>buru</td>
      <td>1</td>
      <td>-8.395299</td>
    </tr>
    <tr>
      <th>245</th>
      <td>paut</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>244</th>
      <td>gari</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>105</th>
      <td>sawi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>236</th>
      <td>samar</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>235</th>
      <td>mimpi</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>233</th>
      <td>limut</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>106</th>
      <td>pelihara</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>231</th>
      <td>sayat</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>230</th>
      <td>saudara</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>228</th>
      <td>halau</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>108</th>
      <td>tema</td>
      <td>1</td>
      <td>-8.421687</td>
    </tr>
    <tr>
      <th>225</th>
      <td>isolasi</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>224</th>
      <td>kasih</td>
      <td>1</td>
      <td>-8.333632</td>
    </tr>
    <tr>
      <th>223</th>
      <td>undang</td>
      <td>1</td>
      <td>-8.333632</td>
    </tr>
    <tr>
      <th>221</th>
      <td>berai</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>255</th>
      <td>antar</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>264</th>
      <td>cincang</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>100</th>
      <td>dana</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>291</th>
      <td>panen</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>302</th>
      <td>klasifikasi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>301</th>
      <td>rontok</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>300</th>
      <td>beringin</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>94</th>
      <td>kuat</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>298</th>
      <td>dingin</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>296</th>
      <td>hembus</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>295</th>
      <td>ekspresi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>294</th>
      <td>bungkus</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>96</th>
      <td>kenang</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>268</th>
      <td>dokumentasi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>287</th>
      <td>kuda</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>284</th>
      <td>kikis</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>283</th>
      <td>karunia</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>98</th>
      <td>membudidayakan</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>276</th>
      <td>mengo</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>274</th>
      <td>merica</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>272</th>
      <td>apung</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>271</th>
      <td>shiroi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>220</th>
      <td>adakan</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>110</th>
      <td>hampir</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>305</th>
      <td>tolong</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>217</th>
      <td>muat</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>172</th>
      <td>peluru</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>170</th>
      <td>promosi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>169</th>
      <td>parut</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>168</th>
      <td>selamat</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>166</th>
      <td>disalahgunakan</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>123</th>
      <td>manah</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>124</th>
      <td>bahu</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>159</th>
      <td>rekam</td>
      <td>1</td>
      <td>-8.421687</td>
    </tr>
    <tr>
      <th>156</th>
      <td>reaksi</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>127</th>
      <td>jamu</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>152</th>
      <td>tonjol</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>150</th>
      <td>pihak</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>130</th>
      <td>mini</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>148</th>
      <td>rotasi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>147</th>
      <td>terap</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>144</th>
      <td>ibadah</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>143</th>
      <td>kuasa</td>
      <td>1</td>
      <td>-8.395299</td>
    </tr>
    <tr>
      <th>142</th>
      <td>anugerah</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>141</th>
      <td>beku</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>173</th>
      <td>sengat</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>174</th>
      <td>bunga</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>121</th>
      <td>toreh</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>200</th>
      <td>tulang</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>216</th>
      <td>nali</td>
      <td>1</td>
      <td>-8.333632</td>
    </tr>
    <tr>
      <th>213</th>
      <td>paku</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>112</th>
      <td>tahap</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>210</th>
      <td>cermat</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>209</th>
      <td>tukik</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>208</th>
      <td>tumpang</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>206</th>
      <td>uji</td>
      <td>1</td>
      <td>-8.395299</td>
    </tr>
    <tr>
      <th>204</th>
      <td>potret</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>198</th>
      <td>asah</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>184</th>
      <td>jabat</td>
      <td>1</td>
      <td>-8.333632</td>
    </tr>
    <tr>
      <th>196</th>
      <td>merah</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>195</th>
      <td>santap</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>192</th>
      <td>kepal</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>191</th>
      <td>olah</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>190</th>
      <td>nyata</td>
      <td>1</td>
      <td>-8.852027</td>
    </tr>
    <tr>
      <th>187</th>
      <td>baju</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>186</th>
      <td>nakuti</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>185</th>
      <td>jalin</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>303</th>
      <td>seret</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>93</th>
      <td>leleh</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>490</th>
      <td>makna</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>391</th>
      <td>syukur</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>440</th>
      <td>juluk</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>439</th>
      <td>basuh</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>63</th>
      <td>garap</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>431</th>
      <td>juang</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>430</th>
      <td>cinta</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>429</th>
      <td>kuali</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>426</th>
      <td>awet</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>423</th>
      <td>bilah</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>420</th>
      <td>berterimakasih</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>418</th>
      <td>laksana</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>65</th>
      <td>kering</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>411</th>
      <td>bumbu</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>409</th>
      <td>karya</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>132</th>
      <td>larut</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>403</th>
      <td>terus</td>
      <td>1</td>
      <td>-8.395299</td>
    </tr>
    <tr>
      <th>402</th>
      <td>sana</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>401</th>
      <td>kagum</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>400</th>
      <td>donasi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>395</th>
      <td>cerai</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>61</th>
      <td>rusak</td>
      <td>1</td>
      <td>-8.333632</td>
    </tr>
    <tr>
      <th>445</th>
      <td>belenggu</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>448</th>
      <td>sifat</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>469</th>
      <td>jahit</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>487</th>
      <td>gar</td>
      <td>1</td>
      <td>-8.843650</td>
    </tr>
    <tr>
      <th>485</th>
      <td>hadir</td>
      <td>1</td>
      <td>-8.592901</td>
    </tr>
    <tr>
      <th>484</th>
      <td>akar</td>
      <td>1</td>
      <td>-8.527387</td>
    </tr>
    <tr>
      <th>477</th>
      <td>jaya</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>476</th>
      <td>kaji</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>55</th>
      <td>tular</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>56</th>
      <td>wilsoni</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>57</th>
      <td>urus</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>468</th>
      <td>batas</td>
      <td>1</td>
      <td>-8.333632</td>
    </tr>
    <tr>
      <th>449</th>
      <td>keliru</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>465</th>
      <td>sapu</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>460</th>
      <td>tampil</td>
      <td>1</td>
      <td>-8.468314</td>
    </tr>
    <tr>
      <th>458</th>
      <td>makam</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>457</th>
      <td>sempat</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>455</th>
      <td>tantang</td>
      <td>1</td>
      <td>-8.366202</td>
    </tr>
    <tr>
      <th>453</th>
      <td>cukup</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>452</th>
      <td>bahasa</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>450</th>
      <td>tenang</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>393</th>
      <td>ledak</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>388</th>
      <td>rata</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>308</th>
      <td>kibar</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>67</th>
      <td>waktu</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>350</th>
      <td>telpon</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>349</th>
      <td>topang</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>343</th>
      <td>sutradara</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>342</th>
      <td>lokasi</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>341</th>
      <td>tarung</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>82</th>
      <td>harap</td>
      <td>1</td>
      <td>-8.527387</td>
    </tr>
    <tr>
      <th>336</th>
      <td>proyeksi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>335</th>
      <td>bilang</td>
      <td>1</td>
      <td>-8.445897</td>
    </tr>
    <tr>
      <th>333</th>
      <td>warni</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>83</th>
      <td>khawatir</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>84</th>
      <td>tekan</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>327</th>
      <td>layar</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>326</th>
      <td>selip</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>324</th>
      <td>prosesi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>323</th>
      <td>utus</td>
      <td>1</td>
      <td>-8.592901</td>
    </tr>
    <tr>
      <th>317</th>
      <td>kelupas</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>92</th>
      <td>unduh</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>310</th>
      <td>biar</td>
      <td>1</td>
      <td>-8.468314</td>
    </tr>
    <tr>
      <th>309</th>
      <td>bahas</td>
      <td>1</td>
      <td>-8.607574</td>
    </tr>
    <tr>
      <th>351</th>
      <td>bunuh</td>
      <td>1</td>
      <td>-8.421687</td>
    </tr>
    <tr>
      <th>352</th>
      <td>kosong</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>353</th>
      <td>sembah</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>374</th>
      <td>sandi</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>68</th>
      <td>kontrol</td>
      <td>1</td>
      <td>-8.333632</td>
    </tr>
    <tr>
      <th>384</th>
      <td>meta</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>382</th>
      <td>segar</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>381</th>
      <td>sembuh</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>380</th>
      <td>lunak</td>
      <td>1</td>
      <td>-8.252706</td>
    </tr>
    <tr>
      <th>70</th>
      <td>prei</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>71</th>
      <td>cengkeram</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>377</th>
      <td>lompat</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>372</th>
      <td>tawar</td>
      <td>1</td>
      <td>-8.421687</td>
    </tr>
    <tr>
      <th>81</th>
      <td>populer</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>371</th>
      <td>patah</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>368</th>
      <td>rahasia</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>77</th>
      <td>ukir</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>362</th>
      <td>buah</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>359</th>
      <td>siram</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>358</th>
      <td>halang</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
    <tr>
      <th>356</th>
      <td>lalu</td>
      <td>1</td>
      <td>-8.296430</td>
    </tr>
    <tr>
      <th>355</th>
      <td>analis</td>
      <td>1</td>
      <td>-8.199018</td>
    </tr>
    <tr>
      <th>673</th>
      <td>kilau</td>
      <td>1</td>
      <td>-8.127932</td>
    </tr>
  </tbody>
</table>