<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Precision</th>
      <th>Recall</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.815121</td>
      <td>0.802593</td>
      <td>0.802874</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.837268</td>
      <td>0.802222</td>
      <td>0.811207</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.835395</td>
      <td>0.804815</td>
      <td>0.809195</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.803762</td>
      <td>0.785926</td>
      <td>0.791322</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.824303</td>
      <td>0.795185</td>
      <td>0.804310</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.809284</td>
      <td>0.785926</td>
      <td>0.789770</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.827706</td>
      <td>0.808148</td>
      <td>0.810862</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.820006</td>
      <td>0.801481</td>
      <td>0.805977</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.815057</td>
      <td>0.794074</td>
      <td>0.797414</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.811823</td>
      <td>0.802593</td>
      <td>0.801207</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.820950</td>
      <td>0.792593</td>
      <td>0.798103</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.830511</td>
      <td>0.808889</td>
      <td>0.812989</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.813026</td>
      <td>0.792963</td>
      <td>0.797874</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.845299</td>
      <td>0.821481</td>
      <td>0.824195</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.814836</td>
      <td>0.795185</td>
      <td>0.801092</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.801317</td>
      <td>0.788519</td>
      <td>0.794425</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.799286</td>
      <td>0.788148</td>
      <td>0.788966</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.804878</td>
      <td>0.785185</td>
      <td>0.794310</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.833497</td>
      <td>0.802593</td>
      <td>0.809310</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.821917</td>
      <td>0.804815</td>
      <td>0.807529</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.811535</td>
      <td>0.798519</td>
      <td>0.807759</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.823276</td>
      <td>0.808519</td>
      <td>0.810977</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.833932</td>
      <td>0.805556</td>
      <td>0.804080</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.825120</td>
      <td>0.801852</td>
      <td>0.800862</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.824215</td>
      <td>0.801481</td>
      <td>0.802529</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.825303</td>
      <td>0.815556</td>
      <td>0.819655</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.817856</td>
      <td>0.799259</td>
      <td>0.802989</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0.834102</td>
      <td>0.805185</td>
      <td>0.805977</td>
    </tr>
    <tr>
      <th>28</th>
      <td>0.837097</td>
      <td>0.821852</td>
      <td>0.824080</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0.808016</td>
      <td>0.781111</td>
      <td>0.788966</td>
    </tr>
  </tbody>
</table>