<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Precision</th>
      <th>Recall</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.917400</td>
      <td>0.902222</td>
      <td>0.904425</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.914733</td>
      <td>0.901481</td>
      <td>0.904195</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.920066</td>
      <td>0.906667</td>
      <td>0.906667</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.920811</td>
      <td>0.901667</td>
      <td>0.904737</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.897269</td>
      <td>0.885556</td>
      <td>0.892874</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.916191</td>
      <td>0.902593</td>
      <td>0.904540</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.905306</td>
      <td>0.886296</td>
      <td>0.889885</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.916372</td>
      <td>0.901852</td>
      <td>0.902874</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.918091</td>
      <td>0.894815</td>
      <td>0.899310</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.921104</td>
      <td>0.908889</td>
      <td>0.909655</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.902931</td>
      <td>0.882222</td>
      <td>0.889425</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.910022</td>
      <td>0.895926</td>
      <td>0.897874</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.918771</td>
      <td>0.905926</td>
      <td>0.908103</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.924097</td>
      <td>0.902963</td>
      <td>0.904540</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.911280</td>
      <td>0.895556</td>
      <td>0.897989</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.915903</td>
      <td>0.899630</td>
      <td>0.901437</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.913353</td>
      <td>0.894815</td>
      <td>0.897759</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.909275</td>
      <td>0.886296</td>
      <td>0.891552</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.910373</td>
      <td>0.899630</td>
      <td>0.899885</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.916805</td>
      <td>0.902963</td>
      <td>0.904885</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.904566</td>
      <td>0.896296</td>
      <td>0.896322</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.908516</td>
      <td>0.892593</td>
      <td>0.894655</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.903452</td>
      <td>0.885926</td>
      <td>0.887874</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.909192</td>
      <td>0.892963</td>
      <td>0.894885</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.908821</td>
      <td>0.896296</td>
      <td>0.896437</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.917064</td>
      <td>0.895926</td>
      <td>0.901322</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.921246</td>
      <td>0.899259</td>
      <td>0.903103</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0.919257</td>
      <td>0.905926</td>
      <td>0.906437</td>
    </tr>
    <tr>
      <th>28</th>
      <td>0.908942</td>
      <td>0.889259</td>
      <td>0.892989</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0.917540</td>
      <td>0.898889</td>
      <td>0.902874</td>
    </tr>
  </tbody>
</table>