<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Precision</th>
      <th>Recall</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.906128</td>
      <td>0.890741</td>
      <td>0.894807</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.909693</td>
      <td>0.888519</td>
      <td>0.892456</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.903764</td>
      <td>0.889259</td>
      <td>0.892800</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.920161</td>
      <td>0.902593</td>
      <td>0.906019</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.901295</td>
      <td>0.890000</td>
      <td>0.891546</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.896812</td>
      <td>0.887037</td>
      <td>0.891473</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.912373</td>
      <td>0.898889</td>
      <td>0.900476</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.910218</td>
      <td>0.897407</td>
      <td>0.900334</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.920880</td>
      <td>0.905185</td>
      <td>0.907461</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.909190</td>
      <td>0.894444</td>
      <td>0.895789</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.903511</td>
      <td>0.891852</td>
      <td>0.892874</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.921748</td>
      <td>0.903333</td>
      <td>0.906364</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.913780</td>
      <td>0.900370</td>
      <td>0.901776</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.908282</td>
      <td>0.895185</td>
      <td>0.897461</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.895000</td>
      <td>0.881481</td>
      <td>0.882685</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.910633</td>
      <td>0.894074</td>
      <td>0.895340</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.907466</td>
      <td>0.892222</td>
      <td>0.896019</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.914888</td>
      <td>0.895926</td>
      <td>0.899467</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.909122</td>
      <td>0.896667</td>
      <td>0.896667</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.910058</td>
      <td>0.893333</td>
      <td>0.895238</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.923285</td>
      <td>0.904815</td>
      <td>0.907231</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.924628</td>
      <td>0.913704</td>
      <td>0.915110</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.911147</td>
      <td>0.894815</td>
      <td>0.897231</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.918870</td>
      <td>0.902593</td>
      <td>0.906134</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.905404</td>
      <td>0.892963</td>
      <td>0.895037</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.917351</td>
      <td>0.901111</td>
      <td>0.901891</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.923945</td>
      <td>0.905556</td>
      <td>0.907461</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0.915262</td>
      <td>0.904074</td>
      <td>0.905110</td>
    </tr>
    <tr>
      <th>28</th>
      <td>0.913439</td>
      <td>0.898889</td>
      <td>0.900794</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0.913151</td>
      <td>0.897037</td>
      <td>0.898558</td>
    </tr>
  </tbody>
</table>