<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Precision</th>
      <th>Recall</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.957912</td>
      <td>0.952963</td>
      <td>0.953103</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.946734</td>
      <td>0.939630</td>
      <td>0.941437</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.949731</td>
      <td>0.943333</td>
      <td>0.944885</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.960725</td>
      <td>0.956296</td>
      <td>0.956552</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.961010</td>
      <td>0.952963</td>
      <td>0.956552</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.959816</td>
      <td>0.952963</td>
      <td>0.954770</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.960101</td>
      <td>0.953333</td>
      <td>0.954885</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.957980</td>
      <td>0.952222</td>
      <td>0.952989</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.963737</td>
      <td>0.960000</td>
      <td>0.959885</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.957306</td>
      <td>0.950000</td>
      <td>0.951437</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.957609</td>
      <td>0.949630</td>
      <td>0.951552</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.951028</td>
      <td>0.942963</td>
      <td>0.944885</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.953704</td>
      <td>0.946296</td>
      <td>0.948103</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.948943</td>
      <td>0.943333</td>
      <td>0.944770</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.959769</td>
      <td>0.952963</td>
      <td>0.953218</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.956281</td>
      <td>0.949630</td>
      <td>0.951552</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.955675</td>
      <td>0.949259</td>
      <td>0.951437</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.960640</td>
      <td>0.956667</td>
      <td>0.956667</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.945455</td>
      <td>0.936667</td>
      <td>0.939885</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.957677</td>
      <td>0.952963</td>
      <td>0.953218</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.955152</td>
      <td>0.950000</td>
      <td>0.951552</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.953502</td>
      <td>0.949259</td>
      <td>0.949770</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.946483</td>
      <td>0.943333</td>
      <td>0.941552</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.954377</td>
      <td>0.946667</td>
      <td>0.948218</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.957980</td>
      <td>0.948333</td>
      <td>0.951404</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.951246</td>
      <td>0.942963</td>
      <td>0.946437</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.955657</td>
      <td>0.950000</td>
      <td>0.951552</td>
    </tr>
  </tbody>
</table>