<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<br><br>
<div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>ada</td>
      <td>67</td>
      <td>-5.627203</td>
    </tr>
    <tr>
      <th>2</th>
      <td>seorang</td>
      <td>53</td>
      <td>-4.559253</td>
    </tr>
    <tr>
      <th>3</th>
      <td>setempat</td>
      <td>51</td>
      <td>-4.064103</td>
    </tr>
    <tr>
      <th>4</th>
      <td>lain</td>
      <td>50</td>
      <td>-5.070534</td>
    </tr>
    <tr>
      <th>5</th>
      <td>baru</td>
      <td>40</td>
      <td>-5.053297</td>
    </tr>
    <tr>
      <th>6</th>
      <td>salah</td>
      <td>35</td>
      <td>-5.315165</td>
    </tr>
    <tr>
      <th>7</th>
      <td>secara</td>
      <td>30</td>
      <td>-4.942455</td>
    </tr>
    <tr>
      <th>8</th>
      <td>besar</td>
      <td>24</td>
      <td>-5.216331</td>
    </tr>
    <tr>
      <th>9</th>
      <td>tewas</td>
      <td>24</td>
      <td>-4.463921</td>
    </tr>
    <tr>
      <th>10</th>
      <td>sedang</td>
      <td>23</td>
      <td>-5.083691</td>
    </tr>
    <tr>
      <th>11</th>
      <td>satu</td>
      <td>22</td>
      <td>-5.521494</td>
    </tr>
    <tr>
      <th>12</th>
      <td>sama</td>
      <td>21</td>
      <td>-5.431996</td>
    </tr>
    <tr>
      <th>13</th>
      <td>luar</td>
      <td>19</td>
      <td>-5.021141</td>
    </tr>
    <tr>
      <th>14</th>
      <td>sendiri</td>
      <td>18</td>
      <td>-5.590942</td>
    </tr>
    <tr>
      <th>15</th>
      <td>dekat</td>
      <td>17</td>
      <td>-5.352772</td>
    </tr>
    
  </tbody>
</table>
</div>
</div>