<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<br><br>
<div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>ada</td>
      <td>385</td>
      <td>-4.228064</td>
    </tr>
    <tr>
      <th>2</th>
      <td>lain</td>
      <td>90</td>
      <td>-4.807869</td>
    </tr>
    <tr>
      <th>3</th>
      <td>salah</td>
      <td>80</td>
      <td>-4.820225</td>
    </tr>
    <tr>
      <th>4</th>
      <td>satu</td>
      <td>67</td>
      <td>-4.747758</td>
    </tr>
    <tr>
      <th>5</th>
      <td>besar</td>
      <td>60</td>
      <td>-4.631192</td>
    </tr>
    <tr>
      <th>6</th>
      <td>merah</td>
      <td>59</td>
      <td>-3.989151</td>
    </tr>
    <tr>
      <th>7</th>
      <td>jadi</td>
      <td>52</td>
      <td>-4.955880</td>
    </tr>
    <tr>
      <th>8</th>
      <td>unik</td>
      <td>51</td>
      <td>-4.496914</td>
    </tr>
    <tr>
      <th>9</th>
      <td>ternyata</td>
      <td>51</td>
      <td>-4.700017</td>
    </tr>
    <tr>
      <th>10</th>
      <td>sama</td>
      <td>50</td>
      <td>-4.899004</td>
    </tr>
    <tr>
      <th>11</th>
      <td>baru</td>
      <td>50</td>
      <td>-5.149325</td>
    </tr>
    <tr>
      <th>12</th>
      <td>panas</td>
      <td>43</td>
      <td>-4.303296</td>
    </tr>
    <tr>
      <th>13</th>
      <td>khas</td>
      <td>38</td>
      <td>-4.603824</td>
    </tr>
    <tr>
      <th>14</th>
      <td>sedang</td>
      <td>34</td>
      <td>-5.015141</td>
    </tr>
    <tr>
      <th>15</th>
      <td>baik</td>
      <td>33</td>
      <td>-5.174944</td>
    </tr>
    
  </tbody>
</table>
</div>
</div>