<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<br><br>
<div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Token</th>
      <th>Frekuensi</th>
      <th>Bobot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>ada</td>
      <td>115</td>
      <td>-5.132293</td>
    </tr>
    <tr>
      <th>2</th>
      <td>jadi</td>
      <td>63</td>
      <td>-4.480051</td>
    </tr>
    <tr>
      <th>3</th>
      <td>baru</td>
      <td>52</td>
      <td>-4.824180</td>
    </tr>
    <tr>
      <th>4</th>
      <td>sama</td>
      <td>50</td>
      <td>-4.612355</td>
    </tr>
    <tr>
      <th>5</th>
      <td>lain</td>
      <td>46</td>
      <td>-5.179675</td>
    </tr>
    <tr>
      <th>6</th>
      <td>salah</td>
      <td>43</td>
      <td>-5.142818</td>
    </tr>
    <tr>
      <th>7</th>
      <td>sendiri</td>
      <td>42</td>
      <td>-4.794644</td>
    </tr>
    <tr>
      <th>8</th>
      <td>pasti</td>
      <td>40</td>
      <td>-4.580849</td>
    </tr>
    <tr>
      <th>9</th>
      <td>ternyata</td>
      <td>29</td>
      <td>-4.968830</td>
    </tr>
    <tr>
      <th>10</th>
      <td>langsung</td>
      <td>29</td>
      <td>-4.859675</td>
    </tr>
    <tr>
      <th>11</th>
      <td>satu</td>
      <td>28</td>
      <td>-5.316206</td>
    </tr>
    <tr>
      <th>12</th>
      <td>seorang</td>
      <td>25</td>
      <td>-5.322624</td>
    </tr>
    <tr>
      <th>13</th>
      <td>lama</td>
      <td>23</td>
      <td>-5.350558</td>
    </tr>
    <tr>
      <th>14</th>
      <td>terbaru</td>
      <td>23</td>
      <td>-4.739830</td>
    </tr>
    <tr>
      <th>15</th>
      <td>secara</td>
      <td>22</td>
      <td>-5.272846</td>
    </tr>
    
  </tbody>
</table>
</div>
</div>